#form-cv {
    background-color: #f0f4f4;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 23px;
    color: #070000
}

#form-cv p {
    margin-top: 0;
}

#sortable .cvo-block {
    margin-bottom: 20px;
    margin-top: 8px;
}

#cv-main {
    display: table;
    width: 100%;
}

#cv-top {
    text-align: center;
    background-image: url(header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
}

#cv-content {
    width: 45%;
    float: right;
    position: relative;
    padding-top: 10px;
}

#cv-right {
    width: 54%;
    float: left;
    position: relative;
    padding-top: 50px;
}

#cv-right h3 {
    line-height: normal;
    margin-bottom: 10px
}

#cv-right .ir {
    text-align: justify;
    padding: 10px 0px 0px 32px;
}

p.skill-name input {
    color: #070000!important;
}

#cv-right .ctbx {
    padding: 0;
    margin: 0;
    border: 0;
}

.skill {
    margin-top: 15px
}

#cv-top h1 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    color: #000;
}

#box-hvt {
    display: inline-block;
}

#cv-top h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 1px;
    display: inline-block;
    color: #000000;
    font-weight: normal;
}

.box-01 p {
    overflow: hidden;
}

#cv-content .ir {
    margin: 0 15px;
}

#cv-content p {
    margin-bottom: 5px;
    color: #0b3a40;
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #bba426;
}

.bar-value-exp input[type="text"] {
    color: #000;
}

#cv-content .head {
    height: 30px;
    line-height: 30px;
}

#cv-content h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #1a464c;
}

#cv-content .cvo-block {}

.ctbx {
    padding-left: 0;
    padding-right: 0
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

.ctbx {
    position: relative;
}

.ctbx .r5 .h3 {
    text-transform: uppercase;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#box-hvt {
    float: right;
    width: 60%;
}

#cvo-profile {
    padding-top: 30px;
}

#cvo-profile-avatar-wraper {
    float: left;
    width: 226px;
    margin-bottom: -50px;
    margin-top: 95px;
    position: relative;
    z-index: 100;
    padding-left: 40px;
}

#cvo-profile-avatar-wraper .wimg {
    display: table;
    padding: 4px;
    margin: auto;
}

#cvo-profile-avatar-wraper img {
    width: 226px;
    height: 226px;
    display: inline-block;
    float: none
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 8px;
    background: #bba426;
}

.bar-exp {
    width: 100%;
    background: #e1e1e1;
    height: 8px;
    float: right;
    margin-bottom: 12px;
}

.icoweb label {
    display: block;
    color: #627e88;
}

#cv-right .icoweb span {
    color: #070000;
}

#sortable .icoweb {
    margin: 0;
    padding: 0;
    float: left;
    text-align: left;
    padding-left: 10px;
}

.ic {
    margin: 0;
    padding: 0;
    float: left;
    clear: both;
    margin-bottom: 2px;
}

#form-cv .icf {
    float: left;
    /* line-height: 28px; */
    margin-bottom: 0px;
    width: 41px;
    height: 27px;
    background: transparent;
    text-align: center;
    border: 1px solid #dfd499;
}

.ic .icoweb {
    text-align: left;
    float: right;
    /* line-height: 36px; */
    padding-left: 4px;
    color: #fff;
}

.icf .fa {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    margin-top: 5px;
    float: none
}

#sortable {
    width: 100%;
}

#all-name {
    width: 100%;
    float: left;
    clear: both;
}

.img {
    width: 11%;
    height: 110px;
    float: left;
    background-image: url(bg-name.png);
    background-repeat: repeat-y;
    background-position: left;
}

.name-item {
    width: 85%;
    float: left;
    padding-top: 38px;
}

.name-item h1 {
    margin: 0;
    font-size: 28px;
    font-family: "Roboto";
    color: rgb(43, 43, 43);
    font-weight: bold;
    text-align: left;
}

.name-item h2 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(43, 43, 43);
}

.titlt-if {
    width: 200px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    /* margin-left: -200px;
    padding-top: 20px; */
    margin-left: -216px;
    padding-top: 32px;
    background: transparent;
}

#prof {
    margin-top: -25px;
    z-index: 100;
}

.ic .icoweb span {
    width: 385px;
}

#cv-right .block {
    padding-right: 0;
}

.exp-content {
    text-align: justify;
    color: #0b3a40;
}

.box-content {
    color: #0b3a40;
}

.skill-name {
    color: #0b3a40;
}

#cv-profile-birthday::before {
    color: #fff;
}

#cv-profile-sex::before {
    color: #fff;
}

#cv-profile-phone::before {
    color: #fff;
}

#cv-profile-email::before {
    color: #fff;
}

#cv-profile-address::before {
    color: #fff;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}