#form-cv{
	width: 100%;
	/* min-height: 1271px;	 */
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#434748;
	border: solid 1px #e1e1e1;
		
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 30px
}

#cv-main{
	/* display: table; */
	/* padding: 20px 0; */
}
#cv-top{	
	width: 39%;
	float: left;
	padding-bottom: 20px;

padding-top: 30px;}
#cv-content{
	width: 60%;
	/* min-height: 800px; */
	float: right;
	position: relative;	
padding-top: 20px;}
#cv-right{
	width: 39%;
	/* min-height: 800px; */
	float: left;	
	position: relative;	
}

p.skill-name input{
	color: #434748!important;
}

#cv-right .cvo-block span{
	color: #434748;
}

#cv-right .ctbx {
	padding-bottom: 0;
	margin:0;
}
.skill{
	margin-top: 15px
}


#cv-top h1{
	font-size: 27px;	
	margin:0;
	padding:5px 10px 5px 10px;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
    font-weight: bold;
}

#cv-top h1 span{	
	color: #f9ad81;
}

#cv-top h2{
	font-size: 16px;
	font-weight: normal;
	color: #434748;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 20px;
}
.box-01 p{		
    overflow: hidden;
}
.box-01{		
	overflow: hidden
}
#cv-content .ir{
	padding: 0 10px
}
#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	background: #f9ad81;	
	font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;    
}

#cv-right .cvo-block h3 span{
	color:#fff;
}
#cv-content h3{	
	font-weight: bold;
    font-size: 15px;
    margin-bottom: 0
}

#cv-content .head{	
	background: url('bg1.png') top left no-repeat;	
	color:#fff;
	background: #f9ad81
}

#cv-content .cvo-block {
    padding: unset;
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}

.ctbx{
	margin-bottom: 25px;
	position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#cvo-profile-avatar-wraper{	
	padding:5px;
	width:200px;
	margin:auto;	
}
#cvo-profile-avatar-wraper img{
	width: 200px;  	
  	height: 200px;
  	float:none;  
  	display: inline-block;
}
#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #f9ad81;
}	
.bar-exp {
    width: 100%;
    background: #e1e1e1;
    height: 8px;
    float: right;
    margin-bottom: 12px;
}
.icoweb label{
	display: block;
	color:#627e88;
}
#cv-right .icoweb span{
	display: block;
	color: #434748;
	width: 100%;
}
#cv-right .ir{
	padding-left: 10px
}
#sortable .icoweb{
	width: 240px;
	float: left;
	padding-left: 0;
	margin-bottom: 0
}
.ic{
	float: left;width: 100%
}
#form-cv .icf{
	float: left;		
	line-height: 22px;
	font-size: 14px;
	margin-bottom: 0;
	width: 22px;			
}
.ic .icoweb{
	float: left	
}
.icf .fa{
	font-size: 14px;	
	color:#f9ad81;	
	font-weight: normal;
	margin-top: 0;	
	float: none
}
div#box01 .box-content, div#box02 .box-content, div#box03 .box-content, div#box04 .box-content, div#box05 .box-content, div#box06 .box-content, div#box07 .box-content {
    width: 270px;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}