/* 2 */

:root {
    --cv-top: url(top2.png) no-repeat, url(soc2.png) no-repeat;
    --page: url(foot2-2.png) no-repeat, url(soc2.png) no-repeat;
    --job: #5bd8a7;
    --title: #798df1;
    --info: url(info2.png) no-repeat;
    --time: url(time2.png) no-repeat;
    --content: url(center2.png) no-repeat;
    --skill: url(skill2.png) no-repeat;
    --kn: url(kn2.png) no-repeat;
    --foot: url(foot2-3.png) no-repeat;
    --soc: url(soc2.png) no-repeat;
}