/* 3 */

:root {
    --cv-top: url(top3.png) no-repeat, url(soc3.png) no-repeat;
    --page: url(foot3-2.png) no-repeat, url(soc3.png) no-repeat;
    --job: #f179b7;
    --title: #f09f5d;
    --info: url(info3.png) no-repeat;
    --time: url(time3.png) no-repeat;
    --content: url(center3.png) no-repeat;
    --skill: url(skill3.png) no-repeat;
    --kn: url(kn3.png) no-repeat;
    --foot: url(foot3-3.png) no-repeat;
    --soc: url(soc3.png) no-repeat;
}