#cv-top {
    width: 100%;
    height: 306px;
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all{
  float: left;
  clear: both;
  background-image: url(main3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  width: 100%;
}
#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 35px;
    font-family: "Roboto";
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #3399cc;
    font-weight: bold;
    width: 73%;
    float: left;
}
div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #3399cc;
    border-bottom: solid 2px #3399cc;
}
#cv-top h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    border-bottom: solid 2px #3399cc;
    float: left;
    /* text-align: center; */
    padding-top: 5px;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #3399cc;
    float: left;
    width: 100%;
}
.bar-exp {
    background: #cccccc;
    height: 8px;
    float: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
    float: right;
    width: 100%;
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #3399cc;
    margin-top: 0px;
}
#cv-content .head {
    padding: 0;
    margin: 0;
    line-height: 53px;
    width: 100%;
    float: left;
    background: url(gach3.png)no-repeat;
    background-size: 100% 39%;
    background-position: 188px 15px;
}
#block02 .head{
      padding: 0;
    margin: 0;
    line-height: 53px;
    width: 100%;
    float: left;
    background: url(gach2.png)no-repeat;
    background-size: 100% 39%;
    background-position: 230px 15px;
}
#block03 .head{
      padding: 0;
    margin: 0;
    line-height: 53px;
    width: 100%;
    float: left;
    background: url(gach3.png)no-repeat;
    background-size: 100% 39%;
    background-position: 120px 15px;
}
#block04 .head{
      padding: 0;
    margin: 0;
    line-height: 53px;
    width: 100%;
    float: left;
    background: url(gach3.png)no-repeat;
    background-size: 100% 39%;
    background-position: 165px 15px;
}
.box-dm {
    width: 312px;
    height: 317px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(avata3.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -300px;
    /* margin-left: 17px; */
    top: -800px;
    position: absolute;
}