#form-cv{	
	font-size: 15px
}
.box-01{
	font-size: 15px
}
#cv-content .head{
	font-size: 18px
}
#cv-right .h3{
	font-size: 18px
}
#cv-content h3{
	font-size: 15px
}
#cv-top h2{
	font-size: 18px
}
#cv-top h1{
	font-size: 42px
}