#form-cv{
	width: 100%;	
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#434748;
	outline: solid 1px #e1e1e1;
		
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 30px
}

#cv-main{
	/* display: table; */
	padding: 30px 0;
}
#cv-top{	
	width: 35.6%;
	float: left;
    padding: 20px 0;
}
#cv-content{
	width: 60%;
	/* min-height: 800px; */
	float: right;
	position: relative;	
}
#cv-right{
	width: 39%;
	/* min-height: 800px; */
	float: left;	
	position: relative;	
}

p.skill-name input{
	color: #434748!important;
}

#cv-right .cvo-block span{
	color: #434748;
}

#cv-right .ctbx {
	padding-bottom: 0;
	margin:0;
}
#cv-top h1{
	font-size: 27px;	
	margin:0;
	padding:5px 10px;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
    font-weight: bold;
    color: #1974bb;
}

#cv-top h2{
	font-size: 16px;
	font-weight: normal;
	color: #434748;
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
}
.box-01 p{		
    overflow: hidden;
}
.box-01{		
	overflow: hidden
}
#cv-content .ir{
	padding: 0 10px
}
#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;    
}
#cv-right h3{
	background: url('bg.png') top center no-repeat;
	padding-top: 10px;	
	margin-bottom: 10px
}
#cv-content .head span{	
}

#cv-right h3 span{
	background: #ffffff	
}
#cv-content h3{	
	font-weight: bold;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 5px;
}

#cv-content .head{	
	background: url('bg1.png') top left no-repeat;
	padding-top: 10px;
	padding-bottom: 5px;
}

.bar-value-exp input[type="text"]{
	color:#494949;
}

.ctbx{
	margin-bottom: 25px;
	position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#cvo-profile-avatar-wraper{		
	width:170px;
	margin:auto;	
}
#cvo-profile-avatar-wraper img{
	width: 170px;  	
  	height: 170px;
  	float:none;  
  	display: inline-block;
}
#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #63b7f8;
}	
.bar-exp {
    width: 100%;
    background: #e1e1e1;
    height: 8px;
    float: right;
    margin-bottom: 12px;
}
.icoweb label{
	display: block;
	color:#627e88;
}
#cv-right .icoweb span{
	display: block;
	color: #434748;
	width: 100%;
}
#cv-right .ir{
	padding-left: 10px
}
#sortable .icoweb{	
	float: left;
	padding-left: 10px;
	margin-bottom: 0;
	width: 225px;
}
.ic{
	float: left;width: 100%
}
#form-cv .icf{
	float: left;		
	line-height: 22px;
	font-size: 12px;
	margin-bottom: 0;
	width: 22px;	
	border-radius: 20px;
	background: #000;
	text-align: center;	
}
.ic .icoweb{
	float: left	
}
.icf .fa{
	font-size: 12px;	
	color:#fff;	
	font-weight: normal;
	margin-top: 0;	
	float: none
}
div#box01 .box-content, div#box02 .box-content, div#box03 .box-content, div#box04 .box-content, div#box05 .box-content, div#box06 .box-content, div#box07 .box-content {
    width: 270px;
}
.exp-content {
    width: 430px;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}