#form-cv {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #494949;
    outline: 1px solid #e1e1e1
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    background: #fff;
}

#form-cv p {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

.icoweb span {
    display: block;
}

#sortable .cvo-block {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
}

#cv-content h3 .exp-title {
    float: left;
    width: 94%;
    color: #fff;
}

#cv-content h3 .exp-date {
    float: right;
    text-align: right;
    width: 27.99%
}

div#cv-main {
    float: left;
    width: 100%;
    background: url(bd.png)no-repeat;
    background-size: 100% 100%;
}

#cv-top {
    width: 100%;
    background-image: url(hd1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 390px;
}

#cvo-profile {
    display: block;
    float: left;
    width: 100%;
}

.box-01 {
    float: left;
    width: 100%;
}

#cv-content {
    width: 51%;
    float: right;
    position: relative;
    margin-right: 35px;
}

#sortable .box-contact {
    margin: 0;
}

#cv-right {
    width: 39%;
    float: left;
    position: relative;
    margin-left: 18px;
}

p.skill-name input {
    color: #070000!important;
}

#cv-top h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 40px;
    line-height: 48px;
    margin-top: 0;
    font-weight: bold;
}

#cv-top h2 {
    padding: 0;
    margin: 0;
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto 15px;
    line-height: 25px;
    text-align: left;
    height: 30px;
    margin-bottom: 0px;
    color: #fff;
}

#cv-content .head {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 35px;
    text-align: left;
    margin-bottom: 0px;
}

#cv-content h3 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 0;
    color: #fff;
    font-weight: bold;
}

.bar-value-exp input[type="text"] {
    color: #fff;
    height: 30px;
}

.bar-value-exp {
    width: 91%;
    float: right;
}

#cv-content .exp-date {
    font-weight: normal;
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

.ctbx {
    /* margin-bottom: 10px; */
    position: relative;
    font-weight: bold!important;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    float: left;
    width: 37%;
    padding-top: 41px;
    padding-left: 29px;
}

#box-hvt {
    float: right;
    width: 56%;
    padding-top: 54px;
    position: relative;
}

#cvo-profile .box-contact {
    float: right;
    width: 56%;
    /*
margin-top: 20px;*/
}

#cvo-profile-avatar-wraper .wimg img {
    width: 240px;
    height: 295px;
    display: inline-block;
    margin: auto;
    float: none;
    object-fit: cover;
    border: 5px solid #fff;
}

.wimg {
    width: 300px;
    height: 310px;
    float: right;
    display: unset !important;
}

#cvo-profile-avatar {
    width: 280px;
    height: 280px;
}

.box-dm {
    width: 342px;
    height: 342px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(ava1.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -348px;
    position: absolute;
    top: -900px;
    margin-left: 1px;
}

#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}

.bar-exp div {
    float: left;
    height: 10px;
    background: #2ab5e6;
}

.bar-exp {
    width: 93%;
    background: #44403e;
    height: 10px;
    float: right;
    margin-bottom: 12px;
}

.icoweb label {
    display: block;
    color: #fff;
}

.icoweb {
    float: left;
    padding-left: 2px;
    margin-bottom: 0
}

.ic {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

#form-cv .icf {
    float: left;
    line-height: 28px;
    margin-bottom: 0;
    font-size: 12px;
    width: 22px;
    text-align: center;
}

.ic .icoweb {
    width: 86%;
    text-align: left;
    padding-left: 5px;
    float: left;
    color: #fff;
}

.ic .fa {
    font-size: 22px;
    color: #2ab5e6;
    margin-top: 0;
    float: none;
}

.box-content {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    width: 93%;
    padding-left: 20px;
}

.exp.content-edit.skill {
    z-index: 10;
    position: relative;
}

div#box03 {
    background: url(liner_08.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

.exp-content,
.exp-subtitle,
span.exp-title {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.ic .icf1 {
    float: left;
    margin-bottom: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.ic .icf2 {
    float: left;
    margin-bottom: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.ic .icf3 {
    float: left;
    margin-bottom: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.ic .icf4 {
    float: left;
    margin-bottom: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.ic .icf5 {
    float: left;
    margin-bottom: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}


/*#box02 h3{
background: url(tr_03.png) no-repeat;
height: 38px;
padding-left: 50px;
}

#box03 h3{
background: url(tr_06.png) no-repeat;
height: 38px;
padding-left: 50px;
}

#box04 h3{
background: url(tr_08.png) no-repeat;
height: 38px;
padding-left: 50px;
}

#box05 h3{
background: url(tr_11.png) no-repeat;
height: 38px;
padding-left: 50px;
}

#box06 h3{
background: url(tr_13.png) no-repeat;
height: 38px;
padding-left: 50px;
}

#box07 h3{
background: url(tr_15.png) no-repeat;
height: 38px;
padding-left: 50px;
}*/

#cv-content .cvo-block {
    padding: 0;
}

#experience-table {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    width: 95%;
    padding-left: 20px;
}


/*#block01 .head{
background: url(ic_01.png) no-repeat;
height: 38px;
padding-left: 55px;
}
#block02 .head{
background: url(ic_02.png) no-repeat;
height: 38px;
padding-left: 55px;
}
#block03 .head{
background: url(ic_03.png) no-repeat;
height: 38px;
padding-left: 55px;
}
#block04 .head{
background: url(ic_04.png) no-repeat;
height: 38px;
padding-left: 55px;
}
#block05 .head{
background: url(ic_05.png) no-repeat;
height: 38px;
padding-left: 55px;
}*/

#prof {
    width: 100%;
}

.footer {
    background: url(ft1.png) no-repeat;
    background-size: 100% 100%;
    height: 140px;
    float: left;
    width: 100%;
}

#box02 .box-content {
    background: url(liner_03.png) no-repeat;
    background-size: 5%;
    background-position: left;
}

#box04 .box-content {
    background: url(liner_12.png) no-repeat;
    background-size: 5%;
    background-position: left;
}

#box05 .box-content {
    background: url(liner_16.png) no-repeat;
    background-size: 5%;
    background-position: left;
}

#box06 .box-content {
    background: url(liner_05.png) no-repeat;
    background-size: 5%;
    background-position: left;
}

#box07 .box-content {
    background: url(liner_12.png) no-repeat;
    background-size: 5%;
    background-position: left;
}

#block01 div#experience-table {
    background: url(liner_12.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

#block02 div#experience-table {
    background: url(liner_08.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

#block03 div#experience-table {
    background: url(liner_14.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

#block04 div#experience-table {
    background: url(liner_19.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

#block05 div#experience-table {
    background: url(liner_23.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

p.skill-name {
    width: 93%;
    padding-left: 20px;
}