#cv-content .head div, #cv-main{
    background: #77b353;
}
#cv-right h3, #cv-content .head, #cv-right .cvo-block h3 div{
	color:#77b353;
}
#cv-content .head{	
	background: url('line77b353.png') center center repeat-x;	
}