#cv-content .head div, #cv-main{
    background: #b81819;
}
#cv-right h3, #cv-content .head, #cv-right .cvo-block h3 div{
	color:#b81819;
}
#cv-content .head{	
	background: url('lineb81819.png') center center repeat-x;	
}