#cv-content .head span{
    background-color: #e3eece;
}

.cv_tt{
     background: #e3eece;
}
#cv-main{
    background:#e3eece;
}

#cv-content .head{
    background-image: url(../line1.png);
    background-repeat: repeat-x;
    background-position: center right;
    height: 20px;
    line-height: 25px;
    font-size: 18px;
}
.ft{
    background-image: url(../ft1.png);
    background-position: bottom right;
    height: 50px;
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%; 
}
#cv-top{
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-image: url(../hd1.png);
    background-position: top center;
    background-repeat: no-repeat;
    height: 125px;
    padding-top: 10px;
}