.cumicc2{
    background: url(tl_02_03.png) no-repeat left center;
    background-size: 100% 100%;
    width: 45px;
    height: 30px;
    float: left;
  }
  .cumicc3{
    background: url(tl_02_06.png) no-repeat left center;
    background-size: 100% 100%;
    width: 45px;
    height: 30px;
    float: left;
  }
  .cumicc4{
    background: url(tl_02_08.png) no-repeat left center;
    background-size: 100% 100%;
    width: 45px;
    height: 30px;
    float: left;
  }
  .cumicc5{
    background: url(tl_02_10.png) no-repeat left center;
    background-size: 100% 100%;
    width: 45px;
    height: 30px;
    float: left;
  }
  .cumicc6{
    background: url(tl_02_12.png) no-repeat left center;
    background-size: 100% 100%;
    width: 45px;
    height: 30px;
    float: left;
  }
  .cumicc7{
    background: url(tl_02_14.png) no-repeat left center;
    background-size: 100% 100%;
    width: 45px;
    height: 30px;
    float: left;
  }
  .icright1{
    background: url(tr_02_03.png) no-repeat left center;
    background-size: 100% 100%;
    width: 45px;
    height: 30px;
    float: left;
  }
  .icright2{
    background: url(tr_02_06.png) no-repeat left center;
    background-size: 100% 100%;
    width: 45px;
    height: 30px;
    float: left;
  }
  .icright3{
    background: url(tr_02_08.png) no-repeat left center;
    background-size: 100% 100%;
    width: 45px;
    height: 30px;
    float: left;
  }
  .icright4{
    background: url(tr_02_10.png) no-repeat left center;
    background-size: 100% 100%;
    width: 45px;
    height: 30px;
    float: left;
  }
  .icright5{
    background: url(tr_02_12.png) no-repeat left center;
    background-size: 100% 100%;
    width: 45px;
    height: 30px;
    float: left;
  }
  
  #cv-top {
    background-image: url(hd_02.png);
    background-size: 100% 100%;
  }
  .all{
    background: url(main_02.png)no-repeat;
    background-size: 100% 100%;
  }
  .footer{
    background: url(ft_02.png)no-repeat;
    background-size: 100% 100%;
  }
  .bar-exp div {
    float: left;
    height: 7px;
    background: #f94200;
  }
  .bar-exp {
    border: 2px solid #f94200;
  }
  #cvo-profile-avatar-wraper .wimg {
    border: 2px solid #f94200;
  }
  div#cv-boxtitle{
    color: #f94200;
  }
  #cv-content .head #cvo-experience-blocktitle {
    color: #f94200;
}

    #cv-top h1{
        color: #f94200;
    }
    #cv-content .head #cvo-experience-blocktitle{
        color: #f94200;
    }
  .ic .icf1 {
    float: left;
    margin-bottom: 0;
    width: 25px;
    line-height: 25px;
    height: 25px;
    text-align: left;
    background: url(icon_02_03.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
  }
  
  #form-cv .icf2 {
    float: left;
      margin-bottom: 0;
      width: 25px;
      line-height: 25px;
      height: 25px;
      text-align: left;
      background: url(icon_02_06.png)no-repeat;
      background-position: left;
      background-size: 100% 100%;
  }
  #form-cv .icf3 {
    float: left;
      margin-bottom: 0;
      width: 25px;
      line-height: 25px;
      height: 25px;
      text-align: left;
      background: url(icon_02_08.png)no-repeat;
      background-position: left;
      background-size: 100% 100%;
  }
  #form-cv .icf4 {
    margin-bottom: 0;
      width: 25px;
      line-height: 16px;
      height: 25px;
      text-align: left;
      background: url(icon_02_10.png)no-repeat;
      background-position: left;
      background-size: 100% 100%;
      float: left;
  }
  #form-cv .icf5 {
    float: left;
      margin-bottom: 0;
      width: 25px;
      line-height: 25px;
      height: 25px;
      text-align: left;
      background: url(icon_02_13.png)no-repeat;
      background-position: left;
      background-size: 100% 100%;
  }