#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}


/*#sortable .cvo-block {
  margin-bottom: 15px;
  margin-top: 8px;
  border: 1px solid #24400e;
  padding: 0;
  padding-bottom: 15px;
}*/

#sortable .cvo-block .box-content {
    margin: 0;
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
    color: #000;
    padding-bottom: 15px;
}

.exp.content-edit.skill {
    border-radius: 10px;
    float: left;
    padding: 10px 0;
}

#cvo-profile {
    display: block;
}

#cv-content {
    width: 50%;
    text-align: justify;
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

#cv-profile-phone:before {
    color: #000;
}

#cv-profile-email:before {
    color: #000;
}

#cv-profile-address:before {
    color: #000;
}

#cv-profile-sex:before {
    color: #000;
}

#cv-profile-birthday:before {
    color: #000;
}

#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    width: 47.3%;
    margin-left: 11px;
    padding-top: 10px;
}

#cv-right .ir {
    padding: 0;
    margin: 0;
}

#cv-main #cv-right {
    padding: 0;
    margin: 0;
}

#cv-main #cv-right .ir #sortable {
    padding: 0;
    margin: 0;
}

#cv-right .ir #sortable .block {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

p.skill-name input {
    color: #fff !important;
}

#cv-right #box03 .ctbx {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    padding-bottom: 10px;
    float: left;
}

#box03 .exp {
    float: left;
    padding-top: 25px;
}

#cv-top {
    width: 100%;
    height: 265px;
    background-image: url(hd.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.all {
    float: left;
    clear: both;
    width: 100%;
    background: url(main.png)no-repeat;
    background-size: 100% 100%;
}

#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 28px;
    font-family: "Roboto";
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #f0ad45;
    font-weight: bold;
    text-align: left;
    width: 100%;
    float: left;
}

#cv-top h1 span {
    ;
}

#box-hvt {
    float: left;
    width: 53%;
    padding: 0;
    margin: 0;
    padding-top: 85px;
    padding-left: 0px;
    margin-left: 26px;
}

#sortable #box01 {
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0;
    padding-bottom: 20px;
}

#sortable #box01 #prof {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    border-radius: 10px;
}

#box01 ul {
    list-style: none;
    padding-left: 20px
}

#cv-right .cvo-block .head div {
    color: #fff;
}

.innertext {
    margin: 0px;
    padding: 0px;
    width: 29%;
    float: left;
    color: white;
}

#cv-top h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    font-size: 13px;
    color: #f0ad45;
    text-align: left;
    float: left;
    padding-top: 10px;
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    padding-top: 0px;
}

#cv-content h3 {
    font-weight: unset;
    font-size: 14px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    color: #000;
}

#cv-content #block02 .exp-content {
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

#cv-content #block03 h3 {
    font-weight: unset;
}

#cv-content .exp-date {
    float: none;
}

#cv-content #block01 .exp-date {
    display: none;
}

#cv-content #block03 .exp-date {
    display: none;
}

#cv-content #block04 .exp-date {
    display: none;
}

#cv-content #block05 .exp-date {
    display: none;
}

#cv-content p.h3 {
    margin: 0px;
    padding: 0px;
}

#cv-content .cvo-block {
    padding: 0 !important;
    float: left;
    width: 100%;
}

#cv-content .ir .cvo-block {
    padding: 0;
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

#cv-content #block02 h3 {
    font-weight: bold;
    color: #f0ad45;
    float: left;
    width: 100%;
}

#block02 #experience-table #exp2 {}

.ctbx {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    width: 24%;
    height: 200px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    padding-top: 36px;
    padding-left: 30px;
}

#cvo-profile-avatar-wraper .wimg {
    width: 170px;
    height: 170px;
    float: left;
    display: unset !important;
    border: 3px solid #f0ad45;
    border-radius: 10px;
}

#cvo-profile-avatar-wraper img {
    width: 170px;
    height: 170px;
    float: none;
    border-radius: 8px;
}

.box-01 {
    float: left;
    width: 100%;
    height: 265px;
}

#cvo-profile {
    display: block;
    float: left;
    width: 100%;
    height: 265px;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 7px;
    background: #f0ad45;
    margin-top: 0px;
    border-radius: 10px;
}

.ctbx .skill-name {
    margin: 0px;
    padding: 0px;
    color: #000;
    float: left;
    width: 60%;
}

.bar-exp {
    background: #fff;
    height: 7px;
    float: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #f0ad45;
    float: right;
    width: 35%;
    border-radius: 10px;
}

.bar-value-exp {
    width: 100%
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
}

.icoweb label {
    display: block;
}


/*#sortable .icoweb {
width: 87%;
height: 30px;
line-height: 30px;
float: right;
padding-left: 5px;
margin-bottom: 0;
color: #fff;
}*/

#cv-right .block {
    position: relative !important;
    padding: 0;
    margin: 0;
}

.ic .icoweb {
    width: 80%;
    text-align: left;
    padding-left: 5px;
    float: left;
    color: #000;
    padding-top: 7px;
}

.ic {
    width: 100%;
    float: left;
    color: #000;
}

#prof span {}

#prof [contentEditable=true] {
    width: 100%;
    float: left;
}

#prof .icoweb,
#prof .icoweb span {
    height: auto;
}

#sortable .ic {
    margin-bottom: 5px;
    padding-top: 0px;
}

div#prof {
    float: left;
    width: 100%;
}

#form-cv .icf {
    float: left;
    border-radius: 50%;
    line-height: 30px;
    margin-bottom: 0;
    width: 35px;
    height: 35px;
    text-align: center;
}

.icf .fa {
    font-size: 20px;
    color: #f0ad45;
    margin-top: 0;
    float: left;
    padding-top: 7px;
    padding-left: 9px;
}

.container {
    width: 100%;
}

.sum {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-right .block {
    margin-bottom: 10px;
    position: relative;
    padding: 0;
    padding-bottom: 20px;
}

#cv-content .head {
    padding: 0;
    margin: 0 auto;
    height: 40px;
    width: 75%;
    line-height: 40px;
    text-align: center;
    background: #fff;
}

#experience-table .ctbx {}

.ifo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-right h3 {
    width: 100%;
    height: 30px;
    margin: 0;
    color: #ffffff;
    padding: 0;
    float: left;
    line-height: 30px;
    text-align: center;
    background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #f0ad45;
}

#experience-table #exp2 {
    margin-top: 10px;
}

#exp1 .exp-content {}


/*#icon{
  width: 30px;
  height: 30px;
  background: url(icon1.png)no-repeat;
  float: left;
  border-bottom: 2px solid #fff;
}*/

#bg {
    background: #F58284;
    text-align: left;
}


/*#prof {
  padding: 5px 35px;
  width: 90%;
  background: url(bg-it.png);
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position-y: center;
}*/


/*.cumicc1 {
  width: 43px;
  height: 40px;
  float: left;
  background: url(ic_03.png);
  background-position:center;
  background-repeat: no-repeat;
}
.cumicc2 {
  width: 43px;
  height: 40px;
  float: left;
  background: url(ic_13.png);
  background-position:center;
  background-repeat: no-repeat;
}
.cumicc3 {
  width: 43px;
  height: 40px;
  float: left;
  background: url(ic_17.png);
  background-position:center;
  background-repeat: no-repeat;
}
.cumicc4 {
  width: 43px;
  height: 40px;
  float: left;
  background: url(ic_24.png);
  background-position:center;
  background-repeat: no-repeat;
}
.cumicc5 {
  width: 43px;
  height: 40px;
  float: left;
  background: url(ic_28.png);
  background-position:center;
  background-repeat: no-repeat;
}
.cumicc6 {
  width: 43px;
  height: 40px;
  float: left;
  background: url(ic_31.png);
  background-position:center;
  background-repeat: no-repeat;
}
.cumicc7 {
  width: 43px;
  height: 40px;
  float: left;
  background: url(ic_36.png);
  background-position:center;
  background-repeat: no-repeat;
}*/

div#experience-table {
    margin: 0px;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 15px;
    float: left;
    padding-left: 15px;
    color: #000;
}

.tt-box1 {
    padding: 0;
    margin: 0 auto;
    height: 40px;
    width: 75%;
    line-height: 40px;
    text-align: center;
    background: #f5f3dc;
}

div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f0ad45;
}

.ski {
    padding: 0;
    margin: 0 auto;
    height: 40px;
    width: 75%;
    line-height: 40px;
    text-align: center;
    background: #f5f3dc;
}

.cum {
    padding: 0;
    margin: 0 auto;
    height: 40px;
    width: 75%;
    line-height: 40px;
    text-align: center;
    background: #f5f3dc;
}


/*.icright {
  width: 60px;
  height: 40px;
  float: left;
  background: url(ic_19.png);
  background-position: center;
  background-repeat: no-repeat;
}*/


/*.icright1 {
  width: 44px;
  height: 40px;
  float: left;
  background: url(ic_05.png);
  background-position:center;
  background-repeat: no-repeat;
}
.icright2 {
  width: 44px;
  height: 40px;
  float: left;
  background: url(ic_10.png);
  background-position:center;
  background-repeat: no-repeat;
}
.icright3 {
  width: 44px;
  height: 40px;
  float: left;
  background: url(ic_21.png);
  background-position:center;
  background-repeat: no-repeat;
}
.icright4 {
  width: 44px;
  height: 40px;
  float: left;
  background: url(ic_33.png);
  background-position:center;
  background-repeat: no-repeat;
}
.icright5 {
  width: 44px;
  height: 40px;
  float: left;
  background: url(ic_39.png);
  background-position:center;
  background-repeat: no-repeat;
}*/

.footer {
    background: url(ft.png)no-repeat;
    background-size: 100% 100%;
    height: 100px;
    float: left;
    width: 100%;
}

div#sort_block {
    padding: 0;
    margin: 0;
}

.cvo-block .blockControls {
    margin: 0px;
    padding: 0px;
}

.watermark {
    float: left;
    width: 98%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-top: 69px;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}