#cv-top h1,
div#cv-boxtitle {
  color: #1d704a;
}
.cv_page {
  background: url(main-3.png);
}
#form-cv {
  background: url(main-3.png) no-repeat;
}
.watermark_js {
  background: url(wtm-3.png) no-repeat;
}
#box02 .cum {
  background: url(cum-3.png) no-repeat;
  background-position-y: -4px;
  padding-bottom: 37px;
}
#cv-top h2 {
  background-color: #1d704a;
}
.cum {
  background: url(cum-3.png) no-repeat;
  background-position: left;
  background-position-y: -4px;
}
#box03 .ski {
  background: url(cum-3.png) no-repeat;
  background-position: left;
  background-position-y: -4px;
}
.ic1 .icf {
  background-position: center;
  background: url(date-3.svg) no-repeat;
  width: 23px;
  height: 23px;
}

.ic2 .icf {
  background: url(sex-3.svg) no-repeat;
  width: 23px;
  height: 23px;
}

.ic3 .icf {
  background: url(phone-3.svg) no-repeat;
  width: 23px;
  height: 23px;
}

.ic4 .icf {
  background: url(mail-3.svg) no-repeat;
  width: 23px;
  height: 21px;
}

.ic5 .icf {
  background: url(add-3.svg) no-repeat;
  width: 23px;
  height: 23px;
}
.cumicc2 {
  background: url(mtnn-3.svg) no-repeat !important;
  background-position: left;
  background-position-y: -4px;
}

.cumicc3 {
  background: url(kn-3.svg) no-repeat !important;
  background-position: left;
  background-position-y: -4px;
}
.cumicc4 {
  background: url(cc-3.svg) no-repeat !important;
  background-position: left;
  background-position-y: -4px;
}
.cumicc5 {
  background: url(ntc-3.svg) no-repeat !important;
  background-position: left;
  background-position-y: -4px;
}
.cumicc6 {
  background: url(st-3.svg) no-repeat !important;
  background-position: left;
  background-position-y: -4px;
}
.cumicc7 {
  background: url(ntc-3.svg) no-repeat !important;
  background-position: left;
  background-position-y: -4px;
}

.head {
  background: #598f76;
}
