#form-cv {
	font-size: 15px
}

#cv-content .cvo-block .head {
	font-size: 19px
}

.cum,
.ski {
	font-size: 19px;
}

#cv-content h3 {
	font-size: 15px
}

#cv-top h2 {
	font-size: 18px
}

#cv-top h1 {
	font-size: 36px;
}