#cv-top {
    background-image: url(top2.png);
    background-size: 100% 100%;
}
.all {
    background: url(main2.png);
    background-size: 100% 100%;
}
.bar-exp div,div#cv-boxtitle,#cv-content .head #cvo-experience-blocktitle {
    background: #e7a688;
  
}
#cv-top h1,#cv-top h2 {
    color: #e7a688;
}
.bar-exp {
    border: 1px solid #e7a688;
}