#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000;

}

.watermark {
  float: left;
  width: 100%;
  height: 22px;
  color: #999;
  text-align: right;
  padding-right: 22px;
  font-size: 15px;
  font-family: Courier;
  background: #fff;
}

.box-content {
  margin: 0;
  width: 89%;
  /*margin-top: 10px;*/
  color: #fff;
  margin-bottom: 20px;
  padding-left: 18px;
}

#box03 .exp {
  float: left;
  margin: 0;
  width: 89%;
  padding-bottom: 30px;
  /*padding-top: 5px;*/
  padding-left: 18px;
}


#cvo-profile {
  display: block;
}

.chu {
  float: right;
  width: 68.5%;
  margin-right: 10px;
}

#cv-content {
  width: 52.5%;
  text-align: justify;
  float: right;
  position: relative;
  padding: 0;
  margin: 0;
  margin-right: 16px;
  margin-top: -173px;
  z-index: 1;
}


#cv-main {
  text-align: justify;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: 43.3%;

}

#cv-right .ir {
  padding: 0;
  margin: 0;
}

#cv-main #cv-right {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

#cv-main #cv-right .ir #sortable {
  padding: 0;
  margin: 0;
}

#cv-right .ir #sortable .block {
  padding: 0;
  margin: 0;
  float: left;
  /* width: 100%;*/
}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  padding-bottom: 5px;
  float: left;
}

#cv-top {
  width: 100%;
  height: 545px;
  background: url(hd.png)no-repeat;
  background-position: left;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}

.all {
  float: left;
  clear: both;
  width: 100%;
  background: url(main.png)no-repeat;
  background-position: left;
  background-size: 100% 100%;
}

#cv-top h1 {
  padding: 0;
  margin: 0;
  font-size: 28px;
  font-family: "Roboto";
  line-height: 35px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 96.5%;
  float: left;
  padding-left: 5px;
}

#cv-top h1 span {
  ;
}

#box-hvt {
  float: left;
  width: 43.5%;
  padding: 0 !important;
  margin: 0;
  padding-left: 13px;
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-top h2 {
  margin: 0;
  padding: 8px 0;
  text-transform: uppercase;
  width: 96.5%;
  font-weight: unset;
  font-size: 18px;
  color: #fff;
  text-align: center;
  float: left;
  padding-left: 5px;
}

.inf {
  width: 62%;
  float: right;
  height: 276px;
}

.box-01 p {
  overflow: hidden;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  text-align: left;
  line-height: 20px;
  padding-top: 0px;
}

#cv-content h3 {
  font-size: 14px;
  line-height: 24px;
  font-weight: unset;
  text-transform: unset;
  margin: 0px;
  padding: 0px;
  color: #000;
}

#cv-content #block01 h3 {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
}

#cv-content #block02 h3 {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
}

#cv-content #block04 h3 {
  font-weight: unset;
  text-transform: unset;
  padding-left: 0px;
}

#cv-content .exp-content {
  margin: 0;
  padding: 0;
  padding-left: 0px;
}

#cv-content #block03 h3 {
  font-weight: unset;
  text-transform: unset;
}

#cv-content .exp-date {
  float: none;
}

#cv-content #block01 .exp-date {
  display: none;
}

#cv-content #block03 .exp-date {
  display: none;
}

#cv-content #block04 .exp-date {
  display: none;
}

#cv-content #block05 .exp-date {
  display: none;
}

#cv-content p.h3 {
  margin: 0px;
  padding: 0px;
  padding-left: 0px;
}

#cv-content #block02 p.h3 {
  margin: 0px;
  padding: 0px;
  padding-left: 0px;
}

#cv-content #block02 .exp-content {
  padding-left: 0px;
}

#cv-content .cvo-block {
  padding: 0 !important;
  float: left;
  width: 100%;
}

#cv-content .ir .cvo-block {
  padding: 0;
}

.ctbx {}


#cv-content span {
  display: inline-block;
  z-index: 9999;
}


.ctbx {
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}


.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

/*#anh{
  width: 51%;
  float: left;
  }*/
#cvo-profile-avatar-wraper {
  width: 43%;
  height: 360px;
  padding: 0;
  margin: 0;
  float: left;
  display: table;
}

#cv-profile-sex::before {
  /*color: #000;*/
}

#cv-profile-birthday::before {
  /*color: #000;*/
}

#cv-profile-address::before {
  /*color: #000;*/
}

#cv-profile-email::before {
  /*color: #000;*/
}

#cv-profile-phone::before {
  /*color: #000;*/
}

#cv-profile-fullname::before {
  /*color: #000;*/
}

#cv-profile-job::before {
  /*color: #000;*/
}

#cvo-profile-avatar-wraper .wimg {
  width: 342px;
  height: 342px;
  float: left;
  display: table;
  overflow: hidden;
}

#cvo-profile-avatar-wraper img {
  width: 342px;
  height: 342px;
  float: left;
  display: unset !important;
  /*clip-path: polygon(5% 0%, 95% 0%, 100% 6%, 100% 93%, 95% 100%, 5% 100%, 0 94%, 0 6%);*/
}

#cvo-profile-avatar {
  width: 342px;
  height: 342px;
}

.box-01 {
  float: left;
  width: 100%;
  height: 545px;
}

#cvo-profile {
  display: block;
  float: left;
  width: 100%;
  height: 455px;
}

#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: left;
  height: 20px;
  background: url(bart.png)no-repeat;
  background-position: right;
  margin-top: -5px;
}

/*.exp-fake {
 float: left;
 width: 71%;
 height: 25px;
 background: url(bar.png)no-repeat;
 background-size: 100% 100%;
 margin-top: -23.5px;
 z-index: 1;
 margin-left: -1px;
 }*/
/*#cvo-profile .box-dm {
  width: 406.5px;
  height: 379px;
  padding: 0;
  margin: 0;
  float: left;
  display: table;
  background: url(anh.png)no-repeat;
  background-size: 100% 100%;
  clear: both;
  z-index: 1;
  margin-top: -379px;
  position: absolute;
  }*/
.ctbx .skill-name {
  margin: 0px;
  padding: 0px;
  color: #000;
  float: left;
  width: 100%;
  padding-top: 5px;
}

.bar-exp {

  background: url(bar.png)no-repeat;
  background-position: left;
  height: 10px;
  float: left;
  margin-bottom: 0px;
  padding: 0px;
  float: left;
  width: 100%;
}

.bar-value-exp {
  width: 100%
}

.bar-value-exp input[type="text"] {
  color: red;
  width: 95%;
  height: 70px;
}

.icoweb label {
  display: block;
}

#cv-right .block {
  position: relative !important;
  padding: 0;
  margin: 0;
}

.ic-sex {
  width: 99%;
  float: left;
  color: #000;
  margin: 0;
  margin-bottom: 15px;
  background: url(ic.png)no-repeat;
  background-position: left;
}

.ic-birthday {
  width: 99%;
  float: left;
  color: #000;
  margin: 0;
  margin-bottom: 15px;
  background: url(ic.png)no-repeat;
  background-position: left;
}

.ic-phone {
  width: 99%;
  float: left;
  color: #000;
  margin: 0;
  margin-bottom: 15px;
  background: url(ic.png)no-repeat;
  background-position: left;
}

.ic-email {
  width: 99%;
  float: left;
  color: #000;
  margin: 0;
  margin-bottom: 15px;
  background: url(ic.png)no-repeat;
  background-position: left;
}

.ic-address {
  width: 99%;
  float: left;
  color: #000;
  margin: 0;
  background: url(ic.png)no-repeat;
  background-position: left;
  margin-bottom: 20px;
}

.ic-sex .icoweb {
  margin: 0 !important;
  width: 53%;
  text-align: left;
  float: left;
  color: #000;
  padding-left: 20px;
  padding-top: 5px;
}

.ic-birthday .icoweb {
  margin: 0 !important;
  width: 67%;
  text-align: left;
  float: left;
  color: #000;
  padding-left: 20px;
  padding-top: 5px;
}

.ic-phone .icoweb {
  margin: 0 !important;
  width: 67%;
  text-align: left;
  float: left;
  color: #000;
  padding-left: 20px;
  padding-top: 5px;
}

.ic-email .icoweb {
  margin: 0 !important;
  width: 80%;
  text-align: left;
  float: left;
  color: #000;
  padding-left: 20px;
  padding-top: 5px;
}

.ic-address .icoweb {
  margin: 0 !important;
  width: 80%;
  text-align: left;
  float: left;
  color: #000;
  padding-left: 20px;
  padding-top: 5px;
}

#sortable .ic {
  margin: 0;
}

.ic {
  width: 100%;
  float: left;
  color: #000;
  margin: 0;
  padding-bottom: 0px;
}

#prof [contentEditable=true] {
  width: 100%;
  float: left;
  margin: 0 !important;
}

#prof .icoweb,
#prof .icoweb span {
  height: auto;
}

div#prof {
  float: left;
  width: 100%;
  padding-top: 16px;
}

#form-cv .icf {
  margin: 0 !important;
  float: left;
  margin-bottom: 0;
  width: 62px;
  line-height: 35px;
  height: 35px;
  text-align: right;

}

.icf .fa {
  font-size: 18px;
  color: #000;
  margin: 0;
}

.fa {
  font-size: 14px;
}

.container {
  width: 100%;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

#cv-right .block {
  margin-bottom: 10px;
  position: relative;
  padding: 0;
  padding-bottom: 20px;
}

#cv-content .head {
  padding: 0;
  margin: 0 auto;
  height: 45px;
  line-height: 45px;
  float: left;
  width: 100%;

}

#experience-table .ctbx {
  padding-left: 0px;
}

.ifo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}


#cv-right h3 {
  width: 100%;
  height: 30px;
  margin: 0;
  color: #ffffff;
  padding: 0;
  float: left;
  line-height: 30px;
  text-align: center;
  background: #b82731;
}

#cvo-experience-blocktitle {
  color: #000;
  text-align: center;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  font-size: 18px;
  z-index: 1;
  /* display: none;*/
}

#exp1 .exp-content {}

#bg {
  background: #F58284;
  text-align: left;
}

div#experience-table {
  margin: 0px;
  width: 100%;
  float: right;
  color: #000;
  padding-bottom: 10px;
}

div#cv-boxtitle {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  text-align: center;
}

.ski {
  padding: 0;
  margin: 0 auto;
  height: 35px;
  width: 100%;
  float: left;
  line-height: 35px;
  background: url(t_07.png)no-repeat;
  background-position: center;
}

#box02 .cum {
  padding: 0;
  margin: 0 auto;
  height: 35px;
  width: 100%;
  float: left;
  line-height: 35px;
  background: url(t_03.png)no-repeat;
  background-position: center;
}

#box04 .cum {
  padding: 0;
  margin: 0 auto;
  height: 35px;
  width: 100%;
  float: left;
  line-height: 35px;
  background: url(t_11.png)no-repeat;
  background-position: center;
}

#box05 .cum {
  padding: 0;
  margin: 0 auto;
  height: 35px;
  width: 100%;
  float: left;
  line-height: 35px;
  background: url(t_15.png)no-repeat;
  background-position: center;
}

#box06 .cum {
  padding: 0;
  margin: 0 auto;
  height: 35px;
  width: 100%;
  float: left;
  line-height: 35px;
  background: url(t_19.png)no-repeat;
  background-position: center;
}

#box07 .cum {
  padding: 0;
  margin: 0 auto;
  height: 35px;
  width: 100%;
  float: left;
  line-height: 35px;
  background: url(t_23.png)no-repeat;
  background-position: center;
}

div#box01 {
  float: right;
  width: 56.6%;
  padding-top: 20px;
  margin-right: 0.1px;

}

div#sort_block {
  padding: 0;
  margin: 0;
}

.cvo-block .blockControls {
  margin: 0px;
  padding: 0px 5px;
  background: #000;
}

.form {
  background: url(tn_03.png)no-repeat;
  background-position: top;
  height: 38px;
}

.form1 {
  background: url(tn_05.png)no-repeat;
  background-position: bottom;
  height: 25px;
}

#box03 {
  background: #d5f9ff;
}

#box02 {
  background: #d5f9ff;
}

.boxx {
  background: url(box.png)no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
  height: 50px;
}

#box02 .box-content {
  color: #000;
}

#box02 div#cv-boxtitle {
  color: #000;
}

#box03 div#cv-boxtitle {
  color: #000;
}

#block01 .head {
  background: url(tt_03.png)no-repeat;
  background-position: center;
}

#block02 .head {
  background: url(tt_07.png)no-repeat;
  background-position: center;
  z-index: 1;
}

#block03 .head {
  background: url(tt_11.png)no-repeat;
  background-position: center;
}

#block04 .head {
  background: url(tt_15.png)no-repeat;
  background-position: center;
}

#block05 .head {
  background: url(tt_19.png)no-repeat;
  background-position: center;
}

.chu {
  background: url(tn_08.png)no-repeat;
  background-position: bottom;
  height: 10px;
  width: 100%;
}

#block01 .hh {
  background: url(icr.png)no-repeat;
  background-position: left top;
  height: 30px;
  z-index: 1;
}

#block02 .hh {
  background: url(icr.png)no-repeat;
  background-position: left top;
  height: 30px;
}