/* 3 */

:root {
  --sex: url(sex.png) no-repeat;
  --phone: url(phone.png) no-repeat;
  --date: url(date.png) no-repeat;
  --email: url(mail.png) no-repeat;
  --add: url(address1.png) no-repeat;
  --title: #2a9d8e;
  --level: url(level2.png) no-repeat;
  --bg-top: #264653;
  --bg-icon: url(bg_icon2.png) no-repeat;
  --border-bottom: url(border_bottom2.png) no-repeat;
  --arrow: url(arrow2.png) no-repeat;
  --line-between: url(bot_between2.png) no-repeat;
  --border-bg-date: 15px solid #2a9d8f;
  --bg-date: url(time3-1.png) no-repeat;
  --footer: url(foot2.png) no-repeat;
  --kn: url(kn2.png) no-repeat;
  --skill: url(skill2.png) no-repeat;
}