/* 2 */
:root {
    --sex: url(sex.png) no-repeat;
    --phone: url(phone.png) no-repeat;
    --date: url(date.png) no-repeat;
    --email: url(mail.png) no-repeat;
    --add: url(address1.png) no-repeat;
    --title: #cea087;
    --level: url(level3.png) no-repeat;
    --bg-top: #6b705c;
    --bg-icon: url(bg_icon3.png) no-repeat;
    --border-bottom: url(border_bottom3.png) no-repeat;
    --arrow: url(arrow3.png) no-repeat;
    --line-between: url(bot_between3.png) no-repeat;
    --border-bg-date: 15px solid #cb997e;
    --bg-date: url(time2-1.png) no-repeat;
    --footer: url(foot3.png) no-repeat;
    --kn: url(kn3.png) no-repeat;
    --skill: url(skill3.png) no-repeat;
  }