#cv-top {
  background: url(../top3.png) no-repeat;
  background-position: top right;
}

#cv-top h1 {
  color: #9978a4;
}

.fake_img {
  background: url(../fake3.png) no-repeat;
  background-size: 100% 100%;
}

.chu {
  background: url(../name3.png) no-repeat;
  background-size: 100% 100%;
}

.all {
  background: url(../page3.png) no-repeat;
  background-position: left top;
}

div#cv-boxtitle {
  color: #9978a4;
}

#cv-content .head #cvo-experience-blocktitle {
  color: #9978a4;
}

.ic1 {
  width: 50%;
  background: url(../date3.png) no-repeat;
  background-position: 1px 8px;
}

.ic2 {
  width: 22%;
  background: url(../sex3.png) no-repeat;
  background-position: 1px 6px;
}

.ic3 {
  width: 100%;
  background: url(../phone3.png) no-repeat;
  background-position: 1px 6px;
}

.ic4 {
  width: 100%;
  background: url(../email3.png) no-repeat;
  background-position: 1px 10px;
}

.ic5 {
  width: 100%;
  background: url(../add3.png) no-repeat;
  background-position: 1px 8px;
}

.bar-exp {
  background: url(../skill3.png) no-repeat;
}

.bar-exp div {
  background: url(../kn3.png) no-repeat;
}

.footer {
  background: url(../foot3.png) no-repeat;
}