/* 3 */

:root {
  --avt: url(avt3.png) no-repeat;
  --info: url(info3.png) no-repeat;
  --foot: url(foot3.png) no-repeat;
  --kn: url(kn3.png) no-repeat;
  --skill: url(skill3.png) no-repeat;
  --left: url(right3.png) no-repeat;
  --right: url(right3.png) no-repeat;
}