/* 2 */

:root {
    --avt: url(avt2.png) no-repeat;
    --info: url(info2.png) no-repeat;
    --foot: url(foot2.png) no-repeat;
    --kn: url(kn2.png) no-repeat;
    --skill: url(skill2.png) no-repeat;
    --left: url(right2.png) no-repeat;
    --right: url(right2.png) no-repeat;
  }