#cv-top {
      	width: 100%;
      	height: 430px;
    	background-image: url(hd_80b85d.png);
    	background-size: 100% 100%;
    	background-repeat: no-repeat;
    	position: relative;
    	overflow: hidden;
      padding: 0px;
    }
    .all{
    	float: left;
    	clear: both;
    	width: 100%;
      background: url(bd_80b85d.png)no-repeat;
      background-size: 100% 100%;
  }
  #cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-family: "Roboto";
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #000000;
    font-weight: bold;
    text-align: center;
    width: 100%;
    float: left;
    padding-bottom: 10px;
    background: url(tr_00.png)no-repeat;
    background-size: contain;
    background-position: 0px 30px;
  }

  .bar-exp div {
    float: left;
    height: 10px;
    background: #80b85d;
    margin-top: 0px;
    border-radius: 10px;
    }
    .tt-box1 {
      padding: 0;
    margin: 0 auto;
    height: 35px;
    width: 100%;
    float: left;
    font-size: 20px;
    line-height: 35px;
    background: #80b85d;
    border-radius: 25px;
    margin-bottom: 8px;
    }
    .ski {
      padding: 0;
      margin: 0 auto;
      height: 35px;
      width: 100%;
      float: left;
      line-height: 35px;
      color: #000;
      background-color: #80b85d;
      border-radius: 20px;
    }
    .cum {
      padding: 0;
      margin: 0 auto;
      height: 35px;
      width: 100%;
      float: left;
      line-height: 35px;
      color: #000;
      background-color: #80b85d;
      border-radius: 20px;
    }
    #form-cv .icf1 {
    float: left;
    margin-bottom: 0;
    width: 35px;
    line-height: 35px;
    height: 35px;
    background-color: #80b85d;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    }
    #form-cv .icf2 {
      float: left;
    margin-bottom: 0;
    width: 35px;
    line-height: 35px;
    height: 35px;
    background-color: #80b85d;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    }
    #form-cv .icf3 {
      float: left;
    margin-bottom: 0;
    width: 35px;
    line-height: 35px;
    height: 35px;
    background-color: #80b85d;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    }
    #form-cv .icf4 {
      float: left;
    margin-bottom: 0;
    width: 35px;
    line-height: 35px;
    height: 35px;
    background-color: #80b85d;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    }
    #form-cv .icf5 {
      float: left;
    margin-bottom: 0;
    width: 35px;
    line-height: 35px;
    height: 35px;
    background-color: #80b85d;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    }
    #cvo-profile .box-dm{
     width: 306px;
    height: 306px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(2.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -270px;
    margin-left: 54px;
    top: -800px;
     position: absolute;
    }

  .footer {
      
      background:url(ft_80b85d.png)no-repeat;
      background-size: 100% 100%;
      height: 48px; 
      float: left;
      width: 100%;
  }

