#cv-top {
    width: 100%;
    height: 285px;
    background-image: url(bg-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
#cv-top h2 {
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    font-family: "Roboto";
    color: #56000f;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
}
#cv-top h1 {
    font-size: 28px;
    font-family: "Roboto";
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #56000f;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}
.tt-box1 {
    height: 38px;
    width: 95%;
    line-height: 40px;
    border-bottom: 2px solid #56000f;
}
div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #56000f;
}

.ski {
    height: 38px;
    width: 95%;
    line-height: 40px;
    border-bottom: 2px solid #56000f;
}
.cum {
    height: 38px;
    width: 95%;
    line-height: 40px;
    border-bottom: 2px solid #56000f;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #56000f;
}
#cv-content .head {
    height: 35px;
    width: 100%;
    line-height: 35px;
    border-bottom: 2px solid #56000f;
    margin-bottom: 10px;
}
.icf .fa {
    font-size: 20px;
    color: #56000f;
    margin-top: 0;
    float: none;
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #56000f;
    margin-top: 0px;
}
.ctbx .skill-name {
  margin: 0px;
  padding: 0px;
}

.bar-exp {
    background: #fff;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #56000f;
    border-radius: 5px;
}
#cvo-profile-avatar-wraper .wimg {
    width: 155px;
    height: 165px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    border: 5px solid #56000f;
}
#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #56000f;
}
.cumicc1 {
    width: 50px;
    height: 37px;
    float: right;
    background: url(ic-21.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumic2 {
    width: 50px;
    height: 35px;
    float: right;
    background: url(ic-22.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumicc3 {
    width: 50px;
    height: 35px;
    float: right;
    background: url(ic-23.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumic4 {
    width: 50px;
    height: 37px;
    float: right;
    background: url(ic-24.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumic5 {
    width: 50px;
    height: 37px;
    float: right;
    background: url(ic-25.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumic6 {
    width: 50px;
    height: 37px;
    float: right;
    background: url(ic-26.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumic7 {
    width: 50px;
    height: 37px;
    float: right;
    background: url(ic-27.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.icright1 {
    width: 60px;
    height: 30px;
    float: right;
    background: url(ic-28.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-left: 10px;
}
.icright2 {
    width: 60px;
    height: 35px;
    float: right;
    background: url(ic-29.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-left: 10px;
}
.icright3 {
    width: 60px;
    height: 35px;
    float: right;
    background: url(ic-210.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-left: 10px;
}
.icright4 {
    width: 60px;
    height: 35px;
    float: right;
    background: url(ic-211.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-left: 10px;
}
.icright5 {
    width: 60px;
    height: 35px;
    float: right;
    background: url(ic-212.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-left: 10px;
}
div#cv-right {
    background-color: #f3d1d9;
    padding-bottom: 30px;
    padding: 10px 0px;
}


.footer {
    float: left;
    width: 100%;
    height: 70px;
    background: url(ft2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 15px;
}