#form-cv {
    width: 788px;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #070000;
    border: solid 1px #0096a5;
}

#sortable .cvo-block {
    float: left;
    width: 92%;
    padding-left: 10px;
    padding: 15px 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#box01 {
    border-top: none!important;
    margin-top: 0px!important;
    padding-top: 0px!important;
}

#cv-right #box01 h3 {
    background: url('3.png') top center no-repeat #fff;
    background-size: 100%;
    height: 32px;
    line-height: 32px;
}

#cv-content .ir {
    background: url('1.png') bottom right no-repeat;
}

#sortable .icoweb i.fa {
    float: left;
}

#cv-main {
    float: left;
    margin-top: 0px;
    border-top: 0px;
    padding: 0px
}

#cv-top {
    text-align: center;
    float: left;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#cvo-profile {
    float: left;
    width: 100%;
    margin-bottom: 0px;
}

.box-01 {
    float: left;
    width: 100%;
    margin-bottom: 0px;
}

#cv-content {
    width: 58%;
    float: right;
    position: relative;
    color: #374d59;
    background: url(2.png) top left no-repeat;
    background-color: #f7f7f7;
    padding-left: 4.8%;
    padding-top: 30px;
}

[contenteditable=true]:empty:before {
    color: #fff !important;
}

#cv-right {
    width: 37%;
    float: left;
    position: relative;
    background-size: 100% auto;
    color: #374d59;
    padding-top: 30px;
}

p.skill-name input {
    color: #070000!important;
}

#cv-right .ctbx {
    padding: 0;
    margin: 0;
    border: 0;
}

.skill {
    float: left;
    width: 100%;
}

#cv-top h1 {
    font-size: 30px;
    padding: 15px 30px 5px 45px;
    line-height: normal;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 0;
    letter-spacing: 5px;
    margin: 0px;
    color: #0096a5;
    font-weight: 500;
}

#box-hvt {
    width: 495px;
}

#cv-top h2 {
    font-size: 20px;
    text-align: right;
    color: #333333;
    margin: 0px;
    margin-left: 43px;
    border-top: solid 1px #fff;
    padding: 0px 30px 5px 45px;
}

.box-01 p h2 {
    padding-top: 10px;
}

#cv-content p {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right .h3,
#cv-right h3,
#cv-content .head {
    font-size: 18px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
}

#cv-right h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 6px;
    margin-top: 10px;
    border: solid 1px #fff;
    background: #3a93a5;
    padding-top: 8px;
    padding-bottom: 8px;
}

#cv-right #box01 h3 {
    margin: 0px;
    margin-bottom: 15px;
    float: left;
    width: 100%;
}

#sortable #box01 p {
    margin-bottom: 0px;
    margin: 0px;
    padding: 0px;
}

#sortable #box01 p span {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#sortable .cvo-block p {
    float: left;
    padding: 0px;
    padding-left: 5px;
    margin: 0px;
}

#cv-right h3 span {
    color: #fff;
}

#cv-right #box01 h3 span {
    color: #fff;
    width: 100%;
    text-align: center;
}

#cv-right .ir {
    float: left;
    width: 100%;
}

#box01 h3 {
    text-align: center;
}

#cv-content .head {
    line-height: 22px;
    padding: 2px 10px;
    background-color: #ff824c;
    border-radius: 5px;
    width: 225px;
    margin: 0px;
    color: #fff;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#cv-content .cvo-block {
    margin-left: 15px;
    padding-left: 5px;
}

#cv-right .h3 {
    height: 45px;
    text-align: center;
    width: 100%;
}

#cv-right .h3 span {
    margin: 3px 0px;
    color: #000000;
    line-height: 43px;
}

#cv-content h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    padding: 0px
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

.ctbx .exp-title {
    color: #ffad33!important;
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
    color: #3a3a3a;
}

#cv-content .head span {
    color: #fff;
}

#cv-right .h3:first-child {
    margin-top: 0
}

.ctbx {
    margin-bottom: 20px;
    position: relative;
}

.ctbx .r5 .h3 {
    text-transform: uppercase;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#box-hvt {
    float: left;
    padding-top: 45px;
    background: url(cv_name.png) top left no-repeat #fff;
    height: 115px;
}

#cvo-profile-avatar-wraper {
    float: left;
    width: 153px;
    padding: 10px 70px;
}

#cvo-profile-avatar-wraper img {
    width: 153px;
    height: 153px;
    border: solid 3px #ff824c;
    border-radius: 3px;
}

.icoweb.cvi-user {
    display: none;
}

#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}

.bar-exp div {
    float: left;
    height: 8px;
    background: #00a4d2;
}

.bar-exp {
    width: 100%;
    background: #e6e5ea;
    height: 8px;
    float: right;
    margin-bottom: 12px;
}

.icoweb label {
    display: block;
    color: #627e88;
}

.box-contact {
    font-size: 15px;
}

#sortable .icoweb {
    line-height: 30px;
    text-align: center;
    float: left;
    width: 265px;
    margin-bottom: 5px;
}

#sortable #box01 p {
    color: #fff!important;
    background: #ff824c;
    border-radius: 4px;
}

#sortable #box01 p {
    margin-bottom: 8px;
}

.skill-name {
    margin: 0px
}

#sortable {
    float: left;
    width: 100%;
    margin-top: 0px;
}

#sortable .icoweb.cvi-info {
    border: none;
}

.head i.fa,
.h3 i.fa {
    font-size: 12px;
    border: solid 1px #7c7a79;
    border-radius: 50%;
    width: 12px;
    color: #7c7a79;
    /*background: white;*/
    margin-bottom: 5px;
    text-align: center;
    padding: 4px;
}

.bar-value-exp input[type="text"] {
    color: #000;
}

.exp-content,
.exp-subtitle,
span.exp-title {
    width: 375px;
}

span.box-content {
    width: 270px;
}

#cv-profile-email::before {
    color: white;
}

#cv-profile-phone::before {
    color: white;
}

#cv-profile-address::before {
    color: white;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}