#cv-top {
    background-image: url(hd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.all {
    background: url(bd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#sortable .cvo-block .box-content {
    color: #fff;
}

#cv-top h1 {
    color: #df934e;
}

#cv-top h2 {
    color: #df934e;
}

#cv-right h3,
#cv-content .head {
    color: #fff;
}

#cv-content h3 {
    color: #fff;
}

.bar-exp div {
    background: #fff;
}

.bar-exp {
    background: #242a42;
    border: 1px solid #fff;
}

.icf .fa {
    color: #242a42;
}

div#cvo-experience-blocktitle {
    border-bottom: 2px solid #fff;
}

#cv-right h3 {
    color: #fff;
}

div#experience-table {
    color: #fff;
}

#block01 div#experience-table {
    border-left: 2px solid #fff;
}

#block01 h3 {
    background: url(ic2.png)no-repeat;
    background-position: left top;
    background-size: 8%;
}

#block01 p.h3 {
    background: url(ic2.png)no-repeat;
    background-position: left;
    background-size: 8%;
}

#block01 .exp-content {
    background: url(ic2.png)no-repeat;
    background-position: left bottom;
    background-size: 8%;
}

.icoweb {
    color: #242a42;
}

.box-dm {
    width: 324px;
    height: 326px;
    background: url(ava2.png)no-repeat;
    background-size: 100% 100%;
}
.ctbx .skill-name {
    color: #fff;}