#form-cv{
		background: #cccc00;
}

#cv-content .head span{
	background: #cccc00;
}
#cv-right .h3 span{
	color: #cccc00;
}

#cv-content h3{	
    color: #cccc00;
}

#cv-content .head{	
	background: #cccc00;
}

.bar-exp span {
    background: #cccc00;
}