
.box-dm {
    background: url(fake2.png)no-repeat;
    background-size: 100% 100%;
}
#cv-top {
    background-image: url(hd2.png);
    background-size: 100% 100%;
}

.all {
    background: url(bg2.png)no-repeat;
    background-size: 100% 100%;
}
.footer {
    background: #fcdfd7;
}
.bar-exp div {
    background: #ea9ec1;
}
