
.box-dm {
    background: url(fake3.png)no-repeat;
    background-size: 100% 100%;
}
#cv-top {
    background-image: url(hd3.png);
    background-size: 100% 100%;
}

.all {
    background: url(bg3.png)no-repeat;
    background-size: 100% 100%;
}

.footer {
    background: #d2e5fc;
}
.bar-exp div {
    background: #c2d67c;
}