#cv-top {
    width: 100%;
    height: 265px;
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all{
  float: left;
  clear: both;
  width: 100%;
  background:url(main3.png)no-repeat;
  background-size: 100% 100%;
}
#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 28px;
    font-family: "Roboto";
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #ed4683;
    font-weight: bold;
    text-align: center;
    width: 100%;
    float: left;
}
#cv-top h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    font-size: 13px;
    color: #ed4683;
    text-align: center;
    float: left;
}
#cv-content #block02 h3 {
  font-weight: bold;
  color: #ed4683;
  float: left;
}
#cvo-profile-avatar-wraper .wimg {
    width: 170px;
    height: 170px;
    float: left;
    display: unset !important;
    border: 2px solid #ed4683;
}
.bar-exp div {
    float: left;
    height: 7px;
    background: #ed4683;
    margin-top: 0px;
    border-radius:10px;
}
.bar-exp {
    background: #fff;
    height: 7px;
    float: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #ed4683;
    float: right;
    width: 35%;
    border-radius:10px;
}
.icf .fa {
    font-size: 20px;
    color: #ed4683;
    margin-top: 0;
    float: left;
    padding-top: 7px;
    padding-left: 9px;
}
#cv-content .head {
    padding: 0;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: left;
    background: url(tt3_03.png)no-repeat;
    background-size: 100% 100%;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #ed4683;
    float: left;
    padding-left: 20px;
}
.cumicc1 {
    width: 43px;
    height: 40px;
    float: left;
    background: url(icccc_03.png);
    background-position:center;
    background-repeat: no-repeat;
}
.cumicc2 {
    width: 43px;
    height: 40px;
    float: left;
    background: url(icccc_13.png);
    background-position:center;
    background-repeat: no-repeat;
}
.cumicc3 {
    width: 43px;
    height: 40px;
    float: left;
    background: url(icccc_17.png);
    background-position:center;
    background-repeat: no-repeat;
}
.cumicc4 {
    width: 43px;
    height: 40px;
    float: left;
    background: url(icccc_24.png);
    background-position:center;
    background-repeat: no-repeat;
}
.cumicc5 {
    width: 43px;
    height: 40px;
    float: left;
    background: url(icccc_28.png);
    background-position:center;
    background-repeat: no-repeat;
}
.cumicc6 {
    width: 43px;
    height: 40px;
    float: left;
    background: url(icccc_31.png);
    background-position:center;
    background-repeat: no-repeat;
}
.cumicc7 {
    width: 43px;
    height: 40px;
    float: left;
    background: url(icccc_36.png);
    background-position:center;
    background-repeat: no-repeat;
}
.tt-box1 {
    padding: 0;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: left;
    background: url(tt3_03.png)no-repeat;
    background-size: 100% 100%;
}
div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ed4683;
    float: left;
    padding-left: 15px;
}

.ski {
    padding: 0;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: left;
    background: url(tt3_03.png)no-repeat;
    background-size: 100% 100%;
}
.cum {
    padding: 0;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: left;
    background: url(tt3_03.png)no-repeat;
    background-size: 100% 100%;
}
.icright1 {
    width: 44px;
    height: 40px;
    float: left;
    background: url(icccc_05.png);
    background-position:center;
    background-repeat: no-repeat;
  }
.icright2 {
    width: 44px;
    height: 40px;
    float: left;
    background: url(icccc_10.png);
    background-position:center;
    background-repeat: no-repeat;
}
.icright3 {
    width: 44px;
    height: 40px;
    float: left;
    background: url(icccc_21.png);
    background-position:center;
    background-repeat: no-repeat;
}
.icright4 {
    width: 44px;
    height: 40px;
    float: left;
    background: url(icccc_33.png);
    background-position:center;
    background-repeat: no-repeat;
}
.icright5 {
    width: 44px;
    height: 40px;
    float: left;
    background: url(icccc_39.png);
    background-position:center;
    background-repeat: no-repeat;
}



.footer {
  background:url(ft3.png)no-repeat;
  background-size: 100% 100%;
  height:100px; 
    float: left;
    width: 100%;
}