#form-cv {
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background: #027a9c;
  border: 15px solid #565656;
}
#cv-top h1 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 32px;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
}
#cv-right h3, #cv-content .head {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding-top: 0;
  line-height: 24px;
}
#sortable #box02 {
  margin: 0;
  padding: 0;
  padding: 30px 0 10px;
  background-image: url(mtnn.png);
  background-size: auto;
  background-position: left top;
  background-repeat: no-repeat;
}
#sortable #box03 {
  margin: 0;
  padding: 0;
  padding: 30px 0 10px;
  background-image: url(kn.png);
  background-size: auto;
  background-position: left top;
  background-repeat: no-repeat;
}

#sortable #box04 {
  margin: 0;
  padding: 0;
  padding: 30px 0 10px;
  background-image: url(gt.png);
  background-size: auto;
  background-position: left top;
  background-repeat: no-repeat;
}

#sortable #box05 {
  margin: 0;
  padding: 0;
  padding: 30px 0 10px;
  background-image: url(datg.png);
  background-size: auto;
  background-position: left top;
  background-repeat: no-repeat;
}

#sortable #box06 {
  margin: 0;
  padding: 0;
  padding: 30px 0 10px;
  background-image: url(st.png);
  background-size: auto;
  background-position: left top;
  background-repeat: no-repeat;
}

#sortable #box07 {
  margin: 0;
  padding: 0;
  padding: 30px 0 10px;
  background-image: url(ntc.png);
  background-size: auto;
  background-position: left top;
  background-repeat: no-repeat;
}
