#form-cv {
	font-size: 15px
}

#page-cv #cv-content #cvo-experience-blocktitle, #cv-boxtitle {
	font-size: 21px;
}

#cv-content h3 {
	font-size: 17px
}

#cv-top h2 {
	font-size: 19px
}

#cv-top h1 {
	font-size: 37px
}