#form-cv{
	width: 100%;	
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#000000;	
	background:#fff;
	outline: 1px solid #e1e1e1
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 20px;
	margin-top: 8px;
	padding:0 30px;
}
#cvo-profile{	
	width: 350px;
	margin:auto;	
	padding-top: 40px;
	padding-bottom: 10px
}
#cv-content{
	width: 100%;
	float: right;
	position: relative;	
	padding-top: 10px;			
}
#cv-content .ir{
	padding:0 20px;
}
#cv-main{
	padding:0;
	position: relative;			
}
#cv-right .ir{
	padding: 0;
}
p.skill-name input{
	color: #fff!important;
}

#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}

#cv-top h1{
	font-size: 28px;
    padding: 15px 30px 5px 30px;
    line-height: normal;
    text-transform: uppercase;    
    margin-bottom: 10px;    
    margin-left: 0px;
    color: #fff;
    margin-top: 0;
    margin-bottom:0;
    font-weight: bold;
	
}
#box-hvt{	
	text-align: center;
	color:#fff;
	padding:10px 0;
	background: #c69c6d
}

#cv-right #prof{
	width: 100%;
	float: left;
	color:#000;	
}
#sortable #box01{
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 10px
}

#cv-right .cvo-block .head div{
	color:#000;
}
#box01  ul li{
	width: 50%;
	float: left
}
#cv-top h2{
	font-size: 16px;    
    color: #000;
    font-weight: bold;    
    margin-top: 0;
    margin-bottom: 10px
}
.box-01 p{		
    overflow: hidden;
}

#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 17px;     
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;       
    color:#c69c6d; 
    border-top: solid 2px #959595;
    margin: 0 auto 10px;    
    padding-top: 8px;
    line-height: 24px
}
#cv-content h3{	
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 5px
}
#cv-content p.h3{	

}
#cv-content span{
	display: inline-block;	
	z-index: 9999;
}

.ctbx{
	margin-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#cvo-profile-avatar-wraper{
	float: left;
	width: 30%;
	padding-top: 20px
}

#cvo-profile-avatar-wraper .wimg{	    
    float: none;
    width:150px;
    margin: auto;
}
#cvo-profile-avatar-wraper img{
  	width: 150px;  	
  	height: 150px;
  	float:none;  
  	display: inline-block;
}
#line-seperate {
    height: 25px;    
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #c69c6d;    
}
.ctbx .skill-name{
	width: 30%;
	float: left;	
}
.bar-exp {
  	width: 70%;
  	background: #cecece;
  	height: 8px;
  	float: right;
  	margin-top: 8px;
  	margin-bottom: 0px;
}      
.bar-value-exp{
	width: 50%
}
.bar-value-exp input[type="text"]{
	color:#000;
	width: 95%
}
.icoweb label{
	display: block;
}

#sortable .icoweb{
	width: 200px;
	line-height: 30px;
	float: left;
	padding-left: 5px;
	margin-bottom: 0
}
#cv-right .icoweb span{

	width: 100%;
}
.ic{
	float: left;width: 100%
}
#form-cv .icf{
	float: left;	
	border-radius: 20px;
	line-height: 28px;
	margin-bottom: 0;
	width: 28px;	
	text-align: center;
}
.ic .icoweb{
	float: left	
}
.icf .fa{
	font-size: 14px;	
	color:#c69c6d;	
	margin-top: 0;	
	float: none
}
#prof .ic{
	width: 33.3333%
}