#form-cv{

	border:solid 1px #168ca9;

}

.box-01{
		
	background:#168ca9;
}

#cv-content h3{	

    color: #168ca9;

}

#cvo-profile-avatar-wraper{

	border:15px solid #168ca9;

}
.bar-exp span {
      background: #168ca9;
}
#cv-right .icoweb span{

	background:#168ca9;
}

#form-cv{

	border:solid 1px #168ca9;

}
.box-01{
		
	background:#168ca9;
}


#cv-content h3{	
    color: #168ca9;

}

#cvo-profile-avatar-wraper{
	border:15px solid #168ca9;
}

.bar-exp span {
    background: #168ca9;
}

#cv-right .icoweb i.fa{

    color: #507e8a;

}

#cv-right .h3, #cv-content .head{

    color: #507e8a;    
   
}