#form-cv{

	border:solid 1px #76b51b;

}

.box-01{
		
	background:#76b51b;
}

#cv-content h3{	

    color: #76b51b;

}

#cvo-profile-avatar-wraper{

	border:15px solid #76b51b;

}
.bar-exp span {
      background: #76b51b;
}
#cv-right .icoweb span{

	background:#76b51b;
}

#form-cv{

	border:solid 1px #76b51b;

}
.box-01{
		
	background:#76b51b;
}


#cv-content h3{	
    color: #76b51b;

}

#cvo-profile-avatar-wraper{
	border:15px solid #76b51b;
}

.bar-exp span {
    background: #76b51b;
}

#cv-right .icoweb i.fa{

    color: #81d20d;

}

#cv-right .h3, #cv-content .head{

    color: #81d20d;    
   
}