#form-cv{

	border:solid 1px #e52f48;

}

.box-01{
		
	background:#e52f48;
}

#cv-content h3{	

    color: #e52f48;

}

#cvo-profile-avatar-wraper{

	border:15px solid #e52f48;

}
.bar-exp span {
      background: #e52f48;
}
#cv-right .icoweb span{

	background:#e52f48;
}

#form-cv{

	border:solid 1px #e52f48;

}
.box-01{
		
	background:#e52f48;
}


#cv-content h3{	
    color: #e52f48;

}

#cvo-profile-avatar-wraper{
	border:15px solid #e52f48;
}

.bar-exp span {
    background: #e52f48;
}

#cv-right .icoweb i.fa{

    color: #d03449;

}

#cv-right .h3, #cv-content .head{

    color: #d03449;    
   
}