#form-cv {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #070000;
    background: #fff;
    outline: 1px solid #e1e1e1
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    background: #fff;
}

#form-cv p {
    margin-top: 0;
    margin-bottom: 6px
}

#sortable .cvo-block {
    margin-bottom: 20px;
    margin-top: 8px;
}

#cv-top {
    width: 100%;
    height: 507px;
    background-image: url(hd1.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
}

#cv-content {
    width: 47%;
    float: right;
    position: relative;
    padding-top: 115px;
    /* margin-top: -235px; */
}

.bar-value-exp input[type="text"] {
    color: #494949;
}

#cv-right .box-content,
#cv-right .skill {}

#cv-right {
    width: 35.99%;
    float: left;
    position: relative;
    color: #070000;
    margin-top: -235px;
    margin-left: 52px;
}

#cv-right .ir {}

p.skill-name input {
    color: #070000!important;
}

#cv-right .cvo-block span {
    color: #070000;
}

#cv-right .cvo-block h3 span {
    color: #9933cc;
}

#cv-right .ctbx {
    padding: 0;
    margin: 0;
    border: 0;
}

#cv-top h1 {
    width: 100%;
    color: #9933cc;
    font-size: 78px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: bold;
    float: left;
}

#cv-top h1 span {
    padding: 0px 10px;
}

#cv-top h2 {
    float: revert;
    width: 100%;
    font-size: 26px;
    text-align: center;
    color: #9933cc;
    font-weight: normal;
    font-style: italic;
    /* text-decoration: unset; */
    /* margin-bottom: 10px; */
    /* transform: rotate(90deg)!important; */
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 25px;
    color: #9933cc;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    padding: 8px 15px;
    margin: 0 auto 15px;
    line-height: 24px;
    border-bottom: 2px dashed #339999;
}

#box01 h3 {
    text-align: center;
    font-size: 25px;
}

#cv-content .head span {
    color: #9933cc
}

#box01 {}

#cv-content h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0;
    color: #000;
}

p.h3 {}

#cv-content .cvo-block {}

.ctbx {}

#cv-main {
    float: left;
    clear: both;
    width: 100%;
    background: url(main1.png)no-repeat;
    background-size: 100% 100%;
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

.ctbx {
    margin-bottom: 20px;
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    width: 100%;
    float: left;
    padding-top: 77px;
    margin-left: 55px;
}

.box-01 {
    float: left;
    width: 38%;
}

#box-hvt {
    padding: 10px 0px;
    /* height: auto; */
    float: right;
    width: 47%;
    padding-top: 30px;
    padding-bottom: 124px;
}

#cvo-profile-avatar-wraper .wimg {
    width: 180px;
    margin: auto;
    float: none
}

#cvo-profile-avatar-wraper img {
    width: 180px;
    border-radius: 50%;
    height: 180px;
    float: none;
    display: table;
}

.box-dm {
    width: 190px;
    height: 190px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(avata1.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -185px;
    margin-left: 87px;
    position: absolute;
    top: -800px;
}

#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}

.bar-exp div {
    float: left;
    height: 10px;
    background: #e22539;
}

.bar-exp {
    display: none;
    width: 100%;
    background: #e1e1e1;
    height: 10px;
    float: right;
    margin-bottom: 12px;
}

.icoweb label {
    display: block;
    color: #fff;
}

#cv-right .icoweb span {
    color: #070000;
}

#sortable .icoweb {
    padding-left: 10px;
    margin-bottom: 0;
    text-align: center;
}

.ic {
    float: left;
    width: 100%;
    margin-bottom: 5px
}

#form-cv .icf {
    border-radius: 20px;
    line-height: 22px;
    margin-bottom: 0;
    font-size: 12px;
    width: 25px;
    margin-left: 105px;
    text-align: center;
}

.ic .icoweb {
    float: left
}

.icf .fa {
    font-size: 14px;
    color: #9933cc;
    margin-top: 0;
    float: none
}

#box02 span,
#box032 span,
#box04 span,
#box05 span,
#box06 span,
#box07 span {
    width: 260px;
}

div#box01 span {
    width: 230px;
}