#cv-top {
    width: 100%;
    height: 285px;
    background-image: url(bg-4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all {
    background: url(bg4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #d5b59c;
}