#form-cv {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 21px;
    color: #000;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


#form-cv p {
    margin-top: 0;
    margin-bottom: 0px;
}

#cv-top {
    width: 100%;
    height: 337px;
    background: url(hd1.png)no-repeat;
    background-size: 100% 100%;
}
.all {
   float: left;
   clear: both;
   background: url(main.png)no-repeat;
   background-size: 100% 100%;
   /* padding-bottom: 20px; */
}
#sortable .cvo-block {
    margin: 0;
    padding: 0;
    padding: 0 15px 0px 0px;
    /* padding-bottom: 15px; */
}

#cvo-profile {
    display: block;
    padding-top: 30px;
}

#cv-content {
    width: 47%;
    text-align: justify;
    margin: 0;
    padding: 0;
    float: right;
    padding-left: 20px;
    position: relative;
}

#cv-content .cvo-block {
  
}

#cv-content .ir {
    padding: 0 0px;
    margin: 0px;
}

#cv-content #block02 #exp1 {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    /* margin-left: 50px; */
    /*padding-right: 25px;*/
}

#cv-content #block02 #exp2,
#cv-content #block02 #exp3 {
    padding: 0;
    margin: 0;
    padding-left: 5px;
   /* padding-right: 25px;*/
    /*margin: 20px 0 20px 50px;*/
}

#cv-content .ir #experience-table {
    padding: 0;
    margin: 0;
    /*padding-left: 30px;*/
}

#cv-content .ir #block02 #experience-table {
    padding: 0px;
}

#cv-main {
    margin: 0;
    padding: 0;
    width: 49%;
    text-align: justify;
    float: left;
    position: relative;
    /* margin-top: 15px; */
}

#cv-right {
    float: left;
    width: 100%;
}

#cv-right .ir {
    padding: 0;
}

p.skill-name input {
    color: #fff !important;
}

#box-hvt {
     margin: 0;
     padding: 0;
     float: left;
     width: 47%;
     padding-left: 10px;
     text-align: left;
     padding-top: 15px;
}
#cv-right #box02{
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 40px;
}
#cv-top h1 {
    /* margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #000;
    font-weight: bold; */
    margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #000;
    font-weight: bold;
}

#cvo-profile .box-01 {
    float: right;
    width: 38%;
    padding-top: 25px;
    /* margin-top: 25px; */
}

#cvo-profile .box-contact {
    width: 100%;
    float: left;
    color: #000;
    margin-top: 40px;
}
#box01 #cv-boxtitle{
    border-bottom: solid 2px #000;
}
#cv-right .ir #box02 {
    /* margin-top: 30px; */
    /* padding-top: 20px; */
    margin-left: 20px;
    margin-right: 50px;
    border-left: solid 20px #ffcccc;
}
#cv-right #prof {
    width: 100%;
    float: left;
    color: #000;
    padding-bottom: 5px;
    border-bottom: 2px solid #1b1b1b;
}

#sortable #box01 {
    padding: 0;
    margin: 0;
    border: 0;
}

.info {
    width: 23%;
    height: 170px;
    float: left;
    padding: 0;
    margin: 0;
    padding-left: 90px;
    margin-top: 20px;
}

#cv-right .cvo-block .head div {
    color: #1b1b1b;
}

#box01 ul li {
    width: 50%;
    float: left
}

#cv-top h2 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #fc0202;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 5px;
}

#cv-content p {
    /* margin-bottom: 5px; */
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding-top: 0;
    line-height: 24px;
}

#sortable .box-content {
    margin: 0;
    padding: 0;
    /* padding-top: 5px; */
    color: #000;
    width: 94%;
    padding-left: 20px;
}

#cv-content .exp-title {
    width: 100%;
	/*padding-top: 20px;*/
    float: right;
}


#cv-content .w-exp {
    width: 100%;
    /* padding-bottom: 10px; */
    float: left;
    color: #000;
}

#cv-content h3 {
    font-size: 14px;
    text-transform: uppercase;
    /* font-weight: bold; */
    /* color: #000; */
    /* display: table; */
    margin-bottom: 5px;
    width: 100%;
}

#cv-content p.h3 {
    /*font-weight: bold;*/
}

#cv-content .cvo-block {
    margin: 0px;
    padding: 0;
    margin-right: 25px;

}

.ctbx {
    padding-left: 0;
    padding-right: 0;
    /*margin-bottom: 15px;*/
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

.ctbx {
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    float: left;
    padding: 0px;
    margin: 0px;
    margin-left: 14px;
    height: 170px;
}
#cvo-profile-avatar-wraper .wimg {
    padding: 0;
    margin: 0;
    float: left;
    width: 170px;
}
#cvo-profile-avatar-wraper img {
    width: 170px;
    height: 170px;
    float: none;
    display: inline-block;
}

#line-seperate {
    height: 25px;
}
#cvo-profile-avatar{
     width: 488px;
    height: 300px;
}
.bar-exp div {
    float: left;
    height: 15px;
    background-color: #000;
}
.exp-fake {
    float: left;
    width: 100%;
    height: 25px;
    background: url(kynang1.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -18.5px;
    z-index: 1;
}
.ctbx .skill-name {
    width: 100%;
    float: left;
}

.bar-exp {
    width: 92%;
    background: #bdb7b7;
    height: 13px;
    float: right;
    /* margin-top: 3px; */
    border-radius: 5px;
    margin-bottom: 0px;
}

.skill .ctbx {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.bar-value-exp {
    width: 50%
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
}

.icoweb label {
    display: block;
}

.icoweb {
    line-height: 22px;
    float: left;
    padding-left: 5px;
}

.ic {
    float: left;
    width: 100%;
    margin-bottom: 8px
}

#form-cv .icf {
    float: left;
    line-height: 25px;
    height: 25px;
    margin-bottom: 0;
    font-size: 14px;
    width: 25px;
    text-align: center;
}

#form-cv .ic .icoweb {
    margin-bottom: 0;
    color: #000;
    text-align: left;
}

.ic .icoweb {
    float: right;
    text-align: left;
}

.icf .fa {
    color: #fff;
    margin-top: 0;
    float: none
}

#prof .ic1 {
    margin-top: 3px;
    float: none;
    float: right;
    padding: 3px;
    width: 96%;
    text-align: right;
    background: url(icon1.png)no-repeat;
    background-size: 10% 100%;
    margin-bottom: 10px;
}
#prof .ic2 {
    margin-top: 3px;
    float: none;
    float: right;
    padding: 3px;
    width: 96%;
    text-align: right;
    background: url(icon2.png)no-repeat;
    background-size: 10% 80%;
    margin-bottom: 10px;
}
#prof .ic3 {
    margin-top: 3px;
    float: none;
    float: right;
    padding: 3px;
    width: 96%;
    text-align: right;
    background: url(icon3.png)no-repeat;
    background-size: 10% 100%;
    margin-bottom: 10px;
}

#form-cv .wfa {
    float: right;
    width: 25px;
    font-size: 14px;
    line-height: 25px;
    background: #000;
    border: 2px solid #446600;
    border-radius: 20px;
    text-align: center;
    color: #446600
}

#cv-content .head {
    margin: 0;
    width: 100%;
    /* height: 40px; */
    color: #000;
    text-align: left;
    background-size: 100% 100%;
    line-height: 33px;
    background: #ccffff;
    /* position: relative; */
    /* top:15px; */
    float: left;
}
#block02 .sum .head{
        width: 100%;
        /* height: 40px; */
        color: #000;
        text-align: left;
        background-size: 100% 100%;
        /* line-height: 40px; */
}
#block03 .sum .head {
    width: 100%;
    /* height: 40px; */
    color: #000;
    text-align: left;
    /* line-height: 40px; */
}
#block04 .sum .head {
    width: 100%;
    /* height: 40px; */
    color: #000;
    text-align: left;
    /* line-height: 40px; */
}
#block05 .sum .head {
    width: 100%;
    /* height: 40px; */
    color: #000;
    text-align: left;
    /* line-height: 40px; */
}


.cum {
    width: 100%;
    height: 30px;
    text-align: left;
}

#cv-right h3 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
   
    /*border-bottom: 2px solid #fc0202;*/
}
.funk {
    width: 100%;
    height: 30px;
    /*background: #00b05b;*/
    text-align: center;
}


#cv-top h1,
#cv-top h2 {
    text-align: center;
    color: #fff;
}





#prof .icoweb,
#prof .icoweb span {
    width: 88%;
    height: auto;
    float: left;
    text-align: left;
    /*padding-right: 10px;*/

}
#box03 .exp{
    width: 94%;
    padding: 5px 0px 5px 20px;
    /*background: #e5e5e5;*/
}

#experience-table .ctbx{
	padding: 0;
	padding-left: 5px;
	margin: 0;
	/* position: relative; */
	/* top: 20px; */
	/* margin-bottom: 20px; */
}

#cv-profile-birthday::before{
    color: white;
}
#cv-profile-sex::before{
    color: white;
}
#cv-profile-phone::before{
    color: white;
}
#cv-profile-email::before{
    color: white;
}
#cv-profile-address::before{
    color: white;
}

#box03 .skill-name{
    color: #000;
}
#box04 .box-content,#box05 .box-content,#box05 .box-content,#box06 .box-content,#box07 .box-content{
    color: #000;
}
#box02 h3{
width: 100%;
height: 40px;
line-height: 40px;
background-size: 100% 100%;
}


#box04,#box05,#box06,#box07{
	padding-bottom: 15px;
}
#cv-right .ir #box03{
	/* margin-top: 45px; */
	margin-left: 20px;
	padding-top: 20px;
	margin-right: 50px;
	border-left: solid 20px #ffcccc;
}
#cv-right .ir #box04{
    /* margin-top: 30px; */
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 50px;
    border-left: solid 20px #ffcccc;
}

#cv-right .ir #box05{
    /* margin-top: 30px; */
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 50px;
    border-left: solid 20px #ffcccc;
}

#cv-right .ir #box06{
    /* margin-top: 45px; */
    margin-left: 20px;
    margin-right: 50px;
    border-left: solid 20px #ffcccc;
}

#cv-right .ir #box07{
    /* margin-top: 45px; */
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 50px;
    border-left: solid 20px #ffcccc;
}
#box02 .box-content{
    padding-bottom: 0px;
}
#cv-boxtitle{
    text-align: left;
    color: #000;
}
#box02 #cv-boxtitle{
	width: 100%;
	float: left;
	border-radius: 10px;
	line-height: 30px;
	padding-left: 20px;
}
#box03 #cv-boxtitle{
width: 100%;
float: left;
line-height: 40px;
height: 40px;
padding-left: 20px;
}
#box04 #cv-boxtitle{
width: 100%;
float: left;
line-height: 40px;
height: 40px;
padding-left: 20px;
}
#box05 #cv-boxtitle{
	width: 100%;
	float: left;
    line-height: 40px;
    height: 40px;
    padding-left: 20px;
}
#box06 #cv-boxtitle{
	width: 100%;
	float: left;
	line-height: 40px;
    height: 40px;
    padding-left: 20px;}
#box07 #cv-boxtitle{
	width: 100%;
	float: left;
	line-height: 40px;
    height: 40px;
    padding-left: 20px;
}
#block01 head {
    	width: 100%;
    	float: left;
    	line-height: 40px;
    	height: 40px;
}
.sum{
	/* height: 34px; */
}
#cv-profile-fullname::before{
  color: #fff;
}
.watermark {
    float: left;
    width: 100%;
    /* height: 22px; */
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    /* padding-top: 76px; */
  }

.footer {
    background-color: unset;
    border-top: none;
    padding: 0;
    margin: unset;
    width: 100%;
    float: left;
}