#cv-top{		 
    background: #ffc0c2;
}
#cv-content .head {
    background: #ffc0c2;
}
#cv-content .cvo-block {   
	border-top: dashed 2px #ffc0c2; 
}
.bar-exp {
  	background: #ffc0c2;
} 

#cv-right h3{
	background: #0e3150;
}

.bar-exp div {
    background: #0e3150;  
}

#sortable .icoweb{
	background: #0e3150;
}

#cv-main{
	background: #6dc9c8;
	border-bottom: solid 1px #6dc9c8;
	border-right: solid 1px #6dc9c8;
}

#cv-right{
	background:#6dc9c8;
}
