#cv-top {
    background-image: url(hd2.png);
    background-size: 100% 100%;
}

.all {
    background: url(main2.png)no-repeat;
    background-size: 100% 100%;
}
.footer {
    background: url(ft2.png)no-repeat;
    background-size: 100% 100%;
}
.box-dm {
    background: url(fake2.png)no-repeat;
    background-size: 100% 100%;
}
#cv-content .head #cvo-experience-blocktitle {
    border: 2px dashed #7ee4a7;
}