#form-cv{
	border:solid 1px #4a1a67;
	border-left: solid 35px #4a1a67;
}
#cv-top h1, .icf .fa, #cv-right h3, #cv-content .head, #cv-content h3{
	color:#4a1a67;
}
#cvo-profile .box-contact{
	color:#4a1a67;
	border-left: 4px solid #4a1a67;
}
#sortable .cvo-block, #cv-content .cvo-block{
	border-left: solid 4px #4a1a67;
}
.bar-exp div{
	background: #4a1a67
}