#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

/*#sortable .cvo-block {
    margin-bottom: 15px;
    margin-top: 8px;
    border: 1px solid #24400e;
    padding: 0;
    padding-bottom: 15px;
}*/

#sortable .cvo-block .box-content {
  padding: 10px 0px 15px 0px;
  margin: 0;
  width: 97%;
}

.exp.content-edit.skill {
  margin-top: 10px;
  border-radius: 10px;
}


#cvo-profile {
  display: block;
}

#cv-content {
  width: 54.2%;
  text-align: justify;
  float: right;
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}


#cv-main {
  text-align: justify;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: 42.5%;
  margin-left: 20px;
  padding-top: 10px;
}

#cv-right .ir {}

div#prof {
  padding-top: 10px;
  padding-bottom: 15px;
}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  padding-bottom: 5px;
}

#cv-top {
  width: 100%;
  height: 260px;
  background-image: url(hd.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

#cv-top h1 {
  width: 87%;
  padding: 0;
  margin: 0;
  float: right;
  font-size: 35px;
  font-family: "Roboto";
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #3a4c70;
  font-weight: bold;
  text-align: center;
  height: 92px;
}

#cv-top h1 span {
  letter-spacing: 3px;
  width: 100%;
}

#box-hvt {
  float: right;
  width: 54%;
  margin: 0;
  padding-top: 63px;
  margin-right: 57px;
}

#sortable #box01 {
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0;
}

#sortable #box01 #prof {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  border-radius: 10px;
}

#box01 ul {
  list-style: none;
  padding-left: 20px
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-top h2 {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 60px;
  font-family: "Roboto";
  color: #3a4c70;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0;
  height: 60px;
  width: 80%;
}

.box-01 p {
  overflow: hidden;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  text-align: left;
  margin: 0px auto 10px;
  line-height: 20px;
  padding-top: 0px;
}

#cv-content h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #3a4c70;
}

.all {
  background: url(main.png)no-repeat;
  background-size: 100% 100%;
  /* border-bottom: 30px solid #3a4c70; */
}
.footer{
  background-color: #3a4c70;
  height: 30px;
  width: 100%;
  float: left;
}
#cv-content #block02 .exp-content {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

#cv-content #block03 h3 {
  font-weight: bold;
}

#cv-content #block04 h3 {
  font-weight: bold;
}

#cv-content .exp-date {
  float: none;
}

#cv-content #block01 .exp-date {
  display: none;
}

#cv-content #block03 .exp-date {
  display: none;
}

#cv-content #block04 .exp-date {
  display: none;
}

#cv-content #block05 .exp-date {
  display: none;
}

#cv-content p.h3 {
  margin: 0px;
  padding: 0px;
}

/*#cv-content .cvo-block {
    padding: 0px;
    padding-bottom: 30px;
    margin: 0;
}

*/
.ctbx {
  padding-left: 10px;
  padding-right: 10px
}


#cv-content span {
  display: inline-block;
  z-index: 9999;
}

#cv-content #block02 h3 {
  font-weight: bold;
}

.ctbx {
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}


.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
  height: 188px;
  width: 28%;
  padding: 0;
  margin: 0;
  float: left;
  padding-top: 35px;
  padding-left: 20px
}

#cvo-profile-avatar-wraper .wimg {
  width: 175px;
  height: 175px;
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  border: 6px solid #3a4c70;
  border-radius: 5px;
}

#cvo-profile-avatar-wraper img {
  width: 175px;
  height: 175px;
  display: inline-block;
  float: left;
  border-radius: 5px;
}



#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: left;
  height: 10px;
  background: #3a4c70;
  margin-top: 0px;
}

.ctbx .skill-name {
  margin: 0px;
  padding: 0px;
}

.bar-exp {
  background: #f3f3f3;
  height: 10px;
  float: none;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px solid #3a4c70;
  border-radius: 5px;
}

.bar-value-exp {
  width: 100%
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 95%
}

.icoweb label {
  display: block;
}

/*#sortable .icoweb {
  width: 87%;
  height: 30px;
  line-height: 30px;
  float: right;
  padding-left: 5px;
  margin-bottom: 0
}*/
#page-cv #cv-content span {
  width: 100%;
}

#prof [contentEditable=true] {
  width: 100%;
  float: left;
}

#sortable .ic {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-left: 5px;
}

.ic {
  width: 100%;
  float: left;
}

#form-cv .icf {
  float: left;
  border-radius: 5px;
  line-height: 30px;
  margin-bottom: 0;
  width: 28px;
  text-align: center;
}

.ic .icoweb {
  width: 85%;
  text-align: left;
  padding-left: 5px;
  float: left;
}

.icf .fa {
  font-size: 20px;
  color: #3a4c70;
  margin-top: 0;
  float: none;
}

.container {
  width: 100%;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

#cv-right .block {

  position: relative;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0;
}

#cv-content .head {
  height: 35px;
  width: 100%;
  line-height: 35px;
}

#experience-table .ctbx {}

.ifo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35px;
}


#cv-right h3 {
  width: 100%;
  height: 30px;
  margin: 0;
  color: #ffffff;
  padding: 0;
  float: left;
  line-height: 30px;
  text-align: center;
  background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
  color: #3a4c70;
  padding-left: 10px;
  float: left;
}

#experience-table #exp2 {
  margin-top: 10px;
}

#block02 #experience-table .ctbx {
  padding-left: 20px;
}

#block01 #experience-table .ctbx {
  padding-left: 20px;
}

#block03 #experience-table .ctbx {
  padding-left: 20px;
}

#block04 #experience-table .ctbx {
  padding-left: 20px;
}

#block05 #experience-table .ctbx {
  padding-left: 20px;
}

#exp1 .exp-content {}

/*#icon{
    width: 30px;
    height: 30px;
    background: url(icon1.png)no-repeat;
    float: left;
    border-bottom: 2px solid #fff;
}*/
#bg {
  background: #F58284;
  text-align: left;
}

/*#prof {
    padding: 5px 35px;
    width: 90%;
    background: url(bg-it.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position-y: center;
}*/
.cumicc1 {
  width: 50px;
  height: 50px;
  float: left;
  background: url(ic-1.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-left: 5px;
}

.cumic2 {
  width: 50px;
  height: 45px;
  float: left;
  background: url(ic-2.png);
  background-position: center left;
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-left: 5px;
}

.cumicc3 {
  width: 50px;
  height: 45px;
  float: left;
  background: url(ic-3.png);
  background-position: center left;
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-left: 5px;
}

.cumic4 {
  width: 50px;
  height: 45px;
  float: left;
  background: url(ic-4.png);
  background-position: center left;
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-left: 5px;
}

.cumic5 {
  width: 50px;
  height: 45px;
  float: left;
  background: url(ic-5.png);
  background-position: center left;
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-left: 5px;
}

.cumic6 {
  width: 50px;
  height: 45px;
  float: left;
  background: url(ic-6.png);
  background-position: center left;
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-left: 5px;
}

.cumic7 {
  width: 50px;
  height: 45px;
  float: left;
  background: url(ic-7.png);
  background-position: center left;
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-left: 5px;
}

div#experience-table {
  margin: 0px;
  border-radius: 10px;
  width: 95%;
}


.tt-box1 {
  height: 50px;
  width: 100%;
  line-height: 50px;
  background: #155759;
}

div#cv-boxtitle {
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #3a4c70;
  width: 70%;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ski {
  height: 35px;
  width: 100%;
  line-height: 35px;
}

.cum {
  height: 35px;
  width: 100%;
  line-height: 35px;
}

.icright1 {
  width: 37px;
  height: 35px;
  float: left;
  background: url(ic_05.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icright2 {
  width: 37px;
  height: 35px;
  float: left;
  background: url(ic_10.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icright3 {
  width: 37px;
  height: 35px;
  float: left;
  background: url(ic_18.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icright4 {
  width: 37px;
  height: 35px;
  float: left;
  background: url(ic_25.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icright5 {
  width: 37px;
  height: 35px;
  float: left;
  background: url(ic_33.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icon1 {
  width: 37px;
  height: 35px;
  float: left;
  background: url(ic_03.png);
  background-position: center left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.icon2 {
  width: 37px;
  height: 35px;
  float: left;
  background: url(ic_13.png);
  background-position: center left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.icon3 {
  width: 37px;
  height: 35px;
  float: left;
  background: url(ic_15.png);
  background-position: center left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.icon4 {
  width: 37px;
  height: 35px;
  float: left;
  background: url(ic_22.png);
  background-position: center left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.icon5 {
  width: 37px;
  height: 35px;
  float: left;
  background: url(ic_27.png);
  background-position: center left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.icon6 {
  width: 37px;
  height: 35px;
  float: left;
  background: url(ic_30.png);
  background-position: center left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.icon7 {
  width: 37px;
  height: 35px;
  float: left;
  background: url(ic_37.png);
  background-size: 100% 100%;
  background-position: center left;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}




/*.footer {
    background: url(ft-1.png);
    height: 100px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    margin-top: -70px;
    position: relative;
    z-index: 999999;
}*/
div#sort_block {
  padding: 0;
  margin: 0;
}

/*#cv-content .cvo-block {
    position: unset;
    padding: 0;
    margin: 0;
}*/
#cv-content #sort_block #block01 {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

#cv-content #sort_block #block02 {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#cv-content #sort_block #block03 {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#cv-content #sort_block #block04 {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#cv-content #sort_block #block05 {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.cvo-block .blockControls {
  margin: 0px;
  padding: 0px;
}

#cv-right #box02 {

  padding-top: 10px;
  padding: 0;
}

#cv-right #box03 {
  margin-bottom: 5px;
  padding-top: 10px;
  padding: 0;
}

#cv-right #box04 {
  margin-bottom: 5px;
  padding-top: 10px;
  padding: 0;
}

#cv-right #box05 {
  margin-bottom: 5px;
  padding-top: 10px;
  padding: 0;
}

#cv-right #box06 {
  margin-bottom: 5px;
  padding-top: 10px;
  padding: 0;
}

#cv-right #box07 {
  margin-bottom: 20px;
  padding-top: 10px;
  padding: 0;
}

#box01 h4 {
  height: 35px;
  float: left;
  width: 100%;
  line-height: 35px;
}

#cv-right #box01 {
  padding: 0;
  margin: 0;
}

.watermark {
  float: left;
  width: 100%;
  /* height: 22px; */
  color: #999;
  text-align: right;
  padding-right: 22px;
  font-size: 15px;
  font-family: Courier;
}