.page_end {
    display: none!important;
}

#cv-title.non-printable {
    width: 100%;
    font-size: 18px;
}

#page-cv {
    width: 100%;
}

#form-cv {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    border: dashed 1px #e1e1e1;
    box-sizing: border-box;
}

#form-cv p {
    margin-top: 0;
    margin-bottom: 0px;
}

#cv-top {
    width: 100%;
}

#sortable .cvo-block {
    margin: 0;
    padding: 0;
    padding: 5px 2px 5px;
}

#cvo-profile {
    display: block;
    padding: 20px 0px 0;
}

#cv-content {
    width: 98%;
    margin-left: 1%;
    text-align: justify;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    background: #fff;
}

#cv-content .box-01 {
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-top: 20px;
}

#cv-content .ir {
    padding-right: 0;
    margin: 0px;
}

#cv-content #block02 #exp3 {
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

div#experience-table {
    clear: both;
    padding: 0 10px 0 10px;
}

#cv-main {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: justify;
    float: left;
    position: relative;
}

#cv-right {
    float: left;
    width: 100%;
    padding: 0px 21px;
    color: #000;
    position: relative;
}

#cv-right .ir {
    padding: 0;
}

p.skill-name input {
    color: #fff !important;
}

#box-hvt {
    margin: 0;
    padding: 5px;
    margin-bottom: 7px;
    width: 100%;
    text-align: justify;
    background: #F9F9FF;
}

#box-hvt h1 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color: #4C5BD4;
    text-align: center;
    font-weight: bold;
}

#cvo-profile .box-contact {
    padding-top: 0;
    width: 100%;
    float: right;
    color: #000;
}

#cv-right #prof {
    width: 100%;
    float: left;
    color: #000;
    padding-bottom: 30px;
}

#sortable #box01 {
    padding: 0;
    margin: 0;
    border: 0;
}

.avt {
    width: 100%;
    height: 310px;
    padding: 0;
    margin: 0;
}

#cv-right .cvo-block .head div {
    color: #1b1b1b;
}

#box01 ul li {
    width: 50%;
    float: left
}

#box-hvt h2 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #474747;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding-top: 0;
    line-height: 24px;
}

#sortable .box-content {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    width: 100%;
}

.exp.content-edit.skill {
    padding-top: 20px;
    margin-bottom: 15px;
}

#cv-content .exp-title {
    width: 100%;
    float: right;
    color: #4C5BD4;
}

span.exp-subtitle {
    font-weight: normal;
}

#cv-content .exp-date {
    float: left;
    width: 100%;
    padding-right: 10px;
    font-size: 14px;
    text-align: left;
}

#cv-content .w-exp {
    width: 100%;
    float: right;
}

#cv-content h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    line-height: 22px;
    display: table;
    width: 100%;
    margin-bottom: 5px;
}

#cv-content p.h3 {
    font-weight: bold;
}

#cv-content .cvo-block {
    margin: 0;
    padding: 0;
    padding-right: 0;
    margin-right: 0;
}

.cvo-block .box-title,
.cvo-block .block-title {
    padding: 6px 16px;
    border-radius: 30px;
    background: #F1F3FF;
}

#cv-right h3,
#cv-content .head {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 12px;
}

#cv-right h3::before,
#cv-content .head::before {
    content: '';
    width: 100%;
    height: 2px;
    background: #F1F3FF;
    position: absolute;
}

.ctbx {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px;
}

.ctbx {
    position: relative;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

.fieldgroup_controls {
    width: unset;
    top: -23px;
}

.fieldgroup_controls .clone,
.fieldgroup_controls .down,
.fieldgroup_controls .edit,
.fieldgroup_controls .remove,
.fieldgroup_controls .save,
.fieldgroup_controls .suggest-control,
.fieldgroup_controls .up {
    margin-top: 0px;
    padding: 2px;
}

#cvo-profile-avatar-wraper {
    width: 280px;
    padding: 0px;
    margin: 0px auto;
    height: 280px;
    overflow: hidden;
    margin-bottom: 13px;
}

#cvo-profile-avatar-wraper .wimg {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    height: 280px;
    border: #fff solid 4px;
    border-radius: 5px;
    box-sizing: border-box;
}

#page-cv #cv-content span {
    z-index: 2;
}

#cvo-profile-avatar-wraper img {
    width: 290px;
    height: 280px;
    float: none;
    display: inline-block;
    border-radius: 5px;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 6px;
    background: #4C5BD4;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.bar-exp div::before {
    content: '';
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4C5BD4;
    box-shadow: 0px 0px 0px 10px rgba(76, 91, 212, 0.08);
    ;
}

.ctbx .skill-name {
    width: 100%;
    float: left;
}

.bar-exp {
    width: 100%;
    height: 8px;
    float: right;
    margin-top: 24px;
    margin-bottom: 30px;
    border: 1px solid #fff;
    border-radius: 3px;
}

.skill .ctbx {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.bar-value-exp {
    width: 50%
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
}

.icoweb label {
    display: block;
}

.icoweb {
    line-height: 22px;
    float: left;
    padding-left: 5px;
}

.ic {
    float: left;
    width: 100%;
    margin-bottom: 8px
}

#form-cv .icf {
    float: left;
    line-height: 25px;
    height: 25px;
    margin-bottom: 0;
    font-size: 14px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    background: #4C5BD4;
}

#form-cv .ic .icoweb {
    margin-bottom: 0;
    width: 78%;
    display: flex;
}

.ic .icoweb {
    float: left
}

.icf .fa {
    color: #FFFFFF;
    margin-top: 0;
    float: none
}

#prof .ic {
    padding: 0;
    margin: 0;
    margin-top: 13px;
    float: none;
    float: left;
    max-width: 100%;
}

#form-cv .wfa {
    float: right;
    width: 25px;
    font-size: 14px;
    line-height: 25px;
    background: #fff;
    border: 2px solid #446600;
    border-radius: 20px;
    text-align: center;
    color: #446600
}

.sum {
    width: 100%;
    height: 30px;
}

#cv-content .head {
    width: 100%;
    /* height: 35px; */
    line-height: 35px;
    float: right;
    color: #4C5BD4;
    margin: 0;
    text-align: center;
}

.cum {
    width: 100%;
    height: 30px;
}

#cv-right h3 {
    color: #4C5BD4;
    width: 100%;
    /* height: 40px; */
    line-height: 30px;
    float: left;
    text-align: center;
    background: #fff;
}

.funk {
    width: 100%;
    height: 30px;
}

#experience-table .ctbx {
    clear: both;
}

#box01 #prof {
    padding-top: 10px;
    padding-bottom: 15px;
    width: 94%;
    float: left;
}

#cv-content #box01 {
    width: 90%;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    background-position: left top;
    float: left;
}

#cv-content .head .div-text {
    width: 90%;
    height: 40px;
    float: left;
    text-align: left;
    background: url(bg1.png)repeat-x;
    background-position: center;
}

#cv-content .ir .cvo-block {
    margin-right: 0;
    padding-right: 0;
    padding-top: 5px;
}

#cv-content .ir #block05 #experience-table {
    background: none;
    padding-right: 15px;
}

#footer {
    display: none;
}

.ico-1,
.ico-2,
.ico-3,
.ico-4,
.ico-5 {
    width: 40px;
    height: 40px;
    background: url(icon1.png)no-repeat;
    float: left;
    background-position: left center;
}

.cvo-block .blockControls {
    height: 28px;
    top: -28px;
    padding: 0 3px;
}

.cvo-block .blockControls .down,
.cvo-block .blockControls .hide,
.cvo-block .blockControls .show-layout-editor,
.cvo-block .blockControls .up {
    padding: 3px;
    margin-top: 3px;
    line-height: 12px;
    font-size: 11px;
}