#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.cv_page {
  padding: 0;
}

#sortable .cvo-block .box-content {
  margin: 0;
  width: 100%;
  color: #000;
  padding: 0;
  text-align: justify;
  margin-top: 15px;
}

.exp.content-edit.skill {
  float: left;
}


#cvo-profile {
  display: block;
}

#cv-content {
  width: 56%;
  text-align: justify;
  float: left;
  position: relative;
  z-index: 2;
  margin-top: -250px;
}

#block01 #experience-table #tt-content {
  float: left;
  background: var(--exp1);
  background-position: 25px 0px;
  background-size: 2px 100%;
}

#block02 #experience-table #tt-content {
  float: left;
  background: var(--exp1);
  background-position: 25px 0px;
  background-size: 2px 100%;
}

#block03 #experience-table #tt-content {
  float: left;
  background: var(--exp1);
  background-position: 25px 0px;
  background-size: 2px 100%;
}

#block04 #experience-table #tt-content {
  float: left;
  background: var(--exp1);
  background-position: 25px 0px;
  background-size: 2px 100%;
}

#block05 #experience-table #tt-content {
  float: left;
  background: var(--exp1);
  background-position: 25px 0px;
  background-size: 2px 100%;
}

#cv-profile-sex:before {
  color: #fff;
}

#cv-profile-birthday:before {
  color: #fff;
}

#cv-main {
  text-align: justify;
  padding: 0;
  float: left;
  width: 36.5%;
  padding: 0 0 0 17px;
  margin-right: 40px;
}

.chu {
  float: left;
  width: 90%;
  margin-top: 10px;
  padding-left: 60px;
  color: #fff;
}

.anh {
  float: left;
  width: 36.55%;
  /* height: 381px; */
  position: relative;
  background: var(--fake);
  background-color: var(--color2);
  z-index: 3;
}

#cv-right .ir {
  padding: 0;
  margin: 0;
}

#cv-main #cv-right {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  position: relative;
}

#cv-main #cv-right .ir #sortable {
  padding: 0;
  margin: 0;
}

#cv-right .ir #sortable .block {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
  width: 98%;
  padding: 0;
  margin: 0;
  border: 0;
  padding-bottom: 0px;
  float: left;
}

#cv-content #box01 {
  padding: 0;
  margin: 0;
}

#box03 .exp {
  float: left;
  width: 100%;
  border-radius: 30px;
  min-height: 62px;
  max-width: 266px;
  margin-top: 15px;
}

#cv-top {
  width: 100%;
  float: left;
  min-height: 440px;
}

.all {
  float: left;
  clear: both;
  width: 100%;
  /* margin: 0; */
  display: flex;
  background-position: left bottom;
  /* padding-top: 20px; */
  margin-top: 20px;
}

#cv-top h1 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  font-family: "Roboto";
  text-transform: uppercase;
  margin-bottom: 0;
  color: #fff;
  font-weight: bold;
  width: 100%;
  float: left;
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
  line-height: 45px;
}

#cv-top h1 span {
  ;
  width: 100%;
  line-height: 45px;
}

div#box01 {
  float: left;
  width: 100%;
  padding-bottom: 60px;
}

#box-hvt {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--thongtin);
  background-size: 100% 100%;
  margin-top: 10px;
  top: -10px;
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-profile-fullname::before {
  color: #000;
}

#cv-top h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-size: 17px;
  float: left;
  font-weight: bold;
  position: relative;
  background: url(job.png) no-repeat;
  background-position: center;
}

#cv-top h2 #cv-profile-job {
  max-width: 246px;
}

.box-01 p {
  overflow: hidden;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-content h3 {
  float: left;
  width: 100%;
  font-weight: unset;
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
  padding: 0px;
  color: #000;
}

#cv-content #block03 h3 {
  font-weight: unset;
  float: left;
}

#cv-content p.h3 {
  float: left;
  width: 100%;
  margin: 0px;
  padding-left: 40px;
  background: var(--h3);
  background-position: 21px center;
}

#cv-content .cvo-block {
  float: left;
  width: 100%;
}

#cv-content .ir .cvo-block {
  padding: 0;
  background-position: top;
  margin-bottom: 25px;
}

.ctbx {
  padding-left: 10px;
  padding-right: 10px
}

#experience-table .ctbx {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}


.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 3;
}

#cvo-profile-avatar-wraper .wimg {
  width: 239px;
  height: 208px;
  margin-left: 40px;
}

#cvo-profile-avatar-wraper img {
  margin-top: 11px;
  margin-left: 4px;
  width: 200px;
  height: 200px;
  border-radius: 99em;
}

.box-01 {
  float: left;
  width: 100%;
}

#cvo-profile {
  float: left;
  display: block;
  width: 100%;
}

#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: left;
  height: 9px;
  background: var(--kn);
  background-size: 98% 4px;
  margin-left: 2px;
  background-position: left;
}

.ctbx .skill-name {
  margin: 0px;
  padding: 0px;
  color: #000;
  float: left;
  width: 100%;
  padding-left: 10px;
  text-align: left;
}

.bar-exp {
  background: var(--skil);
  background-size: 100% 9px;
  height: 16px;
  margin-left: 9px;
  padding: 0px;
  float: left;
  width: 248px;
}

.bar-value-exp {
  width: 100%
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 95%
}

.icoweb label {
  display: block;
}

#cv-right .block {
  position: relative;
  padding: 0;
  margin: 0;
}

.ic .icoweb {
  width: calc(100% - 30px);
  text-align: left;
  padding-left: 5px;
  float: left;
  color: #000;
}

.ic {
  width: 100%;
  float: left;
  color: #000;
  padding-bottom: 10px;
}

#prof [contentEditable=true] {
  width: 100%;
  float: left;
}

#prof .icoweb,
#prof .icoweb span {
  height: auto;
  text-align: left;
  width: 100%;
  float: left;
}

div#prof {
  float: left;
  width: 85%;
  margin-left: 20px;
}

#form-cv .icf {
  float: right;
  line-height: 20px;
  margin-bottom: 0;
  width: 26px;
  height: 20px;
  text-align: left;
  display: none;
}

.ic02 {
  float: right;
  width: 64%;
}

.ic03 {
  float: left;
  width: 35%;
}

.icf .fa {
  font-size: 20px;
  color: #000;
  margin-top: 0;
  float: left;
}

.container {
  width: 100%;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

#cv-right .block {
  margin-bottom: 10px;
  position: relative;
  padding: 0;
  padding-bottom: 20px;
}

#experience-table .ctbx {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-top: 15px;
  margin-bottom: 0px;
}

#cv-right h3 {
  width: 100%;
  height: 30px;
  margin: 0;
  color: #ffffff;
  padding: 0;
  float: left;
  line-height: 30px;
  text-align: center;
  background: #b82731;
}

#block01 .head #cvo-experience-blocktitle {
  background: var(--hocvan);
  background-position: 28px center;
}

#block02 .head #cvo-experience-blocktitle {
  background: var(--kinhnghiem);
  background-position: 28px center;
}

#block03 .head #cvo-experience-blocktitle {
  background: var(--duan);
  background-position: 28px center;
}

#block04 .head #cvo-experience-blocktitle {
  background: var(--hoatdong);
  background-position: 28px center;
}

.cv_page #cv-content .ir #block05 {
  display: none;
}

#cv-content .head #cvo-experience-blocktitle {
  position: relative;
  z-index: 990;
  width: 100%;
  padding: 3px 0px 4px 80px;
  color: var(--color);
}

#bg {
  background: #F58284;
  text-align: left;
}

div#experience-table {
  float: left;
  border-radius: 10px;
}

#cv-boxtitle {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color);
  padding: 3px 0px 4px 50px;
  width: 100%;
}

#box02 .cum #cv-boxtitle {
  background: var(--muctieu);
  background-position: 11px center;
}

#box03 .ski #cv-boxtitle {
  background: var(--kinang);
  background-position: 11px center;
}

#box04 .cum #cv-boxtitle {
  background: var(--giaithuong);
  background-position: 11px center;
}

#box05 .cum #cv-boxtitle {
  background: var(--chungchi);
  background-position: 11px center;
}

#box06 .cum #cv-boxtitle {
  background: var(--sothich);
  background-position: 11px center;
}

#box07 .cum #cv-boxtitle {
  background: var(--nguoithamchieu);
  background-position: 11px center;
}


.ski {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  line-height: 30px;
  text-align: left;
}

.cum {
  margin: 0 auto;
  width: 100%;
  line-height: 30px;
}

div#sort_block {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

.cvo-block .blockControls {
  margin: 0px;
  padding: 0px;
}

#cv-profile-job::before {
  color: #000;
}

.footer {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 46px;
  background: var(--foot);
}

.watermark {
  float: left;
  width: 100%;
  color: #000;
  text-align: right;
  padding-right: 22px;
  padding-top: 14px;
  font-size: 15px;
  font-family: Courier;
}

#prof .ic:nth-child(1),
#prof .ic:nth-child(3) {
  width: 35%;
  float: left;
}

#prof .ic:nth-child(2) {
  width: 30%;
}

#box02 div#cv-boxtitle {
  background-position: left;
}

#cv-content .cvo-block .head {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  background: var(--dgKe);
  background-position: 0pc bottom;
  background-size: 100% 10px;
  padding-bottom: 12px;
  margin-bottom: 15px;
}

.ic1,
.ic2,
.ic3,
.ic4,
.ic5 {
  width: 100%;
  float: left;
  line-height: 30px;
}

.ic1 {
  /* margin-top: 10px; */
  background: var(--date);
  background-position: 0px 6px;
  border-bottom: solid 1px var(--color);
}

.ic2 {
  background: var(--sex);
  background-position: 0px 6px;
  border-bottom: solid 1px var(--color);
}

.ic3 {
  background: var(--phone);
  background-position: 0px 5px;
  border-bottom: solid 1px var(--color);
}

.ic4 {
  width: 100%;
  background: var(--email);
  background-position: 0px 10px;
  border-bottom: solid 1px var(--color);
}

.ic5 {
  width: 100%;
  background: var(--add);
  background-position: 0px 5px;
}

.icoweb {
  float: right;
}

.fake_img {
  width: 324px;
  height: 299px;
  position: absolute;
  top: 293px;
  margin-top: -268px;
  z-index: 99;
  display: none;
}

#box02 .box-content {
  color: #000;
  padding: 10px;
}

.cum,
.ski {
  font-size: 16px;
  background: var(--dgKe);
  background-position: 0px 100%;
  background-size: 100% 10px;
  padding-bottom: 10px;
  margin-top: 5px;
}

#cv-content .exp-date {
  float: right;
  width: 100px;
  margin: 0;
  padding: 0px 0px 14px 0px;
  color: #ffff;
  text-align: center;
  background: var(--time);
  background-size: 100% 100%;
}

.exp-title {
  float: left;
  font-weight: bold;
  width: 100%;
  background: var(--muiten);
  background-position: 0px center;
  padding-left: 25px;
}

.bar-exp div p {
  color: #F44336;
  display: block;
  position: absolute;
  font-size: 20px;
  z-index: 99999;
}

#block03 h3 {
  display: none;
}

span.exp-subtitle {
  width: 100%;
}

.ifo {
  float: left;
  width: 63.44%;
  height: max-content;
  position: relative;
  /* padding-top: 43px; */
  margin-top: 35px;
  margin-bottom: 30px;
  padding-bottom: 40px;
  background: var(--chu);
  background-position: left bottom;
  background-size: 100% 100%;
  text-align: center;
  margin-bottom: 250px;
}

#prof .icoweb {
  width: 100%;
  padding-left: 25px;
}

.icright1,
.icright2,
.icright3,
.icright4,
.icright5 {
  display: none;
}

#block05 h3,
#block05 .exp-content {
  display: none;
}

.exp-content {
  float: left;
  width: 100%;
  padding-left: 40px;
}

#experience-table #exp1 {
  margin: 0;
}

#cv-content #block05 p.h3 {
  padding: 0;
}

#cv-right .ir #sortable #box01 {
  display: none;
}

:root {
  --sex: url(gender.png) no-repeat;
  --phone: url(phone.png) no-repeat;
  --date: url(birthday.png) no-repeat;
  --email: url(mail.png) no-repeat;
  --add: url(address.png) no-repeat;
  --color: #208da1;
  --color2: #7fbeca;
  --foot: url(foot1.png) no-repeat;
  --kn: url(kn1.png) no-repeat;
  --time: url(time1.png) no-repeat;
  --fake: url(fake1_01.png) no-repeat;
  --thongtin: url(thongtin1-1.png) no-repeat;
  --h3: url(h3-1.png) no-repeat;
  --skil: url(skill.png) no-repeat;
  --hocvan: url(hocvan1.png) no-repeat;
  --kinhnghiem: url(kinhnghiem1.png) no-repeat;
  --duan: url(duan1.png) no-repeat;
  --hoatdong: url(hoatdong1.png) no-repeat;
  --muctieu: url(muctieu1.png) no-repeat;
  --kinang: url(kinang1.png) no-repeat;
  --giaithuong: url(giaithuong1.png) no-repeat;
  --chungchi: url(chungchi1.png) no-repeat;
  --sothich: url(sothich1.png) no-repeat;
  --nguoithamchieu: url(nguoithamchieu1.png) no-repeat;
  --dgKe: url(dg-ke.png) no-repeat;
  --muiten: url(muiten1.png) no-repeat;
  --chu: url(chu1.png) no-repeat;
  --exp1: url(exp1-1.png) no-repeat;
}


.ct_bo {
  float: left;
  min-height: 62px;
}

#box02 .ct_bo {
  min-width: 100%;
}