#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

/*#sortable .cvo-block {
    margin-bottom: 15px;
    margin-top: 8px;
    border: 1px solid #24400e;
    padding: 0;
    padding-bottom: 15px;
}*/

#sortable .cvo-block .box-content {
  margin: 0;
  width: 96%;
  border-radius: 10px;
  padding-top: 15px;
  color: #000;
  font-size: 16px;
  padding-bottom: 15px;
}

.exp.content-edit.skill {
  float: left;
}


#cvo-profile {
  display: block;
}

#cv-content {
  width: 46%;
  text-align: justify;
  float: right;
  position: relative;
  padding: 0;
  margin: 0;
  margin-right: 20px;
}

#cv-profile-phone:before {
  color: #000;
}

#cv-profile-email:before {
  color: #000;
}

#cv-profile-address:before {
  color: #000;
}

#cv-profile-sex:before {
  color: #000;
}

#cv-profile-birthday:before {
  color: #000;
}

#cv-main {
  text-align: justify;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: 41%;
  margin-left: 35px;
}

.chu {
  float: left;
  width: 98%;
  padding-top: 25px;
}

.anh {
  float: left;
  width: 100%;
}

.div-left {
  float: left;
  width: 48%;
}

#cv-right .ir {
  padding: 0;
  margin: 0;
}

#cv-main #cv-right {
  padding: 0;
  margin: 0;
}

#cv-main #cv-right .ir #sortable {
  padding: 0;
  margin: 0;
}

#cv-right .ir #sortable .block {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  padding-bottom: 10px;
  float: left;
}

#cv-content #box01 {
  /*background:#000;*/
  padding: 0;
  margin: 0;
}

#box03 .exp {
  float: left;
  padding-top: 15px;
  width: 96%;
  padding-bottom: 15px;
}

#cv-top {
  width: 100%;
  height: 360px;
  background-image: url(hd.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.all {
  float: left;
  clear: both;
  background: url(main.png)no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-top: 30px;
}

#cv-top h1 {
  padding: 0;
  margin: 0;
  font-size: 28px;
  font-family: "Roboto";
  line-height: 35px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #233237;
  font-weight: bold;
  text-align: center;
  width: 77%;
  float: left;
  padding-left: 64px;
}

#cv-top h1 span {
  ;
}

div#box01 {
  float: right;
  width: 100%;
}

#box-hvt {
  float: left;
  width: 46.5%;
  padding: 0;
  margin: 0;
  padding-left: 0px;
  padding-top: 155px;
  margin-left: 20px;
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-profile-fullname::before {
  color: #000;
}

#cv-top h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 79%;
  font-size: 22px;
  color: #233237;
  float: left;
  text-align: center;
  padding-top: 5px;
  padding-left: 60px;
  font-weight: 400 !important;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  text-align: left;
  line-height: 20px;
  padding-top: 0px;
}

#cv-content h3 {
  font-weight: unset;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  color: #000;
}


#cv-content #block02 .exp-content {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#cv-content #block03 h3 {
  font-weight: unset;
}

#cv-content .exp-date {
  float: none;
}

#cv-content #block01 .exp-date {
  display: none;
}

#cv-content #block03 .exp-date {
  display: none;
}

#cv-content #block04 .exp-date {
  display: none;
}

#cv-content #block05 .exp-date {
  display: none;
}

#cv-content p.h3 {
  margin: 0px;
  padding: 0px;
}

#cv-content .cvo-block {
  padding: 0 !important;
  float: left;
  width: 100%;
}

#cv-content .ir .cvo-block {
  padding: 0;
}

.ctbx {
  padding-left: 10px;
  padding-right: 10px
}


#cv-content span {
  display: inline-block;
  z-index: 9999;
}

#cv-content #block02 h3 {
  font-weight: bold;
  color: #000;
  float: left;
  width: 100%;
  text-transform: unset;
  font-size: 16px;
}

#block02 #experience-table #exp2 {}

.ctbx {
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}


.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
  width: 76%;
  padding: 0;
  margin: 0;
  float: left;
  display: table;
  padding-top: 14px;
  padding-left: 97px;
}

#cvo-profile-avatar-wraper .wimg {
  width: 235px;
  height: 235px;
  float: left;
  display: unset !important;
  border: 2px solid #233237;
}

#cvo-profile-avatar-wraper img {
  width: 235px;
  height: 235px;
  float: none;

}

.box-01 {
  float: left;
  width: 100%;
  height: 300px;
}

#cvo-profile {
  display: block;
  float: left;
  width: 100%;
  height: 300px;
}

#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: left;
  height: 7px;
  background: #233237;
  margin-top: 0px;
}

.ctbx .skill-name {
  margin: 0px;
  padding: 0px;
  color: #000;
  float: left;
  width: 100%;
  font-size: 16px;
}

.bar-exp {
  background: #fff;
  height: 7px;
  float: none;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 0px;
  border: 2px solid #233237;
  float: left;
  width: 100%;
  border-radius: 10px;
}

.bar-value-exp {
  width: 100%
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 100%;
  height: 30px;
}

.icoweb label {
  display: block;
}

/*#sortable .icoweb {
  width: 87%;
  height: 30px;
  line-height: 30px;
  float: right;
  padding-left: 5px;
  margin-bottom: 0;
  color: #fff;
}*/
#cv-right .block {
  position: relative !important;
  padding: 0;
  margin: 0;
}

.ic .icoweb {
  width: 74%;
  text-align: left;
  padding-left: 10px;
  float: left;
  color: #000;
}


#prof span {}

#prof [contentEditable=true] {
  width: 100%;
  float: left;
}

#prof .icoweb,
#prof .icoweb span {
  width: 83%;
  color: #fff;
  font-size: 16px;
  float: left;
  font-weight: 400 !important;
}

div#prof {
  float: left;
  width: 100%;
}

#form-cv .icf {
  float: left;
  line-height: 20px;
  margin-bottom: 0;
  width: 10%;
  height: 20px;
  text-align: left;
}

.ic02 {
  float: right;
  width: 64%;
}

.ic03 {
  float: left;
  width: 35%;
}

.icf .fa {
  display: none;
}

.container {
  width: 100%;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

#cv-right .block {
  margin-bottom: 10px;
  position: relative;
  padding: 0;
  padding-bottom: 20px;
}

#cv-content .head {
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 30px;
  width: 100%;
  float: left;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

#experience-table .ctbx {}

.ifo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}


#cv-right h3 {
  width: 100%;
  height: 30px;
  margin: 0;
  color: #ffffff;
  padding: 0;
  float: left;
  line-height: 30px;
  text-align: center;
  background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
  color: #233237;
  float: left;
  padding-left: 20px;
}

#experience-table #exp2 {
  margin-top: 10px;
}

#exp1 .exp-content {}

#bg {
  background: #F58284;
  text-align: left;
}

div#experience-table {
  margin: 0px;
  width: 91%;
  padding-top: 15px;
  padding-bottom: 10px;
  float: left;
  padding-left: 15px;
  color: #000;
  font-size: 16px;
}


div#cv-boxtitle {
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  color: #233237;
  float: left;
  padding-left: 20px;

}

.ski {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  line-height: 32px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.cum {
  padding: 0;
  margin: 0 auto;
  height: 45px;
  width: 100%;
  line-height: 32px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  float: left;
}

div#sort_block {
  padding: 0;
  margin: 0;
}

.cvo-block .blockControls {
  margin: 0px;
  padding: 0px;
}

#cv-profile-job::before {
  color: #000;
}

.footer {
  background: url(ft.png)no-repeat;
  background-size: 100% 100%;
  height: 30px;
  float: left;
  width: 100%;
}

.ic .icf1 {
  float: left;
  margin-bottom: 0;
  width: 25px;
  line-height: 25px;
  height: 25px;
  text-align: left;
  background: url(icon_03.png)no-repeat;
  background-position: left;
  background-size: 100% 100%;
}

#form-cv .icf2 {
  float: left;
  margin-bottom: 0;
  width: 25px;
  line-height: 25px;
  height: 25px;
  text-align: left;
  background: url(icon_06.png)no-repeat;
  background-position: left;
  background-size: 100% 100%;
}

#form-cv .icf3 {
  float: left;
  margin-bottom: 0;
  width: 25px;
  line-height: 25px;
  height: 25px;
  text-align: left;
  background: url(icon_08.png)no-repeat;
  background-position: left;
  background-size: 100% 100%;
}

#form-cv .icf4 {
  margin-bottom: 0;
  width: 25px;
  line-height: 16px;
  height: 25px;
  text-align: left;
  background: url(icon_10.png)no-repeat;
  background-position: left;
  background-size: 100% 100%;
  float: left;
}

#form-cv .icf5 {
  float: left;
  margin-bottom: 0;
  width: 25px;
  line-height: 25px;
  height: 25px;
  text-align: left;
  background: url(icon_13.png)no-repeat;
  background-position: left;
  background-size: 100% 100%;
}

.ic {
  width: 100%;
  float: left;
  color: #000;
  margin: 0;
  padding-bottom: 10px;
}

.cumicc2 {
  background: url(tl_03.png) no-repeat left center;
  background-size: 100% 100%;
  width: 45px;
  height: 30px;
  float: left;
}

.cumicc3 {
  background: url(tl_06.png) no-repeat left center;
  background-size: 100% 100%;
  width: 45px;
  height: 30px;
  float: left;
}

.cumicc4 {
  background: url(tl_08.png) no-repeat left center;
  background-size: 100% 100%;
  width: 45px;
  height: 30px;
  float: left;
}

.cumicc5 {
  background: url(tl_10.png) no-repeat left center;
  background-size: 100% 100%;
  width: 45px;
  height: 30px;
  float: left;
}

.cumicc6 {
  background: url(tl_12.png) no-repeat left center;
  background-size: 100% 100%;
  width: 45px;
  height: 30px;
  float: left;
}

.cumicc7 {
  background: url(tl_14.png) no-repeat left center;
  background-size: 100% 100%;
  width: 45px;
  height: 30px;
  float: left;
}

.icright1 {
  background: url(tr_03.png) no-repeat left center;
  background-size: 100% 100%;
  width: 45px;
  height: 30px;
  float: left;
}

.icright2 {
  background: url(tr_06.png) no-repeat left center;
  background-size: 100% 100%;
  width: 45px;
  height: 30px;
  float: left;
}

.icright3 {
  background: url(tr_08.png) no-repeat left center;
  background-size: 100% 100%;
  width: 45px;
  height: 30px;
  float: left;
}

.icright4 {
  background: url(tr_10.png) no-repeat left center;
  background-size: 100% 100%;
  width: 45px;
  height: 30px;
  float: left;
}

.icright5 {
  background: url(tr_12.png) no-repeat left center;
  background-size: 100% 100%;
  width: 45px;
  height: 30px;
  float: left;
}