#cv-top {
    background-image: url(hd2.png);
    background-size: 100% 100%;
}
.bar-exp div {
    background: #90c1c5;
}
.box-dm {
    background: url(fake2.png)no-repeat;
    background-size: 100% 100%;
}
#box-hvt {
    background: #e0fdff;
    border-radius: 15px;
}
/* trÃ¡i */
#box02 .cum{
    width: 100%;
    float: left;
    height: 44px;
    background: url(goals2.png)no-repeat;
    background-size: 100% 100%;
    }
    #box03 .ski{
    width: 100%;
    float: left;
    height: 44px;
    background: url(skill2.png)no-repeat;
    background-size: 100% 100%;
    }
    #box04 .cum{
    width: 100%;
    float: left;
    height: 44px;
    background: url(medal2.png)no-repeat;
    background-size: 100% 100%;
    }
    #box05 .cum{
    width: 100%;
    float: left;
    height: 44px;
    background: url(doc2.png)no-repeat;
    background-size: 100% 100%;
    }
    #box06 .cum{
    width: 100%;
    float: left;
    height: 44px;
    background: url(like2.png)no-repeat;
    background-size: 100% 100%;
    }
    #box07 .cum{
    width: 100%;
    float: left;
    height: 44px;
    background: url(refer2.png)no-repeat;
    background-size: 100% 100%;
    }
    /* pháº£i */
    
    #block01, #block02, #block03, #block04, #block05{float: left;width: 100%;background: #e0fdff;border-radius: 10px;margin-bottom: 15px;}
    #block01 .head, #block02 .head, #block03 .head, #block04 .head, #block05 .head{float: left;width: 75%;height: 32px;background: #90c1c5;border-radius: 10px 10px 25px 25px;}
