#cv-top {
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.footer {
    background: url(ft3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#cv-top h1 {
    color: #3cb878;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #3cb878;
}
.icright1 {
     background: url(ic3_03.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.icright2 {
  background: url(ic3_06.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.icright3 {
  background: url(ic3_08.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.icright4 {
  background: url(ic3_10.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.icright5 {
  background: url(ic3_12.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.box-dm {
    background: url(avata3.png)no-repeat;
    background-size: 100% 100%;
}