#cv-top {
    background-image: url(hd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.footer {
    background: url(ft2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#cv-top h1 {
    color: #448ccb;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #448ccb;
}
.icright1 {
     background: url(ic2_03.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.icright2 {
  background: url(ic2_06.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.icright3 {
  background: url(ic2_08.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.icright4 {
  background: url(ic2_10.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.icright5 {
  background: url(ic2_12.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.box-dm {
    background: url(avata2.png)no-repeat;
    background-size: 100% 100%;
}