#page-cv{
	width: 1072px;
	float: left;
}
#form-cv{
	width: 900px;
	min-height: 1273px;	
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#343839;
	border: solid 1px #e1e1e1;
	font-weight: 500;
		
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	/*margin-bottom: 15px*/
}


#cv-main{
	display: table;
}
#cv-top{	
	width: 35.6%;
	float: left;

}
#cv-content{
	width: 54.6%;
	min-height: 1273px;
	float: right;
	position: relative;
	padding-right: 15px;
}
#cv-right{
	width: 35.6%;
	min-height: 863px;
	float: left;	
	position: relative;
	padding: 0px 15px;
}

p.skill-name input{
	color: #670b0b!important;
}


#cv-right .ctbx {
	padding-bottom: 0;
	margin:0;
}
.skill{
	margin-top: 15px
}


#cv-top h1{
	font-size: 27px;	
	margin:0;
	padding:5px 30px 5px 30px;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
    font-weight: 700;
}

#cv-top h1 span{
	padding: 0px 15px;
	color: #670b0b;
}

#cv-top h2{
	font-size: 16px;
	font-weight: normal;
	color: #670b0b;
	text-align: center;
	    margin-bottom: 1px;
	    font-weight: 500;
}
.box-01 p{		
    overflow: hidden;
}
.box-01{		
	overflow: hidden
}
#cv-content .ir{
	
}
#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right .h3, #cv-content .head{
	font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    border-top: dashed 1px #959595;
    color: #670b0b;
}



#cv-content .head span{
	
	padding: 3px 15px;
	margin: 5px 0px;
}

#cv-right .h3 span{
	background: #ffffff;
	padding: 3px 15px;
	margin: 3px 0px;
}
#cv-content h3{	
    font-size: 15px;
}

#cv-content .head{	
	
}

#cv-content .cvo-block {
    padding: unset;
}




#cv-right .h3{	
    background: #ffffff;
}

#cv-content span{
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	z-index: 9999;
}

#cv-right .h3:first-child{
	margin-top: 0
}
.ctbx{
	margin-bottom: 25px;
	position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#cvo-profile-avatar-wraper{	
	padding:15px 0px 0px;
	/*margin-bottom: 10px*/
}
#cvo-profile-avatar-wraper #cvo-profile-avatar{
	padding: 0;
	border:0;
	width: 200px;
	height: 200px;
}
#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}
.bar-exp span {
    float: left;
    height: 8px;
    background: #670b0b;
    
}
.bar-exp{
	background: #e1e1e1;
	border: solid 1px #343839;
}
.icoweb label{
	display: block;
	color:#627e88;
}
#cv-right .icoweb span{
	display: block;
	color: #343839;
	
}

.box-contact{
	padding:0px 15px 15px 15px!important;
	font-size: 15px;
}

#sortable .icoweb i.fa{
	width: 30px;
    height: 28px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    margin-right: 10px;
    margin-top: 2px;
    color:#670b0b!important;
}
.exp-content{
	padding-left: 15px;
}

.head i.fa, .h3 i.fa{
	font-size: 12px;
	border: solid 1px #7c7a79;
	border-radius: 50%;
	width: 12px;
	color: #7c7a79;
	/*background: white;*/
	margin-bottom: 5px;
	text-align: center;
	padding: 4px;
}