#form-cv{
		background: #7d8a81;
}

#cv-content .head span{
	background: #7d8a81;
}
#cv-right .h3 span{
	color: #7d8a81;
}

#cv-content h3{	
    color: #7d8a81;
}

#cv-content .head{	
	background: #7d8a81;
}

.bar-exp span {
    background: #7d8a81;
}