#cv-top {
 width: 100%;
 height: 300px;
 background: url(hd_7f5346.png)no-repeat;
 background-position: left;
 background-size: 100% 100%;
 overflow: hidden;
 position: relative;
}
#cv-top h1 {
 padding: 0;
 margin: 0;
 font-size: 32px;
 font-family: "Roboto";
 line-height: 48px;
 text-transform: uppercase;
 margin-bottom: 0;
 color: #7f5346;
 font-weight: bold;
 text-align: left;
 width: 100%;
 float: left;
}
.all{
 float: left;
 clear: both;
 width: 100%;
 background: url(bd_7f5346.png)no-repeat;
 background-position: left;
 background-size: 100% 100%;
}
.footer {
    background: url(ft_7f5346.png) no-repeat;
    float: left;
    width: 100%;
    height: 88px;
    background-size: 100% 100%;
}
#cvo-profile .box-dm{
	width: 240px;
    height: 240px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(1.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -235px;
    margin-left: 48px;
    position: absolute;
    top: -900px;
}