/* 2 */

:root {
    --sex: url(sex2.png) no-repeat;
    --phone: url(phone2.png) no-repeat;
    --date: url(date2.png) no-repeat;
    --email: url(email2.png) no-repeat;
    --add: url(add2.png) no-repeat;
    --page: url(page2.png) no-repeat;
    --top: url(top2.png) no-repeat;
    --fake: url(fake2.png) no-repeat;
    --color-j: #f7b43a;
    --job: url(job2.png) no-repeat;
    --tt: url(tt2.png) no-repeat;
    --skill: url(skill2.png) no-repeat;
    --kn: url(kn2.png) no-repeat;
}