#cv-top {
    background: url(header01.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#footer {
    background: url(footer01.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}