#form-cv{

	font-size: 16px;
	
}
#cv-top h1{
	font-size: 36px;    
}

#cv-top h2{
	font-size: 20px;

}
#cv-right .h3, #cv-content .head{
	font-size: 20px;

}
#cv-content h3{	

    font-size: 16px;
}
#cv-right .icoweb i.fa{

    font-size: 16px;

}

