#cv-top {
    background: url(hd3.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
.all {
    background: url(bd3.png)no-repeat;
    /* background-position: left; */
    background-size: 100% 100%;
}
.footer {
    background: url(ft3.png)no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.box-dm {
    background: url(avt3.png)no-repeat;
    background-size: 100% 100%;
} 
#cv-main {
border-bottom: 5px solid #6D4E49;
}
#cvo-experience-blocktitle {
 color: #fffffd;
    border-bottom: 5px solid #6D4E49;
}
div#cv-boxtitle {
color: #fffffd;
border-bottom: 5px solid #6D4E49;
}
.bar-exp {
    background: #431610;
    border: solid 2px #fffffd;
}