#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #5b7065;
}
#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    width: 43.8%;
    padding-right: 5px;
    border-right: 2px solid #5b7065;
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #5b7065;
    margin-top: 0px;
}
.bar-exp {
    background: #ffffff;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #5b7065;
    border-radius: 5px;
}
#cvo-profile-avatar-wraper .wimg {
    width: 170px;
    height: 170px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    border: 7px solid #5b7065;
}
.icf .fa {
    font-size: 20px;
    color: #5b7065;
    margin-top: 0;
    float: none;
}
#cv-content .head {
    height: 40px;
    width: 87%;
    line-height: 40px;
    margin-left: 5%;
    border: 3px solid #5b7065;
    padding-left: 10px;
    border-radius: 15px;
}
.ifoic {
    border: #5b7065 3px solid;
    width: 87%;
    margin-left: 5%;
    height: 40px;
    border-radius: 15px;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #5b7065;
    text-align: center;
    width: 78%;
}
.tt-box1 {
    height: 40px;
    width: 87%;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 5%;
    border: 3px solid #5b7065;
    padding-left: 10px;
}
div#cv-boxtitle {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #5b7065;
}
.ski {
    height: 40px;
    width: 87%;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 5%;
    border: 3px solid #5b7065;
    padding-left: 10px;
    border-radius: 15px;
}
.cum {
    height: 40px;
    width: 87%;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 5%;
    border: 3px solid #5b7065;
    padding-left: 10px;
    border-radius: 15px;
}
.footer {
    float: left;
    height: 35px;
    width: 100%;
    position: relative;
    background-color: #5b7065;
}

div#sort_block {
    padding: 0;
    margin: 0;
    border-left: 2px solid #5b7065;
    margin-left: -2px;
}
#cv-top {
    width: 100%;
    height: 240px;
    background-image: url(hd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.icon1 {
    width: 30px;
    height: 40px;
    background: url(icon1a.png)no-repeat;
    float: left;
    background-position: left center;
    margin-left: 10px;
}

.cumic2 {
    width: 40px;
    height: 40px;
    background: url(icon2a.png)no-repeat;
    float: left;
    background-position: left center;
}

.skic {
    width: 40px;
    height: 40px;
    background: url(icon3a.png)no-repeat;
    float: left;
    background-position: left center;
    border-radius: 15px;
}

.cumic4 {
    width: 40px;
    height: 40px;
    background: url(icon4a.png)no-repeat;
    float: left;
    background-position: left center;
    border-radius: 15px;
}

.cumic5 {
    width: 40px;
    height: 40px;
    background: url(icon5a.png)no-repeat;
    float: left;
    background-position: left center;
    border-radius: 15px;
}

.cumic6 {
    width: 40px;
    height: 40px;
    background: url(icon6a.png)no-repeat;
    float: left;
    background-position: left center;
    border-radius: 15px;
}

.cumic7 {
    width: 40px;
    height: 40px;
    background: url(icon7a.png)no-repeat;
    float: left;
    background-position: left center;
    border-radius: 15px;
}

.ic-1 {
    width: 40px;
    height: 40px;
    background: url(icon8a.png)no-repeat;
    float: left;
    background-position: left center;
    border-radius: 15px;
}

.ic-2 {
    width: 40px;
    height: 40px;
    background: url(icon9a.png)no-repeat;
    float: left;
    background-position: left center;
    border-radius: 15px;
}

.ic-3 {
    width: 40px;
    height: 40px;
    background: url(icon10a.png)no-repeat;
    float: left;
    background-position: left center;
    border-radius: 15px;
}

.ic-4 {
    width: 40px;
    height: 40px;
    background: url(icon11a.png)no-repeat;
    float: left;
    background-position: left center;
    border-radius: 15px;
}

.ic-5 {
    width: 40px;
    height: 40px;
    background: url(icon12a.png)no-repeat;
    float: left;
    background-position: left center;
    border-radius: 15px;
}