#cv-top {
    background-image: url(hd3.png);
    background-size: 100% 100%;
}
#cvo-profile .box-dm {
    background: url(fake3.png)no-repeat;
    background-size: 100% 100%;
}
.all {
    background-image: url(main3.png);
    background-size: 100% 100%;
}
.footer {
    background: url(ft3.png)no-repeat;
    background-size: 100% 100%;
}