#cv-top {
    width: 100%;
    height: 270px;
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 35px;
    font-family: "Roboto";
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 100%;
    float: left;
}
#cv-top h2 {
    margin: 0;
    padding: 0;
    text-transform: unset;
    width: 100%;
    font-weight: unset;
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    float: left;
}
.bar-exp div {
    float: left;
    height: 7px;
    background: #883c81;
    margin-top: 0px;
    border-radius: 10px;
}
.bar-exp {
    background: #fff;
    height: 7px;
    margin-top: 5px;
    margin-bottom: 0px;
    border: 1px solid #883c81;
    border-radius: 10px;
    padding: 0px;
    float: right;
    width: 100%;
}
#cv-content .head {
    padding: 0;
    margin: 0 auto;
    height: 50px;
    line-height:50px;
    text-align: center;
    width: 100%;
    background:#883c81;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #fff;
    padding-left: 0px;
    text-align: center;
    float: left;
    width: 68%;
}
.cumicc1 {
    width: 55px;
    height: 50px;
    float: left;
    background: url(icccc_03.png);
    background-position:center right;
    background-repeat: no-repeat;
}
.cumicc2 {
    width: 55px;
    height: 50px;
    float: left;
    background: url(icccc_14.png);
    background-position:center right;
    background-repeat: no-repeat;
}
.cumicc3 {
    width: 55px;
    height: 50px;
    float: left;
    background: url(icccc_18.png);
    background-position:center right;
    background-repeat: no-repeat;
}
.cumicc4 {
    width: 55px;
    height: 50px;
    float: left;
    background: url(icccc_26.png);
    background-position:center right;
    background-repeat: no-repeat;
}
.cumicc5 {
    width: 55px;
    height: 50px;
    float: left;
    background: url(icccc_33.png);
    background-position:center right;
    background-repeat: no-repeat;
}
.cumicc6 {
    width: 55px;
    height: 50px;
    float: left;
    background: url(icccc_39.png);
    background-position:center right;
    background-repeat: no-repeat;
}
.cumicc7 {
    width: 55px;
    height: 50px;
    float: left;
    background: url(icccc_43.png);
    background-position:center right;
    background-repeat: no-repeat;
}
.tt-box1 {
    padding: 0;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background:#883c81;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding-left: 0px;
    float: left;
    width: 71%;
}
.ski {
    padding: 0;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background:#883c81;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.cum {
    padding: 0;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background:#883c81;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.icright1 {
    width: 57px;
    height: 50px;
    float:left;
    background: url(icccc_05.png);
    background-position:center right;
    background-repeat: no-repeat;
  }
.icright2 {
    width: 57px;
    height: 50px;
    float:left;
    background: url(icccc_10.png);
    background-position:center right;
    background-repeat: no-repeat;
}
.icright3 {
    width: 57px;
    height: 50px;
    float:left;
    background: url(icccc_22.png);
    background-position:center right;
    background-repeat: no-repeat;
}
.icright4 {
    width: 57px;
    height: 50px;
    float:left;
    background: url(icccc_29.png);
    background-position:center right;
    background-repeat: no-repeat;
}
.icright5 {
    width: 57px;
    height: 50px;
    float:left;
    background: url(icccc_36.png);
    background-position:center right;
    background-repeat: no-repeat;
}