#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

/*#sortable .cvo-block {
    margin-bottom: 15px;
    margin-top: 8px;
    border: 1px solid #24400e;
    padding: 0;
    padding-bottom: 15px;
}*/

#sortable .cvo-block .box-content {
  margin: 0;
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
  color: #000;
  padding-bottom: 15px;
}

.exp.content-edit.skill {
  border-radius: 10px;
}


#cvo-profile {
  display: block;
}

#cv-content {
  width: 46%;
  text-align: justify;
  float: right;
  position: relative;
  padding: 0;
  margin: 0;
}


#cv-main {
  text-align: justify;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: 48%;
  margin-left: 13px;
}

#cv-right .ir {
  padding: 0;
  margin: 0;
}

#cv-main #cv-right {
  padding: 0;
  margin: 0;
}

#cv-main #cv-right .ir #sortable {
  padding: 0;
  margin: 0;
}

#cv-right .ir #sortable .block {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}

#cv-top {
  width: 100%;
  height: 250px;
  background-image: url(hd.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.all {
  float: left;
  clear: both;
  width: 100%;
  background: #f7f7f6;
}

#cv-top h1 {
  padding: 0;
  margin: 0;
  height: 35px;
  font-size: 32px;
  font-family: "Roboto";
  line-height: 35px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #3b3b3b;
  font-weight: bold;
  text-align: left;
  width: 100%;
  float: left;
}

#cv-top h1 span {
  ;
}

#box-hvt {
  float: right;
  width: 71%;
  padding: 0;
  margin: 0;
  padding-top: 17px;
  padding-left: 0px;
}

#box01 ul {
  list-style: none;
  padding-left: 20px
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-top h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  color: #000;
  text-align: left;
  font-weight: unset;
  float: left;
}

.box-01 p {
  overflow: hidden;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  text-align: left;
  line-height: 20px;
  padding-top: 0px;
}

#cv-content h3 {
  font-size: 14px;
  line-height: 24px;
  font-weight: unset;
  margin: 0px;
  padding: 0px;
  color: #000;
}


#cv-content #block02 .exp-content {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

#cv-content #block03 h3 {
  font-weight: unset;
}

#cv-content .exp-date {
  float: none;
}

#cv-content #block01 .exp-date {
  display: none;
}

#cv-content #block03 .exp-date {
  display: none;
}

#cv-content #block04 .exp-date {
  display: none;
}

#cv-content #block05 .exp-date {
  display: none;
}

#cv-content p.h3 {
  margin: 0px;
  padding: 0px;
}

#cv-content .cvo-block {
  padding: 0 !important;
  float: left;
  width: 100%;
}

#cv-content .ir .cvo-block {
  padding: 0;
}

.ctbx {
  padding-left: 10px;
  padding-right: 10px
}


#cv-content span {
  display: inline-block;
  z-index: 9999;
}

#block02 #experience-table #exp1 .exp-title {
  float: left;
  padding: 0 10px;
}

#block02 #experience-table #exp2 .exp-title {
  float: left;
  padding: 0 10px;
}

#cv-content #block02 h3 {
  font-weight: unset;
  color: #000;
  float: left;
}

.ctbx {
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}


.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
  width: 25%;
  height: 200px;
  padding: 0;
  margin: 0;
  float: left;
  display: table;
  padding-top: 25px;
  padding-left: 20px;
}

#cvo-profile-avatar-wraper .wimg {
  width: 190px;
  height: 190px;
  float: left;
  display: unset !important;
}

#cvo-profile-avatar-wraper img {
  width: 190px;
  height: 190px;
  float: none;
}

.box-01 {
  float: left;
  width: 100%;
  height: 250px;
}

#cvo-profile {
  display: block;
  float: left;
  width: 100%;
  height: 250px;
}

#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: left;
  height: 10px;
  background: #d79f4e;
  margin-top: 0px;
}

.ctbx .skill-name {
  margin: 0px;
  padding: 0px;
  color: #000;
  float: left;
  width: 100%;
}

.bar-exp {
  background: #fff;
  height: 10px;
  float: none;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px solid #d79f4e;
  float: right;
  width: 100%
}

.bar-value-exp {
  width: 100%
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 95%
}

.icoweb label {
  display: block;
}

/*#sortable .icoweb {
  width: 87%;
  height: 30px;
  line-height: 30px;
  float: right;
  padding-left: 5px;
  margin-bottom: 0;
  color: #fff;
}*/
#cv-right .block {
  position: relative !important;
  padding: 0;
  margin: 0;
}

.ic .icoweb {
  width: 80%;
  text-align: left;
  padding-left: 5px;
  float: left;
  color: #fff;
  padding-top: 7px;
}

.ic03 {
  float: left;
  width: 40%;
  padding-top: 32px;
}

.ic02 {
  float: left;
  width: 55%;
  padding-top: 30px;
}

.ic {
  width: 100%;
  float: left;
  color: #000;
}

#prof span {}

#prof [contentEditable=true] {
  width: 100%;
  float: left;
}

#prof .icoweb,
#prof .icoweb span {
  height: auto;
}

#sortable .ic {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 5px;
}

div#prof {
  float: right;
  width: 100%;
}

#form-cv .icf {
  float: left;
  border-radius: 50%;
  line-height: 30px;
  margin-bottom: 0;
  width: 35px;
  text-align: center;
}


.icf .fa {
  font-size: 20px;
  color: #fff;
  margin-top: 0;
  float: left;
  padding-top: 7px;
  padding-left: 9px;
}

.container {
  width: 100%;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

#cv-right .block {
  margin-bottom: 10px;
  position: relative;
  padding: 0;
  padding-bottom: 20px;
}

#cv-content .head {
  padding: 0;
  margin: 0;
  height: 35px;
  line-height: 35px;
  text-align: left;
  width: 96%;
  float: left;
  border-bottom: 2px solid #d79f4e;
}

#experience-table .ctbx {}

.ifo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}


#cv-right h3 {
  width: 100%;
  height: 30px;
  margin: 0;
  color: #ffffff;
  padding: 0;
  float: left;
  line-height: 30px;
  text-align: center;
  background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
  color: #000;
  /*float: right;
    width: 83%;*/
}

#experience-table #exp2 {
  margin-top: 10px;
}

#exp1 .exp-content {}

/*#icon{
    width: 30px;
    height: 30px;
    background: url(icon1.png)no-repeat;
    float: left;
    border-bottom: 2px solid #fff;
}*/
#bg {
  background: #F58284;
  text-align: left;
}

/*#prof {
    padding: 5px 35px;
    width: 90%;
    background: url(bg-it.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position-y: center;
}*/
/*.cumicc1 {
    width: 50px;
    height: 35px;
    float: left;
    background: url(ic_03.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc2 {
    width: 50px;
    height: 35px;
    float: left;
    background: url(ic_03.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc3 {
    width: 50px;
    height: 35px;
    float: left;
    background: url(ic_07.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc4 {
    width: 50px;
    height: 35px;
    float: left;
    background: url(ic_11.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc5 {
    width: 50px;
    height: 35px;
    float: left;
    background: url(ic_13.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc6 {
    width: 50px;
    height: 35px;
    float: left;
    background: url(ic_16.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc7 {
    width: 50px;
    height: 35px;
    float: left;
    background: url(ic_21.png);
    background-position: center;
    background-repeat: no-repeat;
}*/
div#experience-table {
  margin: 0px;
  width: 96%;
  padding-top: 20px;
  padding-bottom: 0px;
  float: left;
  color: #000;
}


/*.tt-box1 {
    height: 35px;
    width: 100%;
    line-height: 35px;
    border-radius: 20px;
}*/
div#cv-boxtitle {
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.ski {
  padding: 0;
  margin: 0 auto;
  height: 35px;
  width: 100%;
  line-height: 35px;
  text-align: left;
  border-bottom: 2px solid #d79f4e;
}

.cum {
  padding: 0;
  margin: 0 auto;
  height: 35px;
  width: 100%;
  line-height: 35px;
  text-align: left;
  border-bottom: 2px solid #d79f4e;
}

/*.icright {
    width: 60px;
    height: 40px;
    float: left;
    background: url(ic_19.png);
    background-position: center;
    background-repeat: no-repeat;
  }*/
/*.icright1 {
    width: 60px;
    height: 40px;
    float: right;
    background: url(ic_03.png);
    background-position: center right;
    background-repeat: no-repeat;
  }
.icright2 {
    width: 60px;
    height:40px;
    float: right;
    background: url(ic_07.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.icright3 {
    width: 60px;
    height:40px;
    float: right;
    background: url(ic_10.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.icright4 {
    width: 60px;
    height:40px;
    float: right;
    background: url(ic_12.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.icright5 {
    width: 60px;
    height:40px;
    float: right;
    background: url(ic_15.png);
    background-position: center right;
    background-repeat: no-repeat;
}*/

div#box01 {
  float: right;
  width: 65%;
}

.footer {
  background: #d79f4e;
  height: 30px;
  float: left;
  width: 100%;
}

div#sort_block {
  padding: 0;
  margin: 0;
}

.cvo-block .blockControls {
  margin: 0px;
  padding: 0px;
}

.watermark {
  float: left;
  width: 100%;
  /* height: 22px; */
  color: #999;
  text-align: right;
  padding-right: 15px;
  padding-top: 15px;
  font-size: 15px;
  font-family: Courier;
}