#cv-top {
    width: 100%;
    height: 300px;
    background-image: url(hd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.ski {
    padding: 0;
    margin: 0;
    height: 30px;
    width: 94.8%;
    float: right;
    line-height: 30px;
    text-align: center;
    border-bottom: 5px solid #add7d8;
}

.cum {
    padding: 0;
    margin: 0;
    height: 30px;
    width: 94.8%;
    float: right;
    line-height: 30px;
    text-align: center;
    border-bottom: 5px solid #add7d8;
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.all {
    float: left;
    clear: both;
    width: 100%;
    background: url(main2.png)no-repeat;
    background-size: 100% 100%;
    padding-bottom: 100px;
}

#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 35px;
    font-family: "Roboto";
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #339c9d;
    font-weight: bold;
    text-align: center;
    width: 77%;
    float: right;
}

#cv-top h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 77%;
    font-size: 18px;
    color: #339c9d;
    float: right;
    text-align: center;
}

#cv-content #block02 h3 {
    font-weight: bold;
    color: #339c9d;
    float: left;
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 15px;
}

#cvo-profile-avatar-wraper .wimg {
    width: 160px;
    height: 160px;
    float: left;
    display: unset !important;
    border: 3px solid #339c9d;
    border-radius: 10px;
}

.bar-exp {
    background: #339c9d;
    height: 7px;
    float: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #fff;
    float: right;
    width: 100%;
    border-radius: 10px;
}

.icf .fa {
    font-size: 20px;
    color: #339c9d;
    margin-top: 0;
    float: left;
}

.icright1 {
    width: 50px;
    height: 33px;
    float: left;
    background: url(iccc_03.png);
    background-position: left top;
    background-repeat: no-repeat;
}

.icright2 {
    width: 50px;
    height: 33px;
    float: left;
    background: url(iccc_06.png);
    background-position: left top;
    background-repeat: no-repeat;
}

.icright3 {
    width: 50px;
    height: 33px;
    float: left;
    background: url(iccc_08.png);
    background-position: left top;
    background-repeat: no-repeat;
}

.icright4 {
    width: 50px;
    height: 33px;
    float: left;
    background: url(iccc_08.png);
    background-position: left top;
    background-repeat: no-repeat;
}

.icright5 {
    width: 50px;
    height: 33px;
    float: left;
    background: url(iccc_10.png);
    background-position: left top;
    background-repeat: no-repeat;
}