/* 2 */

:root {
    --sex: url(sex2.png) no-repeat;
    --phone: url(phone2.png) no-repeat;
    --date: url(date2.png) no-repeat;
    --email: url(email2.png) no-repeat;
    --add: url(add2.png) no-repeat;
    --top: url(top2-1.png) no-repeat, url(top2-3.png) no-repeat, #d6bcac;
    --box02: url(box02-2.1.png) no-repeat, url(box02-2.2.png) no-repeat, url(box02-2.3.png) no-repeat;
    --dot: url(dot2.png) no-repeat;
    --soc: url(soc3.png) no-repeat;
    --title: url(dot-tt2.png) no-repeat;
    --ngang: url(ngang2.png) no-repeat;
    --left: url(left2.png) no-repeat;
    --skill: url(skill2.png) no-repeat;
    --foot: url(foot2.png) no-repeat;
}