#cv-top {
    width: 100%;
    height: 261px;
    background-image: url(hd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all{
  float: left;
  clear: both;
  background-image: url(main2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  width: 100%;
}
.footer{
  float: left;
  width: 100%;
  height: 20px;
  background: url(ft2.png)no-repeat;
    background-size: 100% 100%;
}
#box03 .exp {
    float: left;
    width: 89%;
    padding-left: 20px;
    padding-bottom: 20px;
    background: url(left1.png) no-repeat;
    background-position: 5px 18px;
    background-size: 19% 90%;
}
#block01 #experience-table {
    background: url(right2.png)no-repeat;
    background-size: 15% 95%;
}
#cv-content #block02 h3 {
    font-weight: bold;
    border: solid 2px #fff;
    border-radius: 10px;
    text-align: center;
    margin-top: -15px;
    width: 57%;
    background: #fff;
    margin-left: 74px;
    color: #3e3897;
}
#cv-content #block03 h3 {
    font-weight: bold;
    border: solid 2px #fff;
    border-radius: 10px;
    text-align: center;
    margin-top: -15px;
    width: 57%;
    background: #fff;
    margin-left: 74px;
    color: #3e3897;
}
#cvo-profile-avatar-wraper img {
    border-radius: 50%;
    width: 225px;
    border: solid 4px #3e3897;
    height: 225px;
    float: none;
}
.box-dm {
    width: 232px;
    height: 245px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(avata2.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -254px;
    margin-left: 9px;
    position: absolute;
    top: -800px;
}