#form-cv {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    outline: 1px solid #e1e1e1
}

#form-cv p {
    margin-top: 0;
    margin-bottom: 6px
}

#sortable .cvo-block {
    margin-bottom: 20px;
    margin-top: 8px;
    padding: 0 10px;
}

#prof [contentEditable=true] {
    width: 300px;
    display: inherit;
}

#cvo-profile {
    display: block;
}

#cv-content {
    width: 46.99%;
    background: #fff;
    float: right;
    position: relative;
}

#cv-content .ir {
    clear: both;
    margin: auto;
    padding-left: 10px;
}

#cv-main {
    position: relative;
    float: left;
    width: 52%;
}

#cv-right .ir {
    padding: 0 10px 50px 10px;
}

p.skill-name input {
    color: #fff!important;
}

#cv-right .ctbx {
    padding: 0;
    margin: 0;
    border: 0;
}

#cv-top {
    /* height: 325px;
    margin: 21px 10px 0 10px;
    background-image: url(bg-avt.png);
    background-repeat: no-repeat;
    background-size: 100% auto; */
    width: 90%;
    height: 280px;
    padding: 8px 10px 0 10px;
    background-image: url(bg-avt.png);
    background-repeat: no-repeat;
    background-size: 80% 75%;
    background-position: right bottom;
}

#cv-top h1 {
    font-size: 28px;
    line-height: normal;
    color: #37838A;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold
}

#box-hvt {
    text-align: left;
}

#cv-right .cvo-block .head div {
    color: #fff;
}

#cv-top h2 {
    font-size: 15px;
    color: #000;
    text-transform: capitalize;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px auto 15px;
    line-height: 24px;
}

#cv-content .exp-title {
    float: left;
    width: 70%;
}

#cv-content .exp-date {
    float: right;
    width: 29.99%;
    text-align: right;
}

#cv-content h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}

#cv-content p.h3 {}

#cv-content .cvo-block {
    padding: 0;
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

.ctbx {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

.wimg {
    width: 200px;
    height: 190px;
    border: 1px solid #fff;
    border-radius: 5px;
}

#cv-top img {
    width: 200px;
    height: 190px;
    float: none;
    border-radius: 5px;
    display: inline-block;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 8px;
    background: #fff;
}

.ctbx .skill-name {}

.bar-exp {
    background: #c17a9f;
    height: 8px;
    margin-top: 0;
    width: 100%;
    margin-bottom: 12px;
}

.bar-value-exp {
    width: 100%
}

.bar-value-exp input[type="text"] {
    color: #fff;
    width: 95%
}

.icoweb label {
    display: block;
}

#sortable .icoweb {
    height: 30px;
    float: left;
    margin-bottom: 0;
    padding-left: 5px
}

.ic {
    float: left;
    width: 97%;
    margin-bottom: 10px;
}

#form-cv .icf {
    background-color: #ac4444;
    float: left;
    line-height: 24px;
    font-size: 12px;
    margin-bottom: 0;
    width: 40px;
    height: 25px;
    text-align: center;
}

.ic .icoweb {
    float: left;
    color: #fff;
    padding-left: 5px;
}

.icf .fa {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    margin-top: 0;
    float: none
}

#cv-content .head {
    display: table;
    width: 100%;
    padding: 2px;
}

#cv-content .head .wfa {
    float: left;
    width: 22px;
    font-size: 20px;
    color: #3f9599;
}

#cv-content .block-title {
    float: left;
}

#infor {
    width: 387px;
    height: 345px;
    padding: 24px 10px 0 26px;
    float: left;
    background-image: url(bg-infor.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#clear {
    clear: both;
}

#cv-content .icoweb span {
    width: 289px;
    color: #fff;
}

#cv-content .icoweb {
    margin: 0 0 5px 10px;
}

#all-name {
    width: 100%;
    height: 105px;
    clear: both;
    padding: 30px 0 0 10px;
}

#box-hvt h1 {
    font-size: 36px;
    color: rgb(43, 43, 43);
    font-weight: bold;
}

#cv-right h3 {
    color: #fff;
}

#cv-right {}

#box-hvt h2 {
    font-size: 18px;
}

#sortable #box01,
#sortable #box02,
#sortable #box03,
#sortable #box04,
#sortable #box05 {
    width: 360px;
}

#sortable {
    clear: both;
    background-color: #df6565;
    border-radius: 5px;
    padding: 6px 0 50px 8px;
    color: #fff;
}

#cvo-experience-blocktitle {
    color: #df6565;
}

#cv-profile-birthday::before {
    color: #fff;
}

#cv-profile-sex::before {
    color: #fff;
}

#cv-profile-phone::before {
    color: #fff;
}

#cv-profile-email::before {
    color: #fff;
}

#cv-profile-address::before {
    color: #fff;
}

#cv-profile-face::before {
    color: #fff;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}