#form-cv {
	font-size: 15px
}

#cv-right h3,
#cv-content .head {
	font-size: 21px
}

div#cv-boxtitle {
	font-size: 20px;
}

#cv-content h3 {
	font-size: 15px
}

#cv-top h2 {
	font-size: 21px
}

#cv-top h1 {
	font-size: 36px
}