#form-cv {
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 20px;
    color: #565656;
    padding: 0px;
    margin: 0px;
}

.cv_tt {
    float: left;
    width: 100%;
    background: #f7f7f7;
    padding-right: 3%;
    padding-top: 0px;
    border-bottom: solid 1px #ffebd3;
    border-left: solid 1px #ffebd3;
    box-sizing: border-box;
}

#cv-top {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #679186;
    height: 190px;
    padding-top: 10px;
}

#cv-main {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #ffebd3;
}

#cv-content {
    width: 62%;
    float: left;
    padding: 0px;
    margin: 0px;
    padding-top: 15px;
    background-color: #fff;
    padding-right: 2%;
    padding-left: 1%;
}

#cv-right {
    width: 31.999%;
    float: left;
    padding: 0px;
    margin: 0px;
    padding: 0px 1.5%;
}

#sort_block,
.cv-right .ir,
#sortable {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content .cvo-block,
#cv-right .block {
    float: left;
    padding: 0px!important;
    margin: 0px;
    width: 100%;
    margin-top: 15px;
}

#cv-content .head,
#cv-right h3,
#cv-right .cvo-block p {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content #experience-table {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content #experience-table .ctbx {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content h3 {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content .h3 {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content .exp-content {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

div {
    margin: 0px;
    padding: 0px;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

.bar-exp {
    height: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.bar-exp {
    height: 8px;
    float: left;
    margin: 8px 0px;
}

.bar-exp div {
    float: left;
    height: 8px;
    background: #346155;
}

#cv-title {
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    font-size: 20px
}

.exp .ctbx {
    display: table;
    width: 100%;
    position: relative;
}

.edit-content .bar-value-exp {
    display: block;
}

.bar-value-exp {
    display: none;
}

.bar-exp {
    width: 100%;
    background: #959595;
    height: 8px;
    float: left;
    margin-bottom: 12px
}

.bar-value-exp {
    width: 100%;
    float: right;
}

p.skill-name input {
    border-bottom: 0;
    font-size: 14px;
    border: 0
}

.bar-value-exp input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    color: #000;
}

#cv-right .h3,
#cv-content .head {
    background: none;
    text-align: left;
    color: #346155;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

#cv-content .head {
    background: #ffb4ac;
    border: 5px;
    /* height: 38px; */
    line-height: 22px;
    font-size: 18px;
    text-indent: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#cv-content h3 {
    font-size: 16px;
    color: #565656
}

#page-cv {
    max-width: 790px
}

#cvo-profile-avatar-wraper {
    width: 170px;
    border: solid 3px #ffb4ac;
    float: left;
    padding: 0px;
    margin: 0px;
}

#box-hvt h1 {
    color: #fff;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    margin: 7px 0px;
    float: left;
    width: 100%;
    font-weight: bold;
}

#box-hvt h2 {
    color: #ffebd3;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    float: left;
    width: 100%;
    background-image: url(line.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#cv-right .block h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
    text-align: center;
    font-weight: bold;
}

#cv-right {
    color: #346155;
}

#cv-right #box02 {
    color: #565656;
}

#cv-right p {
    text-align: justify;
}

#cv-right .icoweb i.fa {
    margin-top: 6px;
    font-size: 26px;
    margin-right: 10px;
    color: #346155;
    width: 9%;
}

.box-contact {
    color: #346155;
    font-size: 14px;
}

#sortable #box01 p span {
    margin: 0px;
    padding: 0px;
    width: 86%;
}

#cvo-profile-avatar-wraper img {
    width: 170px;
    height: 170px;
}

.box-contact p {
    line-height: 45px;
    float: left;
    width: 33%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#sortable .box-contact p.icoweb {
    margin-bottom: 7px;
    text-align: left;
}

.box-01 {
    float: left;
    width: 31.999%;
    padding: 0px;
    margin: 0px;
}

#box-hvt {
    float: left;
    width: 68%;
    padding: 0px;
    margin: 0px;
    padding-top: 40px;
}

.ft {
    background-image: url(ft.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom center;
    height: 70px;
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-top: -45px;
}

span.box-content {
    width: 245px;
}

#cv-profile-fullname::before {
    color: #fff;
}

.watermark {
    float: left;
    width: 100%;
    /* height: 22px; */
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}