#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 15px;
  line-height: 26px;
  color: #000;
}
.watermark {
  float: left;
  width: 100%;
  height: 22px;
  color: #999;
  text-align: right;
  font-size: 15px;
  padding-top: 25px;
  font-family: Courier;
}

#sortable .cvo-block {
    margin-bottom: 10px;
    padding-right: 0;
}

#sortable .cvo-block .box-content {
    padding: 0;
    margin: 9px 10px 8px 10px;
    width: 90%;
}

#cvo-profile {float: right;width: 45%;}

#cv-content {
  width: 44%;
  text-align: justify;
  float: right;
  position: relative;
  padding: 0;
  margin: 0;
}

#cv-content .ir {
    padding: 0;
}
#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    margin-left: 20px;
    width: 44%;
    margin-top: -470px;
}

#cv-right .ir {
}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
    width: 90%;
    padding: 0;
    margin: 0;
    border: 0;
    padding-top: 10px;
    padding-left: 10px;
}

#cv-top {
    width: 100%;
    height: 531px;
    background-image: url(hd.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#cv-top h1 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-family: "Roboto";
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
#cv-top h1 span {
    letter-spacing: 0px;
}
#box-hvt {
    float: left;
    width: 94%;
    padding: 0;
    margin: 0;
    padding-right: 15px;
    /* padding-top: 40px; */
    padding-left: 0px;
}
#sortable #box01 {
  margin-top: 0;
  padding-top: 0px;
  margin-bottom: 0px;
}

#sortable #box01 #prof {
  padding: 0;
  margin: 0;
}

#box01 ul {
  list-style: none;
  padding-left: 20px
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-top h2 {
    text-transform: uppercase;
    width: 100%;
    font-size: 19px;
    text-align: center;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    color: #fff;
}

.box-01 {
  float: left;
  width: 100%;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-right h3, #cv-content .head {
  margin: 0px;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}

#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #000;
}
#cv-content #block02 .exp-content {
    margin: 0;
    padding: 0;
    padding-left: 10px;
}
#cv-content #block03 h3{
  font-weight: bold;
}
#cv-content #block04 h3 {
  font-weight: bold;
}

#cv-content .exp-date {
  float: none;
}

#cv-content #block01 .exp-date {
  display: none;
}

#cv-content #block03 .exp-date {
  display: none;
}

#cv-content #block04 .exp-date {
  display: none;
}

#cv-content #block05 .exp-date {
  display: none;
}

#cv-content p.h3 {
  margin: 0px;
  padding: 0px;
}

#cv-content .cvo-block {
  padding: 0px;
}

.ctbx {
  padding-left: 10px;
  padding-right: 10px
}

#cv-content span {
  display: inline-block;
  z-index: 9999;
}

#cv-content #block02 h3 {
  font-weight: bold;
}

.ctbx {
  margin: 15px 10px 15px 0px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
    padding: 0;
    margin: 0;
    float: left;
    padding-top: 38px;
    padding-left: 40px;
    margin-bottom: 35px;
}

#cvo-profile-avatar-wraper .wimg {
 width: 245px;
 height: 265px;
 padding: 0px;
 margin: 0px;
 margin-top: 0px;
}
#cvo-profile-avatar-wraper img {
   width: 245px;
   height: 265px;
   float: none;
}
#cvo-profile-avatar{
  width: 245px;
  height: 265px;
}
#line-seperate {
  height: 25px;
}

.bar-exp div {
    float: left;
    height: 20px;
    background: #000;
    margin-top: 0px;
}

.ctbx .skill-name {
    margin: 0px;
    padding: 0px;
    line-height: 19px;
}

.bar-exp {
    width: 100%;
    background: #fff;
    /* border: 1px solid black; */
    height: 20px;
    float: left;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    z-index: 10;
}

.bar-value-exp {
  width: 100%
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 95%
}

.icoweb label {
  display: block;
}

#page-cv #cv-content span {
    z-index: 998;
    width: 100%;
}

#sortable .ic {
  margin-bottom: 0px;
  padding-top: 10px;
	padding-left: 30px;
}

.ic {
  float: left;
  width: 100%;
}
.ic1{
  float: left;
  width: 40%;
}
.ic2{
  float: left;
  width: 40%;
}
#form-cv .icf {
  float: left;
  border-radius: 5px;
  line-height: 30px;
  margin-bottom: 0;
  width: 32px;
  text-align: center;
}

.ic .icoweb {
    float: left;
    width: 75%;
    text-align: left;
}
[contentEditable=true] {
    display: inherit;
}

.icf .fa {
    font-size: 20px;
    color: #000;
    margin-top: 0;
    float: none;
}

.container {
  width: 100%;
}
#page-cv #cv-content span {
    z-index: 998;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

.ifo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}
.ski {
    margin: 0;
    width: 100%;
    height: 30px;
    padding-bottom: 5px;
}
#box02 .cum {
    margin: 0;
    width: 100%;
    padding-top: 13px;
}
#cv-right h3 {
    width: 100%;
    height: 30px;
    margin: 0;
    color: #c15d27;
    padding: 0;
    float: left;
    line-height: 30px;
    text-align: left;
}

#cv-content .head #cvo-experience-blocktitle{width: 90%;height: 29px;line-height: 35px;padding-left: 25px;background: url(head.png)no-repeat;background-size: 100% 100%;}
#bg{
	background: #F58284;
	text-align: left;
}

#prof {
    float: right;
    padding: 10px 10px 0px 0px;
    width: 97%;
}
div#cv-boxtitle {
    width: 84%;
    font-size: 20px;
    height: 29px;
    text-transform: uppercase;
    line-height: 38px;
    font-weight: bold;
    color: #fff;
    padding-left: 25px;
    background: url(head.png)no-repeat;
    background-size: 100% 100%;
}
div#box01 {
}
.footer {
    width: 100%;
    height: 80px;
    background: url(ft.png);
    background-size: 100% 100%;
}

.all {
    background: url(main.png);
    background-size: 100% 100%;
}
.exp-fake{
  
float: left;
  
width: 100%;
  
height: 22px;
  
background: url(ski.png);
  
background-size: 100% 100%;
  
background-position: left;
  
margin-top: -21px;
  
z-index: 999;
}
.fake-img{
  /* padding: 0; */
  /* margin: 0; */
  /* float: left; */
  /* display: table; */
  /* background: url(fake.png)no-repeat; */
  /* background-size: 100% 100%; */
  /* clear: both; */
  /* z-index: 1; */
  /* top: -900px; */
  /* position: absolute; */
  /* width: 351px; */
  /* height: 332px; */
  /* margin-top: -294px; */
  /* margin-left: 5px; */
}
#box02 #cv-boxtitle{
  color: #000;
}
#box03{
  margin-top: 70px;
}
#block01 .head{
  color: #fff;
}
#block02 .head{
  color: #fff;
}