#cv-top {
    background-image: url(hd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.footer {
    background: url(ft2.png) no-repeat;
    background-size: 100% 100%;
}

.ic .fa {
    color: #00a154;
}

.bar-exp div {
    background: #00a154;
}

.box-dm {
    background: url(ava2.png)no-repeat;
    background-size: 100% 100%;
}

#box02 .box-content {
    background: url(linergr_03.png) no-repeat;
    background-size: 5%;
    background-position: left;
}

div#box03 {
    background: url(linergr_06.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

#box04 .box-content {
    background: url(linergr_10.png) no-repeat;
    background-size: 5%;
    background-position: left;
}

#box05 .box-content {
    background: url(linergr_10.png) no-repeat;
    background-size: 5%;
    background-position: left;
}

#box06 .box-content {
    background: url(linergr_10.png) no-repeat;
    background-size: 5%;
    background-position: left;
}

#box07 .box-content {
    background: url(linergr_10.png) no-repeat;
    background-size: 5%;
    background-position: left;
}

#block01 div#experience-table {
    background: url(linergr_10.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

#block02 div#experience-table {
    background: url(linergr_06.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

#block03 div#experience-table {
    background: url(linergr_10.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

#block04 div#experience-table {
    background: url(linergr_10.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

#block05 div#experience-table {
    background: url(linergr_10.png) no-repeat;
    background-size: 4%;
    background-position: left;
}