#cv-top {
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.footer {
    background: url(ft3.png) no-repeat;
    background-size: 100% 100%;
}

.ic .fa {
    color: #e86e19;
}

.bar-exp div {
    background: #e86e19;
}

.box-dm {
    background: url(ava3.png)no-repeat;
    background-size: 100% 100%;
}

#box02 .box-content {
    background: url(lineror_03.png) no-repeat;
    background-size: 5%;
    background-position: left;
}

div#box03 {
    background: url(lineror_06.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

#box04 .box-content {
    background: url(lineror_10.png) no-repeat;
    background-size: 5%;
    background-position: left;
}

#box05 .box-content {
    background: url(lineror_10.png) no-repeat;
    background-size: 5%;
    background-position: left;
}

#box06 .box-content {
    background: url(lineror_10.png) no-repeat;
    background-size: 5%;
    background-position: left;
}

#box07 .box-content {
    background: url(lineror_10.png) no-repeat;
    background-size: 5%;
    background-position: left;
}

#block01 div#experience-table {
    background: url(lineror_10.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

#block02 div#experience-table {
    background: url(lineror_06.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

#block03 div#experience-table {
    background: url(lineror_10.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

#block04 div#experience-table {
    background: url(lineror_10.png) no-repeat;
    background-size: 4%;
    background-position: left;
}

#block05 div#experience-table {
    background: url(lineror_10.png) no-repeat;
    background-size: 4%;
    background-position: left;
}