#form-cv {
	line-height: 26px;
}

#cv-right .ir {
	line-height: 32px;
}

#cv-top h1,
#cv-top h1 span {
	line-height: 47px;
}

#cv-content .cvo-block .head {
	line-height: 32px;
}

.exp-title {
	line-height: 27px;
}

.ic1, .ic2, .ic3, .ic4, .ic5 {
	line-height: 32px;
}