#form-cv {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    background: #fff;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    background: #fff;
}

#form-cv p {
    margin-top: 0;
    margin-bottom: 0px;
}

#cv-top {
    width: 100%;
    height: 325px;
}

#sortable .cvo-block {
    margin: 0;
    padding: 0;
    padding: 0 15px 0px;
    padding-bottom: 15px;
}

#cvo-profile {
    display: block;
}

#cv-content {
    width: 54%;
    text-align: justify;
    margin: 0;
    padding: 0;
    float: right;
    margin-left: 25px;
    position: relative;
    padding-top: 20px;
}

#cv-content .cvo-block {}

#all {
    height: auto;
    clear: both;
    width: 100%;
    border-top: 4px solid #4b1ba5;
}

#cv-content .ir {
    padding: 0 0px;
    margin: 0px;
}

#cv-content #block02 #exp1 {
    padding: 0;
    margin: 0;
    padding-top: 15px;
}

#cv-content #block02 #exp2,
#cv-content #block02 #exp3 {
    padding: 0;
    margin: 0;
}

#cv-content .ir #experience-table {
    padding: 0;
    margin: 0;
}

#cv-content .ir #block02 #experience-table {
    padding: 0px;
}

#cv-main {
    margin: 0;
    padding: 0;
    width: 41.25%;
    text-align: justify;
    float: left;
    position: relative;
    background: #eae1f5;
}

#cv-right {
    float: left;
    width: 100%;
    padding-top: 20px;
}

#cv-right .ir {
    padding: 0;
}

p.skill-name input {
    color: #fff !important;
}

#box-hvt {
    margin: 0;
    padding: 0;
    float: right;
    width: 98%;
    text-align: left;
}

#cv-top h1 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    font-weight: bold;
    background-color: #4b1ba5;
}

#cvo-profile .box-01 {
    float: right;
    width: 55%;
}

#cvo-profile .box-contact {
    padding-bottom: 20px;
    width: 97%;
    float: right;
    color: #000;
    padding-right: 0px;
}

#cv-right #prof {
    width: 100%;
    float: left;
    color: #000;
    padding-bottom: 5px;
    border-bottom: 2px solid #1b1b1b;
}

#sortable #box01 {
    padding: 0;
    margin: 0;
    border: 0;
}

.info {
    width: 43%;
    float: left;
    padding: 0;
    margin: 0;
}

#cv-right .cvo-block .head div {
    color: #1b1b1b;
}

#box01 ul li {
    width: 50%;
    float: left
}

#cv-top h2 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #4b1ba5;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 5px;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#sortable .box-content {
    margin: 0;
    padding: 0;
    color: #000;
    width: 100%;
}

#cv-content .exp-title {
    width: 100%;
    padding-top: 10px;
    float: right;
    color: #000;
}

#cv-content .exp-date {
    float: left;
    width: 20%;
    padding-right: 10px;
    border-left: 2px solid #28a745;
    background: url(ar.png) right center no-repeat;
    font-size: 14px;
    text-align: center;
}

#cv-content .w-exp {
    width: 100%;
    float: left;
    color: #000;
}

div#cv-boxtitle {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

#cv-content h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    line-height: 18px;
    display: table;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 10px;
}

#cv-content p.h3 {
    /*font-weight: bold;*/
}

#cv-content .cvo-block {
    margin: 0px;
    padding: 0;
    margin-bottom: 25px;
}

#footer {
    display: none;
}

.ctbx {
    padding-left: 0;
    padding-right: 0;
    /*margin-bottom: 15px;*/
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

.ctbx {
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    float: left;
    padding: 0px;
    margin: 0px;
    height: 325px;
}

#cvo-profile-avatar-wraper .wimg {
    padding: 0;
    margin: 0;
    float: left;
    width: 325px;
}

#cvo-profile-avatar-wraper img {
    width: 325px;
    height: 325px;
    float: none;
    display: inline-block;
}

#cvo-profile-avatar {
    width: 325px;
    height: 325px;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 12px;
    background-color: #000;
    border-radius: 10px;
    margin-top: -1px;
    margin-left: -1px;
}

.ctbx .skill-name {
    width: 100%;
    float: left;
}

.bar-exp {
    width: 100%;
    background: transparent;
    height: 10px;
    float: right;
    margin-top: 3px;
    margin-bottom: 0px;
    border: 1px solid #000;
    border-radius: 10px;
}

.skill .ctbx {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.bar-value-exp {
    width: 50%
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
}

.icoweb label {
    display: block;
}

.icoweb {
    line-height: 22px;
    float: left;
    padding-left: 5px;
}

.ic {
    float: left;
    width: 100%;
    margin-bottom: 8px
}

#form-cv .icf {
    float: left;
    line-height: 25px;
    height: 25px;
    margin-bottom: 0;
    font-size: 14px;
    width: 25px;
    text-align: center;
}

#form-cv .ic .icoweb {
    margin-bottom: 0;
    color: #000;
}

.ic .icoweb {
    float: left;
    text-align: left;
}

.icf .fa {
    color: #000;
    margin-top: 0;
    float: none;
    font-size: 20px;
}

#prof .ic {
    padding: 0;
    margin: 0;
    margin-top: 3px;
    float: none;
    float: right;
    padding: 3px;
    height: auto;
    width: 100%;
    text-align: right
}

#form-cv .wfa {
    float: right;
    width: 25px;
    font-size: 14px;
    line-height: 25px;
    background: #fff;
    border: 2px solid #446600;
    border-radius: 20px;
    text-align: center;
    color: #446600
}

#cv-content .head {
    width: 100%;
    height: 30px;
    color: #000;
    text-align: left;
    line-height: 30px;
    background-color: #eae1f5;
    float: right;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.funk {
    width: 100%;
    height: 30px;
    /*background: #00b05b;*/
    text-align: left;
    color: #f49819;
}

#cv-top h1,
#cv-top h2 {
    text-align: left;
    padding-left: 10px;
}

#prof {
    padding-right: 20px;
    padding-top: 20px;
}


/* fix width */

#prof .icoweb,
#prof .icoweb span {
    width: 87%;
    height: auto;
    float: left;
    text-align: left;
    padding-right: 10px;
}

#box03 .exp {
    width: 100%;
    padding: 15px 0px 15px 0px;
    /*background: #e5e5e5;*/
}

#experience-table .ctbx {}

#cv-profile-birthday::before {
    color: white;
}

#cv-profile-sex::before {
    color: white;
}

#cv-profile-phone::before {
    color: white;
}

#cv-profile-email::before {
    color: white;
}

#cv-profile-address::before {
    color: white;
}

#box03 .skill-name {
    color: #000;
    padding-bottom: 20px;
}

h3.icon-ic-2 {
    border-bottom: 3px solid #000;
    background: url(ic_03.gif)no-repeat;
    background-size: 14% 100%;
    background-position: right;
}

h3.icon-ic-3 {
    border-bottom: 3px solid #000;
    background: url(ic_07.gif)no-repeat;
    background-size: 14% 100%;
    background-position: right;
}

h3.icon-ic-4 {
    border-bottom: 3px solid #000;
    background: url(ic_10.gif)no-repeat;
    background-size: 14% 100%;
    background-position: right;
}

h3.icon-ic-5 {
    border-bottom: 3px solid #000;
    background: url(ic_12.gif)no-repeat;
    background-size: 14% 100%;
    background-position: right;
}

h3.icon-ic-6 {
    border-bottom: 3px solid #000;
    background: url(ic_14.gif)no-repeat;
    background-size: 14% 100%;
    background-position: right;
}

h3.icon-ic-7 {
    border-bottom: 3px solid #000;
    background: url(ic_16.gif)no-repeat;
    background-size: 14% 100%;
    background-position: right;
}