#form-cv{
	font-size: 14px;
}

#cv-top h1{
	font-size: 32px;	
}

#cv-top h2{
	font-size: 18px;
}
#cv-right .h3, #cv-content .head{
	font-size: 20px;

}
#cv-content h3{	
    font-size: 17px;
}
.box-contact{
	font-size: 17px;
}
#sortable .icoweb i.fa{
    font-size: 15px;
}
.head i.fa, .h3 i.fa{
	font-size: 14px;
}

