#form-cv{
	font-size: 12px;
}

#cv-top h1{
	font-size: 28px;	
}

#cv-top h2{
	font-size: 14px;
}
#cv-right .h3, #cv-content .head{
	font-size: 16px;

}
#cv-content h3{	
    font-size: 13px;
}
.box-contact{
	font-size: 13px;
}
#sortable .icoweb i.fa{
    font-size: 11px;
}
.head i.fa, .h3 i.fa{
	font-size: 11px;
}

