.all {
    background-color: #dbe9f2;
}

.all::before {
    background-color: #0a68bf;
}

.all::before {
    background-color: #0a68bf;
}

#cv-top h1 {
    color: #0a68bf;
}

#cv-top h2 {
    color: #0a68bf;
}

.dot-img {
    background-color: #0a68bf;
}

#cvo-experience-blocktitle {
    color: #0a68bf;
}

.box-title::after,
.block-title::after {
    background-color: #0a68bf;
}

div#cv-boxtitle {
    color: #0a68bf;
}

.cum::before,
.ski::before {
    background-color: #0a68bf;
}

.head::after {
    background-color: #0a68bf;
}

#cvo-profile-avatar-wraper .wimg {
    background-color: #9bd3ee;
}