#cv-top {
    width: 100%;
    height: 387px;
    background-image: url(hd1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
#cv-content #block02 h3 {
  font-weight: bold;
  color: #00a651;
  float: left;
  width: 100%;
  text-transform: unset;
  font-size: 15px;
}
#cvo-profile-avatar-wraper .wimg {
    width: 165px;
    height: 165px;
    float: right;
    display: unset !important;
    border: 3px solid #00a651;
    border-radius: 10px;
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #00a651;
    margin-top: 0px;
    border-radius:10px;
}
.bar-exp {
    background: #fff;
    height: 8px;
    float: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #00a651;
    float: right;
    width: 100%;
    border-radius:10px;
}
.icf .fa {
    font-size: 20px;
    color: #00a651;
    margin-top: 0;
    float: left;
}
#cv-content .head {
    padding: 0;
    margin: 0;
    height: 40px;
    text-align: left;
    line-height: 40px;
    width: 100%;
    float: left;
    background: #00a651;
}
div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #00a651;
}
#box02 .cum{
  background: url(ic1_20.png)no-repeat;
    background-size: 25% 7%;
    background-position: center right;
}
#box03 .ski{
  background: url(ic1_20.png)no-repeat;
    background-size: 44% 7%;
    background-position: center right;
}
#box04 .cum{
  background: url(ic1_20.png)no-repeat;
    background-size: 36% 7%;
    background-position: center right;
}
#box05 .cum{
  background: url(ic1_20.png)no-repeat;
    background-size: 40% 7%;
    background-position: center right;
}
#box06 .cum{
  background: url(ic1_20.png)no-repeat;
    background-size: 44% 7%;
    background-position: center right;
}
#box07 .cum{
  background: url(ic1_20.png)no-repeat;
    background-size: 25% 7%;
    background-position: center right;
}
.icright1 {
    width: 40px;
    height: 40px;
    float: left;
    background: url(ic1_03.png);
    background-position:center;
    background-repeat: no-repeat;
  }
.icright2 {
    width: 40px;
    height: 40px;
    float: left;
    background: url(ic1_07.png);
    background-position:center;
    background-repeat: no-repeat;
}
.icright3 {
    width: 40px;
    height: 40px;
    float: left;
    background: url(ic1_11.png);
    background-position:center;
    background-repeat: no-repeat;
}
.icright4 {
    width: 40px;
    height: 40px;
    float: left;
    background: url(ic1_14.png);
    background-position:center;
    background-repeat: no-repeat;
}
.icright5 {
    width: 40px;
    height: 40px;
    float: left;
    background: url(ic1_17.png);
    background-position:center;
    background-repeat: no-repeat;
}
.footer{
  background: url(ft1.png)no-repeat;
  background-size: 100% 100%;
  height: 130px;
  float: left;
  width: 100%;
}