#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.cv_page {
  float: left;
  width: 100%;
  background: var(--luoi), var(--top), var(--bottom), var(--center);
  background-size: 767px 1102px, 100% 200px, 100% 130px, 100% 100%;
  background-position: 10px top, left top, left bottom, left top;
  padding-top: 20px;
}

#sortable .cvo-block .box-content {
  margin-top: 6px !important;
  margin: 0;
  width: 100%;
  color: #fff;
  padding: 0;
  text-align: center;
}

.exp.content-edit.skill {
  float: left;
}


#cvo-profile {
  display: block;
}

#cv-content {
  width: 52%;
  text-align: justify;
  float: left;
  position: relative;
  z-index: 2;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

#cv-profile-sex:before {
  color: #fff;
}

#cv-profile-birthday:before {
  color: #fff;
}

#cv-main {
  text-align: justify;
  margin: 0;
  padding: 0;
  float: left;
  width: 37.5%;
  padding: 20px 0px;
  margin-left: 35px;
  margin-right: 24px;
  background: linear-gradient(180deg, var(--color-j), var(--color-k));
  border-radius: 30px;
}

.chu {
  float: left;
  width: 91%;
  padding-bottom: 15px;
}

.anh {
  float: left;
  width: 39%;
  padding-top: 20px;
  position: relative;
  background: var(--avt);
  background-position: 50px 30px;
  margin-left: 25px;
  padding-bottom: 35px;
}

#cv-right .ir {
  padding: 0;
  margin: 0;
}

#cv-main #cv-right {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

#cv-main #cv-right .ir #sortable {
  padding: 0;
  margin: 0;
}

#cv-right .ir #sortable .block {
  margin-top: 0 !important;
  padding: 0 5px;
  margin: 0;
  float: left;
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  padding-bottom: 20px;
  float: left;
  text-align: center;
}

#cv-content #box01 {
  padding: 0;
  margin: 0;
}

#box03 .exp {
  float: left;
  padding: 10px 0px;
  width: 100%;
}

#cv-top {
  width: 100%;
  float: left;
  background: var(--top), var(--top-r);
  background-position: 293px 20px, 755px 20px;
}

.all {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 20px;
}

#cv-top h1 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  font-family: "Roboto";
  text-transform: uppercase;
  margin-bottom: 0;
  color: #000;
  font-weight: bold;
  width: 100%;
  float: left;
  padding-bottom: 3px;
  position: relative;
  line-height: 45px;
}

#cv-top h1 span {
  ;
  width: 100%;
  line-height: 45px;
}

div#box01 {
  float: left;
  width: 100%;
}

#box-hvt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  margin-left: 45px;
  background: var(--info);
  background-position: left bottom;
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-profile-fullname::before {
  color: #000;
}

#cv-top h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  /* max-width: 355px; */
  font-size: 17px;
  float: left;
  font-weight: bold;
  position: relative;
  color: #fff;
  text-align: center;
  padding: 5px;
}

#cv-profile-job {
  text-align: center;
  width: max-content;
  max-width: 355px;
  padding: 5px 10px;
  background: linear-gradient(45deg, var(--color-j), var(--color-k));
  border-radius: 30px;
}

.box-01 p {
  overflow: hidden;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-content h3 {
  float: left;
  width: 100%;
  font-weight: unset;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  color: #000;
  display: flex;
  flex-direction: column-reverse;
}

#cv-content #block02 h3 {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

#cv-content #block03 h3 {
  font-weight: unset;
  float: left;
}

#cv-content p.h3 {
  float: left;
  width: 100%;
  margin: 0px;
}

#cv-content #block02 p.h3 {
  font-weight: bold;
}

#cv-content .cvo-block {
  float: left;
  width: 100%;
}

#cv-content .ir .cvo-block {
  margin-top: 0 !important;
  padding: 0;
  background-position: top;
  margin-bottom: 25px;
  background: var(--sao);
  background-position: 0px 43px;
}

#cv-content .ir #block05 {
  min-height: 80px;
}

.ctbx {
  padding-left: 10px;
  padding-right: 10px
}

#experience-table .ctbx {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}


.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
  width: 100%;
  padding: 0;
  margin: 0;
}

#cvo-profile-avatar-wraper .wimg {
  width: 164px;
  height: 164px;
  margin-left: 85px;
  margin-top: 45px;
  background: linear-gradient(45deg, var(--color-j), var(--color-k));
  border-radius: 99em;
}

#cvo-profile-avatar-wraper img {
  width: 160px;
  height: 160px;
  float: left;
  border-radius: 99em;
  margin-left: 2px;
  margin-top: 2px;
}

.box-01 {
  float: left;
  width: 100%;
}

#cvo-profile {
  float: left;
  display: block;
}

#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: left;
  height: 25px;
  background: var(--kn);
}

.ctbx .skill-name {
  margin: 0px;
  padding: 0px;
  color: #fff;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.bar-exp {
  background: var(--skill);
  height: 25px;
  margin-bottom: 0px;
  padding: 0px;
  float: none;
  clear: both;
  width: 242px;
  margin-top: 10px;
  margin: 0px auto;
}

.bar-value-exp {
  width: 100%
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 95%
}

.icoweb label {
  display: block;
}

#cv-right .block {
  position: relative;
  padding: 0;
  margin: 0;
}

.ic .icoweb {
  width: calc(100% - 30px);
  text-align: left;
  padding-left: 5px;
  float: left;
  color: #000;
}

.ic {
  width: 100%;
  float: left;
  color: #000;
  padding-bottom: 10px;
}

#prof [contentEditable=true] {
  width: 100%;
  float: left;
}

#prof .icoweb,
#prof .icoweb span {
  height: auto;
  text-align: left;
  width: 100%;
  float: left;
}

div#prof {
  float: left;
  width: 100%;
}

#form-cv .icf {
  float: left;
  line-height: 20px;
  margin-bottom: 0;
  width: 26px;
  height: 20px;
  text-align: left;
  display: none;
}

.ic02 {
  float: right;
  width: 64%;
}

.ic03 {
  float: left;
  width: 35%;
}

.icf .fa {
  font-size: 20px;
  color: #000;
  margin-top: 0;
  float: left;
}

.container {
  width: 100%;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

#cv-right .block {
  margin-bottom: 10px;
  position: relative;
  padding: 0;
  padding-bottom: 20px;
}

#experience-table .ctbx {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-top: 15px;
  margin-bottom: 0px;
}

#cv-right h3 {
  width: 100%;
  height: 30px;
  margin: 0;
  color: #ffffff;
  padding: 0;
  float: left;
  line-height: 30px;
  text-align: center;
  background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
  color: #000;
  position: relative;
  z-index: 990;
  width: 100%;
}

#bg {
  background: #F58284;
  text-align: left;
}

div#experience-table {
  float: left;
  border-radius: 10px;
  padding-left: 40px;
}

#cv-boxtitle {
  /* float: left; */
  width: max-content;
  max-width: 285px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  padding: 1px 10px;
  background: #fff;
  border-radius: 30px;
}

.ski {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  line-height: 30px;
  text-align: left;
}

.cum {
  margin: 0;
  width: 100%;
  line-height: 30px;
}

div#sort_block {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

.cvo-block .blockControls {
  margin: 0px;
  padding: 0px;
}

#cv-profile-job::before {
  color: #000;
}

.footer {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--foot);
  background-position: center bottom;
}

.watermark {
  float: left;
  width: 100%;
  color: #000;
  text-align: right;
  padding-right: 22px;
  padding-top: 2px;
  font-size: 15px;
  font-family: Courier;
}

#prof .ic:nth-child(1),
#prof .ic:nth-child(3) {
  width: 35%;
  float: left;
}

#prof .ic:nth-child(2) {
  width: 30%;
}

#cv-content .cvo-block .head {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  background: var(--tt);
  background-position: 18px bottom;
  padding-bottom: 15px;
  padding-left: 40px;
}

.ic1,
.ic2,
.ic3,
.ic4,
.ic5 {
  width: 100%;
  float: left;
  line-height: 30px;
  margin-bottom: 5px;
}

.ic1 {
  width: 36%;
  background: var(--date);
  background-position: 0px 8px;
}

.ic2 {
  width: 25%;
  background: var(--sex);
  background-position: 0px 6px;
}

.ic3 {
  width: 36%;
  background: var(--phone);
  background-position: 0px 6px;
}

.ic4 {
  width: 100%;
  background: var(--email);
  background-position: 0px 9px;
}

.ic5 {
  width: 100%;
  background: var(--add);
  background-position: 0px 8px;
}

.icoweb {
  float: right;
}

.fake_img {
  width: 338px;
  height: 316px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}

#box02 .box-content {
  color: #000;
  padding: 10px;
}

.cum,
.ski {
  float: left;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding-bottom: 2px;
}

#cv-content .exp-date {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline;
  color: #000;
  text-align: left;
}

.exp-title {
  float: left;
  width: 100%;
}

#block01 .exp-date {
  font-weight: bold;
}

.bar-exp div p {
  color: #F44336;
  display: block;
  position: absolute;
  font-size: 20px;
  z-index: 99999;
}

#block03 h3 {
  display: none;
}

span.exp-subtitle {
  width: 100%;
}

.ifo {
  float: left;
  width: 50%;
  height: max-content;
  position: relative;
  padding-top: 36px;
  margin-left: 45px;
  padding-bottom: 15px;
}

#prof .icoweb {
  width: 100%;
  padding-left: 25px;
}

.icright1,
.icright2,
.icright3,
.icright4,
.icright5 {
  display: none;
}

#block05 h3,
#block05 .exp-content {
  display: none;
}

.exp-content {
  float: left;
  width: 100%;
}

#prof .ic2 .icoweb {
  /* width: 60%; */
}

#experience-table #exp1 {
  margin: 0;
}

#cv-right .ir #sortable #box03 {
  margin: 0;
}

#cv-content #block05 p.h3 {
  padding: 0;
}

#cv-right .ir #sortable #box01 {
  display: none;
}

:root {
  --sex: url(sex.png) no-repeat;
  --phone: url(phone.png) no-repeat;
  --date: url(date.png) no-repeat;
  --email: url(email.png) no-repeat;
  --add: url(add.png) no-repeat;
  --avt: url(avt1.png) no-repeat;
  --sao: url(sao1.png) no-repeat;
  --tt: url(tt1.png) no-repeat;
  --info: url(info1.png) no-repeat;
  --job: url(job1.png) no-repeat;
  --color-j: #747bba;
  --color-k: #67c7cf;
  --skill: url(skill.png) no-repeat;
  --kn: url(kn.png) no-repeat;
}