/* 3 */
:root {
  --sex: url(sex3.png) no-repeat;
  --date: url(date3.png) no-repeat;
  --phone: url(phone3.png) no-repeat;
  --email: url(mail3.png) no-repeat;
  --add: url(add3.png) no-repeat;
  --page: url(page3.png) no-repeat;
  --fake: url(fake3.png) no-repeat;
  --kn: url(kn3.png) no-repeat;
  --top: url(top3.png) no-repeat;
  --top-b: url(top_b3.png) no-repeat;
  --ngang-h: url(ngang-h3.png) no-repeat;
  --muctieu: url(muctieu3.png) no-repeat;
  --kinang: url(kinang3.png) no-repeat;
  --giaithuong: url(giaithuong3.png) no-repeat;
  --chungchi: url(chungchi3.png) no-repeat;
  --sothich: url(sothich3.png) no-repeat;
  --nguoiTC: url(nguoiTC3.png) no-repeat;
  --hocvan: url(hocvan3.png) no-repeat;
  --kinhnghiem: url(kinhnghiem3.png) no-repeat;
  --hoatdong: url(hoatdong3.png) no-repeat;
  --duan: url(duan3.png) no-repeat;
  --TTthem: url(TTthem3.png) no-repeat;
  --doc: url(doc3.png) no-repeat;
  --color: #557571;
}