/* 2 */

:root {
  --sex: url(sex2.png) no-repeat;
  --date: url(date2.png) no-repeat;
  --phone: url(phone2.png) no-repeat;
  --email: url(mail2.png) no-repeat;
  --add: url(add2.png) no-repeat;
  --page: url(page2.png) no-repeat;
  --fake: url(fake2.png) no-repeat;
  --kn: url(kn2.png) no-repeat;
  --top: url(top2.png) no-repeat;
  --top-b: url(top_b2.png) no-repeat;
  --ngang-h: url(ngang-h2.png) no-repeat;
  --muctieu: url(muctieu2.png) no-repeat;
  --kinang: url(kinang2.png) no-repeat;
  --giaithuong: url(giaithuong2.png) no-repeat;
  --chungchi: url(chungchi2.png) no-repeat;
  --sothich: url(sothich2.png) no-repeat;
  --nguoiTC: url(nguoiTC2.png) no-repeat;
  --hocvan: url(hocvan2.png) no-repeat;
  --kinhnghiem: url(kinhnghiem2.png) no-repeat;
  --hoatdong: url(hoatdong2.png) no-repeat;
  --duan: url(duan2.png) no-repeat;
  --TTthem: url(TTthem2.png) no-repeat;
  --doc: url(doc2.png) no-repeat;
  --color: #85586f;
}