:root {
    --sex: url(gender.png) no-repeat;
    --phone: url(phone.png) no-repeat;
    --date: url(birthday.png) no-repeat;
    --email: url(mail.png) no-repeat;
    --add: url(address.png) no-repeat;
    --color: #d2422c;
    --color2: #fbb1a6;
    --foot: url(foot2.png) no-repeat;
    --kn: url(kn1.png) no-repeat;
    --time: url(time2.png) no-repeat;

    --fake: url(fake2_01.png) no-repeat;
    --thongtin: url(thongtin2-1.png) no-repeat;
    --h3: url(h3-2.png) no-repeat;
    --skil: url(skill2.png) no-repeat;
    --hocvan: url(hocvan2.png) no-repeat;
    --kinhnghiem: url(kinhnghiem2.png) no-repeat;
    --duan: url(duan2.png) no-repeat;
    --hoatdong: url(hoatdong2.png) no-repeat;
    --muctieu: url(muctieu2.png) no-repeat;
    --kinang: url(kinang2.png) no-repeat;
    --giaithuong: url(giaithuong2.png) no-repeat;
    --chungchi: url(chungchi2.png) no-repeat;
    --sothich: url(sothich2.png) no-repeat;
    --nguoithamchieu: url(nguoithamchieu2.png) no-repeat;
    --dgKe: url(dg-ke2.png) no-repeat;
    --muiten: url(muiten2.png) no-repeat;
    --chu: url(chu2.png) no-repeat;
    --exp1: url(exp1-1.png) no-repeat;
  }