/* 3 */

:root {
  --sex: url(sex3.png) no-repeat;
  --phone: url(phone3.png) no-repeat;
  --date: url(date3.png) no-repeat;
  --email: url(mail3.png) no-repeat;
  --add: url(add3.png) no-repeat;
  --page: url(page3.png) no-repeat;
  --fake: url(fake3.png) no-repeat;
  --job: url(job1-3.png) no-repeat, url(job2-3.png) no-repeat;
  --skill: url(skill3.png) no-repeat;
  --kn: url(kn3.png) no-repeat;
  --dot: url(dot3.png) no-repeat;
  --hocvan: url(hocvan3.png) no-repeat;
  --kinhnghiem: url(kinhnghiem3.png) no-repeat;
  --hoatdong: url(hoatdong3.png) no-repeat;
  --duan: url(duan3.png) no-repeat;
  --TTthem: url(TTthem3.png) no-repeat;
  --kinang: url(kinang3.png) no-repeat;
  --giaithuong: url(giaithuong3.png) no-repeat;
  --chungchi: url(chungchi3.png) no-repeat;
  --sothich: url(sothich3.png) no-repeat;
  --nguoiTC: url(nguoiTC3.png) no-repeat;
  --bg-tt: url(tt1-3.png) no-repeat, url(tt2-3.png) no-repeat;
  --cum: url(cum3.png) no-repeat;
  --color: #a6727d;
  --color-n: #59343d;
  --color-b: #f0e6dc;
}