#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

.cv_page {
    padding: 0;
}

#sortable .cvo-block .box-content {
    width: 100%;
    color: #000;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 16px;
}

#box03 .exp {
    float: left;
    margin: 0;
    margin-top: 8px;
    width: 100%;
}

#cvo-profile {
    display: block;
}

.chu {
    float: right;
    width: 68.5%;
    margin-right: 10px;
}

#cv-content {
    width: 52%;
    text-align: justify;
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    padding-left: 24px;
}

#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    width: 48%;
    padding-right: 32px;
}

#cv-right .ir {
    padding: 0;
    margin: 0;
}

#cv-main #cv-right {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

#cv-main #cv-right .ir #sortable {
    padding: 0;
    margin: 0;
}

#cv-right .ir #sortable .block {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

p.skill-name input {
    color: #fff !important;
}

#cv-right #box03 .ctbx {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;

    padding-bottom: 5px;
    float: left;
}

#cv-top {
    width: 100%;
    height: 272px;
    /* background-image: url(hd.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    position: relative;
    background-color: #2c2c2c;
    /* overflow: hidden; */
}

.all {
    float: left;
    clear: both;
    width: 100%;
    padding: 40px 32px 0;
    background-image: url(all_background_mau1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#cv-top h1 {
    padding: 0 0 12px 16px;
    margin: 0;
    font-size: 32px;
    font-family: "Roboto";
    line-height: 35px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    text-align: left;
    width: 100%;
    float: left;
}

#cv-top h1 span {
    letter-spacing: 1px;
}

#box-hvt {
    position: relative;
    /* float: right; */
    width: 100%;
    padding: 24px 40px 16px 16px;
    margin: 0;
}

#cv-right .cvo-block .head div {
    color: #fff;
}

.innertext {
    margin: 0px;
    padding: 0px;
    width: 29%;
    float: left;
    color: white;
}

#cv-top h2 {
    margin: 0;
    margin-left: 12px;
    padding: 8px;
    text-transform: uppercase;
    white-space: nowrap;
    width: fit-content;
    font-weight: unset;
    font-size: 22px;
    color: #000000;
    background-color: #f4d240;
    text-align: left;
    float: left;
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px;
}

#cv-content .ir a {
    color: #2ebb2f;
}

#cv-right h3,
#cv-content .head {
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    padding-top: 0px;
}

#cv-content h3 {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    text-transform: unset;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

#cv-content #block01 h3 {
    color: #000000;
    text-transform: uppercase;
    width: 84%;
}

#cv-content #block02 h3 {
    color: #000000;
    text-transform: uppercase;
}

#cv-content #block04 h3 {
    color: #000000;
    /* text-transform: uppercase; */
}

#cv-content #block05 h3 {
    color: #000000;
    text-transform: uppercase;
}

#cv-content #block02 .exp-content {
    margin: 0;
    padding: 0;
    padding-left: 0px;
}

#cv-content #block03 .exp-subtitle {
    display: none;
}

#cv-content #block04 .exp-subtitle {
    display: none;
}

#cv-content #block03 h3 {
    color: #000000;
    font-weight: unset;
    text-transform: unset;
}

#cv-content .exp-date {
    display: none;
    float: left;
}

#cv-content #block01 .exp-date {
    /* display: none; */
}

#cv-content #block03 .exp-date {
    /* display: none; */
}

#cv-content #block04 .exp-date {
    display: none;
}

#cv-content #block05 .exp-date {
    display: none;
}

#cv-content p.h3 {
    margin: 0px;
    padding: 0px;
}

.label-text {
    font-weight: bold;
}

#cv-content .cvo-block {
    padding: 0 !important;
    float: left;
    width: 100%;
}

#cv-content .ir .cvo-block {
    padding: 0;
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

.ctbx {
    margin-bottom: 16px;
    padding-left: 0;
    position: relative;
    padding-right: 40px;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    width: 45%;
    float: left;
    display: table;
    margin-right: 24px;
    padding: 48px 40px 16px 56px;
}

.box-info-wrapper {
    position: relative;
    float: right;
    width: 55%;
}

.box-info-wrapper::before {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 234px;
    background-color: #000;
    top: 16px;
}

#cv-profile-sex::before {
    color: #000;
}

#cv-profile-birthday::before {
    color: #000;
}

#cv-profile-address::before {
    color: #000;
}

#cv-profile-email::before {
    color: #000;
}

#cv-profile-phone::before {
    color: #000;
}

#cvo-profile-avatar-wraper .wimg {
    width: 100%;
    height: 100%;
    /* float: left; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f4d240;
    border-radius: 50%;
}

#cvo-profile-avatar-wraper img {
    width: 100%;
    height: 100%;
    border: 8px solid #2c2c2c;
    border-radius: 50%;
    /* float: left; */
}

/* #cvo-profile .box-dm {
    width: 251px;
    height: 255px;
    margin-left: 55px;
    margin-top: -228.1px;
    float: left;
    display: table;
    background: url(avata.png) no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    top: -800px;
    position: absolute;
} */

.box-01 {
    display: flex;
    float: left;
    width: 100%;
    height: 272px;
}

#box-introduce {
    padding-top: 16px;
}

#cvo-profile {
    display: block;
    float: left;
    width: 100%;
    height: 255px;
}

#line-seperate {
    height: 25px;
}

.ctbx .skill-name {
    margin: 0px;
    padding: 0px;
    color: #000;
    float: left;
    width: 100%;
}

.bar-exp {
    background: #564636;
    height: 10px;
    float: left;
    margin-bottom: 0px;
    padding: 0px;
    float: left;
    width: 98%;
}

.bar-value-exp {
    display: none;
    width: 100%;
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%;
    height: 70px;
}

.icoweb label {
    display: block;
}

#cv-right .block {
    position: relative !important;
    padding: 0;
    margin: 0;
}

.ic .icoweb {
    width: 85%;
    text-align: left;
    padding-left: 10px;
    float: left;
    color: #000;
}

#sortable .ic {
    margin: 0;
}

.ic {
    /* width: 100%; */
    display: flex;
    float: left;
    color: #000;
    margin: 0;
    padding-bottom: 8px;
}

#prof [contentEditable="true"] {
    width: 100%;
    float: left;
    color: #fff;
}

#prof .icoweb,
#prof .icoweb span {
    height: auto;
}

div#prof {
    display: flex;
    flex-direction: column;
    float: left;
    width: 100%;
    padding: 16px 32px;
}

.box-gender-birthday-phone {
    display: flex;
    gap: 16px;
}

#form-cv .icf1 {
    float: left;
    margin-bottom: 0;
    width: 25px;
    line-height: 25px;
    height: 25px;
    text-align: left;
    background: url(ic_01.png) no-repeat;
    background-position: left;
    background-size: 100% 100%;
}

#form-cv .icf2 {
    float: left;
    margin-bottom: 0;
    width: 25px;
    line-height: 25px;
    height: 25px;
    text-align: left;
    background: url(ic_06.png) no-repeat;
    background-position: left;
    background-size: 100% 100%;
}

#form-cv .icf3 {
    float: left;
    margin-bottom: 0;
    width: 25px;
    line-height: 25px;
    height: 25px;
    text-align: left;
    background: url(ic_03.png) no-repeat;
    background-position: left;
    background-size: 100% 100%;
}

#form-cv .icf4 {
    float: left;
    margin-bottom: 0;
    width: 25px;
    line-height: 16px;
    height: 25px;
    text-align: left;
    background: url(ic_10.png) no-repeat;
    background-position: left;
    background-size: 100% 100%;
    margin-top: 5px;
}

#form-cv .icf5 {
    float: left;
    margin-bottom: 0;
    width: 25px;
    line-height: 25px;
    height: 25px;
    text-align: left;
    background: url(ic_12.png) no-repeat;
    background-position: left;
    background-size: 100% 100%;
}

.icf .fa {
    font-size: 20px;
    color: #000;
    margin: 0;
}

#form-cv .fa {
    font-size: 18px;
    color: #fff;
}

.container {
    width: 100%;
}

.sum {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-right .block {
    margin-bottom: 10px;
    position: relative;
    padding: 0;
    padding-bottom: 20px;
}

#cv-content .head {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    padding: 0;
    margin: 0 auto;
    height: 35px;
    float: left;
    width: 100%;
}

.head::after,
.cum::after,
.ski::after {
    content: "";
    position: absolute;
    display: block;
    width: 300px;
    height: 2px;
    background-color: #f4d240;
    bottom: 0;
}

.icright1 {
    width: 24px;
    height: 24px;
    background-image: url(trinhDoHocVanIcon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.icright2 {
    width: 24px;
    height: 24px;
    background-image: url(kinhNghiemLamViecIcon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.icright3 {
    width: 24px;
    height: 24px;
    background-image: url(hoatDongIcon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.icright4 {
    width: 24px;
    height: 24px;
    background-image: url(duAnThamGiaIcon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.icright5 {
    width: 24px;
    height: 24px;
    background-image: url(thongTinThemIcon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#experience-table .ctbx {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.ifo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-right h3 {
    width: 100%;
    height: 30px;
    margin: 0;
    color: #ffffff;
    padding: 0;
    float: left;
    line-height: 30px;
    text-align: center;
    background: #b82731;
}

#cvo-experience-blocktitle {
    color: #000;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    font-size: 18px;
}

#exp1 .exp-content {}

#bg {
    background: #f58284;
    text-align: left;
}

div#experience-table {
    margin: 0px;
    width: 100%;
    float: left;
    color: #000;
}

.label-text {
    font-weight: bold;
}

.tt-box1 {
    margin: 0 auto;
    height: 35px;
    width: 100%;
    float: left;
    line-height: 35px;
    color: #3f5b66;

    display: none;
}

div#cv-boxtitle {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    /*display: none;*/
}

.ski {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    margin: 0 auto;
    height: 35px;
    width: 100%;
    float: left;
    line-height: 35px;
    color: #000;
}

.cum {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    margin: 0 auto;
    height: 35px;
    width: 100%;
    float: left;
    line-height: 35px;
    color: #000;
}

.cumicc2 {
    width: 24px;
    height: 24px;
    background-image: url(mucTieuNgheNghiepIcon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.cumicc3 {
    width: 24px;
    height: 24px;
    background-image: url(kyNangIcon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.cumicc4 {
    width: 24px;
    height: 24px;
    background-image: url(giaiThuongIcon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.cumicc5 {
    width: 24px;
    height: 24px;
    background-image: url(chungChiIcon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.cumicc6 {
    width: 24px;
    height: 24px;
    background-image: url(soThichIcon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.cumicc7 {
    width: 24px;
    height: 24px;
    background-image: url(nguoiThamChieuIcon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div#box01 {
    /* float: left; */
    width: 100%;
    /* padding-top: 50px; */
}

.footer {
    background: url(footer1.png) no-repeat;
    background-size: 100% 100%;
    height: 60px;
    float: left;
    width: 100%;
}

div#sort_block {
    padding: 0;
    margin: 0;
}

.cvo-block .blockControls {
    margin: 0px;
    padding: 0px 5px;
}

/*  #block01{
        background: url(bg_03.png)no-repeat;
        background-position: right top;
    }
    #block02{
        background: url(bg_06.png)no-repeat;
        background-position: right top;
    } */
/*   #box01{
      background: url(bg_02.png)no-repeat left;
      background-size: 100%;
    } */
/*   #box02{
      background: url(bg_08.png)no-repeat left;
    } */
/* #box04{
      background: url(bg_10.png)no-repeat left;
    }
      #box07{
      background: url(bg_12.png)no-repeat left;
      background-size: 100% 100%;
    }
   */
.bar-exp {
    border: 2px solid #62747f;
    background: #f0f1f3;
    background-size: 100% 100%;
    height: 5px;
    float: left;
    border-radius: 10px;

    display: none;
}

.bar-exp div {
    float: left;
    padding: 0px;
    float: left;
    width: 98%t;
    height: 5px;
    background: #62747f;
    background-position: right;
    margin-top: 0px;
    border-radius: 10px;
}

#cvo-profile-avatar {
    width: 190px;
    height: 190px;
}