#cv-top {
    width: 100%;
    height: 390px;
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all{
  float: left;
  clear: both;
  width: 100%;
  background:url(main3.png)no-repeat;
  background-size: 100% 100%;
}
.box-dm {
    width: 287px;
    height: 308px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(avata3.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -295px;
    margin-left: 76px;
    position: absolute;
    top: -900px;
}