#cv-top {
    width: 100%;
    height: 370px;
    background-image: url(hd1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.footer {
  /*background: #555555;*/
  background:url(ft1.png)no-repeat;
  background-size: 100% 100%;
  height:100px; 
    float: left;
    width: 100%;
}