#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.cv_page {
  float: left;
  width: 100%;
  background: var(--page);
  background-position: left bottom;
  background-size: 370px 100%;
}

#sortable .cvo-block .box-content {
  float: left;
  margin: 0;
  width: 100%;
  color: #fff;
  padding: 0;
  text-align: justify;
  margin-top: 0 !important;
}

.exp.content-edit.skill {
  float: left;
}


#cvo-profile {
  display: block;
}

#cv-content {
  width: 53%;
  text-align: justify;
  float: left;
  position: relative;
  z-index: 2;
  margin: 0;
  padding-left: 5px;
  padding-right: 10px;
}

#blocktitle {
  width: 100%;
  float: left;
  text-align: left;
  padding-left: 65px;
  padding-right: 86px;
}

#cv-profile-sex:before {
  color: #fff;
}

#cv-profile-birthday:before {
  color: #fff;
}

#cv-main {
  text-align: justify;
  margin: 0;
  padding: 0;
  float: left;
  width: 47%;
  padding-right: 30px;
}

.ct_box {
  width: 100%;
  float: left;
  padding-bottom: 15px;
  border-bottom: solid 1px #fff;
}

#box07 .ct_box {
  border-bottom: unset;
}

#box02 .ct_box {
  border-bottom: unset;
  padding-bottom: 0px;
}

.chu {
  float: left;
  width: 100%;
}

.anh {
  float: left;
  width: 47%;
  position: relative;
  padding-top: 10px;
}

#cv-right .ir {
  padding: 0;
  margin: 0;
  width: 100%;
}

#cv-main #cv-right {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

#cv-main #cv-right .ir #sortable {
  padding: 0;
  margin: 0;
  width: 100%;
}

#cv-right .ir #sortable .block {
  margin-top: 10px !important;
  padding: 0;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 20px;
}

#cv-right .ir #sortable #box02 {
  width: 97%;
  margin-left: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 23px;
  padding-bottom: 20px;
  background: var(--muctieu);
  background-position: left top, left bottom, left top;
  background-size: 100% 20px, 100% 20px, 100% 100%;
}

.ct_bo {
  float: left;
  width: 100%;
  padding-right: 20px;
}

#box02 .ct_bo {
  padding-right: 0;
}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
}

#cv-content #box01 {
  padding: 0;
  margin: 0;
}

#box03 .exp {
  float: left;
  width: 93%;
  padding-bottom: 8px;
  border-bottom: solid 1px #fff;
}

#cv-top {
  width: 100%;
  float: left;
}

.all {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 0px !important;
  flex-direction: row;
  background: var(--all);
  background-position: 406px top;
}

#cv-top h1 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  font-family: "Roboto";
  text-transform: uppercase;
  margin-bottom: 0;
  color: #000;
  font-weight: bold;
  width: 100%;
  float: left;
  position: relative;
  line-height: 45px;
}

#cv-top h1 div {
  /* ; */
  width: 100%;
  line-height: 45px;
  text-align: left;
}

div#box01 {
  float: left;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 28px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background: var(--tt);
  background-position: left top, left bottom;
  background-size: 100% 25px, 100% 100%;
}

#box-hvt {
  float: right;
  width: 53%;
  padding: 0;
  margin: 0;
  padding-left: 6px;
  padding-right: 10px;
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-profile-fullname::before {
  color: #000;
}

#cv-top h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  font-size: 17px;
  float: left;
  font-weight: bold;
  position: relative;
  padding: 5px 0px 15px 0px;
  color: #000;
}

#cv-profile-job {
  float: left;
  width: 100%;
  text-align: left;
}

.box-01 p {
  overflow: hidden;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-content h3 {
  float: left;
  width: 100%;
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  color: #000;
  display: flex;
  flex-direction: column-reverse;
}

#cv-content #block04 h3 {}

#cv-content #block02 h3 {
  display: flex;
  flex-direction: column-reverse;
}

#cv-content #block03 h3 {
  font-weight: unset;
  float: left;
}

#cv-content p.h3 {
  float: left;
  width: 100%;
  margin: 0px;
}

#cv-content .cvo-block {
  float: left;
  width: 100%;
}

#cv-content .ir .cvo-block {
  margin-top: 0px !important;
  padding: 0;
  padding-top: 10px;
}

#cv-content .ir #block01 {
  padding-top: 15px;
}

.ctbx {
  padding-left: 10px;
  padding-right: 10px
}

#experience-table .ctbx {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}


.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#cvo-profile-avatar-wraper .wimg {
  width: 201px;
  height: 200px;
  padding-top: 10px;
  padding-left: 10px;
  background: var(--fake);
}

#cvo-profile-avatar-wraper img {
  width: 181px;
  height: 181px;
  float: left;
  border-radius: 99em;
}

.box-01 {
  float: left;
  width: 100%;
}

#cvo-profile {
  float: left;
  display: block;
}

#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: left;
  height: 15px;
  background: var(--kn);
}

.ctbx .skill-name {
  margin: 0px;
  padding: 0px;
  color: #fff;
  float: left;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  background: var(--kinang);
  background-position: left 5px;
}

.bar-exp {
  padding: 0px;
  float: left;
  width: 296px;
  height: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  background: var(--skill);
}

.bar-value-exp {
  width: 100%
}

.bar-value-exp input[type="text"] {
  color: #fff;
  width: 95%
}

.icoweb label {
  display: block;
}

#cv-right .block {
  position: relative;
  padding: 0;
  margin: 0;
}

.ic .icoweb {
  width: calc(100% - 30px);
  text-align: left;
  padding-left: 5px;
  float: left;
  color: #000;
}

.ic {
  width: 100%;
  float: left;
  color: #000;
  padding-bottom: 10px;
}

#prof [contentEditable=true] {
  width: 100%;
  float: left;
}

#prof .icoweb,
#prof .icoweb span {
  height: auto;
  text-align: left;
  width: 100%;
  float: left;
}

div#prof {
  float: left;
  width: 100%;
}

#form-cv .icf {
  float: left;
  line-height: 20px;
  margin-bottom: 0;
  width: 26px;
  height: 20px;
  text-align: left;
  display: none;
}

.ic02 {
  float: right;
  width: 64%;
}

.ic03 {
  float: left;
  width: 35%;
}

.icf .fa {
  font-size: 20px;
  color: #000;
  margin-top: 0;
  float: left;
}

.container {
  width: 100%;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

#cv-right .block {
  margin-bottom: 10px;
  position: relative;
  padding: 0;
  padding-bottom: 20px;
}

#experience-table .ctbx {
  float: left;
  width: 100%;
  position: relative;
  margin-top: 5px !important;
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: var(--box-c);
  background-position: left top, left bottom, left top;
  background-size: 100% 9px, 100% 18px, 100% 100%;
}

#cv-right h3 {
  width: 100%;
  height: 30px;
  margin: 0;
  color: #ffffff;
  padding: 0;
  float: left;
  line-height: 30px;
  text-align: center;
  background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
  float: left;
  color: #fff;
  position: relative;
  z-index: 990;
  width: 100%;
  padding: 2px 20px 2px 0px;
  text-align: left;
}

#cv-content #block01 .head #blocktitle {
  background: var(--hocvan), var(--block);
  background-position: 3px center, left center, right center;
  background-size: 26px 18px, 59px 29px, 90px 100%;
}

#cv-content #block05 .head #blocktitle {
  background: var(--TTthem), var(--block);
  background-position: 5px center, left center, right center;
  background-size: 21px 20px, 59px 29px, 90px 100%;
}

#cv-content #block02 .head #blocktitle {
  background: var(--kinhnghiem), var(--block);
  background-position: 5px center, left center, right center;
  background-size: 21px 18px, 59px 29px, 90px 100%;
}

#cv-content #block03 .head #blocktitle {
  background: var(--hoatdong), var(--block);
  background-position: 5px center, left center, right center;
  background-size: 21px 15px, 59px 29px, 90px 100%;
}

#cv-content #block04 .head #blocktitle {
  background: var(--duan), var(--block);
  background-position: 5px center, left center, right center;
  background-size: 21px 21px, 59px 29px, 90px 100%;
}

#bg {
  background: #F58284;
  text-align: left;
}

div#experience-table {
  float: left;
  width: 100%;
  padding-right: 10px;
}

#cv-boxtitle {
  float: left;
  padding-right: 3px;
  width: max-content;
  max-width: 245px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
}


.ski {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  line-height: 30px;
  text-align: left;
}

.cum {
  margin: 0;
  width: 100%;
  line-height: 30px;
}

div#sort_block {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

.cvo-block .blockControls {
  margin: 0px;
  padding: 0px;
}

#cv-profile-job::before {
  color: #000;
}

.footer {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.watermark {
  float: left;
  width: 100%;
  color: #000;
  text-align: right;
  padding-right: 22px;
  padding-top: 2px;
  font-size: 15px;
  font-family: Courier;
}

#prof .ic:nth-child(1),
#prof .ic:nth-child(3) {
  width: 35%;
  float: left;
}

#prof .ic:nth-child(2) {
  width: 30%;
}

#cv-content .cvo-block .head {
  margin: 0;
  width: 100%;
  float: left;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 5px;
  background: var(--head);
  background-position: left center;
  background-size: 7.41% 100%, 100% 100%;
}

.ic1,
.ic2,
.ic3,
.ic4,
.ic5 {
  width: 100%;
  float: left;
  line-height: 30px;
  margin-bottom: 5px;
  padding-left: 22px;
}

.ic1 {
  width: 31%;
  margin-right: 6px;
  background: var(--date), var(--color);
  background-position: 5px 6px;
}

.ic2 {
  float: left;
  width: 19%;
  margin-right: 5px;
  background: var(--sex), var(--color);
  background-position: 5px 6px;
}

.ic3 {
  width: 47%;
  background: var(--phone), var(--color);
  background-position: 5px 6px;
}

.ic4 {
  width: 100%;
  background: var(--email), var(--color);
  background-position: 5px 7px;
}

.ic5 {
  width: 100%;
  background: var(--add), var(--color);
  background-position: 5px 5px;
}

.icoweb {
  float: right;
}

.fake_img {
  float: left;
  width: 192px;
  height: 192px;
  position: absolute;
  top: 30px;
  left: 84px;
  display: none;
}

#sortable #box02 .box-content {
  border: unset;
  color: #000;
}

.cum,
.ski {
  float: left;
  width: 100%;
  text-align: left;
  font-size: 17px;
  margin-bottom: 5px;
  background: var(--cum), var(--color-c);
  background-position: left center;
}

#boxtitle {
  width: 100%;
  float: left;
  border-left: solid 8px var(--color-b);
  padding-left: 40px;
  padding-top: 2px;
}

#box02 .cum {
  display: none;
}

#cv-content .exp-date {
  float: left;
  width: max-content;
  max-width: 370px;
  margin: 0;
  padding: 0;
  display: inline;
  color: var(--color-t);
  text-align: left;
  padding-left: 25px;
  padding-right: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  background: var(--time-c), var(--color);
  background-position: 5px center;
}

.exp-title {
  float: left;
  width: 100%;
  text-transform: uppercase;
}

#block01 .exp-title,
#block02 .exp-title,
#block04 .exp-title {
  font-weight: bold;
}

.bar-exp div p {
  color: #F44336;
  display: block;
  position: absolute;
  font-size: 20px;
  z-index: 99999;
}

#block03 h3 {
  display: none;
}

span.exp-subtitle {
  width: 100%;
}

.ifo {
  float: left;
  width: 53%;
  position: relative;
  padding-left: 6px;
  padding-right: 10px;
  padding-top: 10px;
}

#prof .icoweb {
  float: left;
  width: 100%;
  /* max-width: 100%; */
  padding-right: 8px;
  padding-left: 5px;
  text-align: left;
}

#prof .ic2 .icoweb {
  width: 100%;
}

#prof .ic1 .icoweb {
  width: 100%;
}

.icright1,
.icright2,
.icright3,
.icright4,
.icright5 {
  display: none;
}

#block05 h3,
#block05 .exp-content {
  display: none;
}

.exp-content {
  float: left;
  width: 100%;
}

#experience-table #exp1 {
  margin: 0;
  margin-top: 5px !important;
}

#block04 #exp1 {
  margin-top: 0 !important;
}

#cv-content #block05 p.h3 {
  padding: 0;
}

#cv-right .ir #sortable #box01 {
  display: none;
}

:root {
  --sex: url(sex1.png) no-repeat;
  --phone: url(phone1.png) no-repeat;
  --date: url(date1.png) no-repeat;
  --email: url(mail1.png) no-repeat;
  --add: url(add1.png) no-repeat;
  --page: url(page1.png) no-repeat;
  --fake: url(fake1.png) no-repeat;
  --tt: url(tt-t1.png) no-repeat, url(tt-b1.png) no-repeat;
  --cum: url(cum1.png) no-repeat;
  --head: url(border-h1.png) no-repeat, url(head-f1.png) no-repeat;
  --block: url(head_l1.png) no-repeat, url(head-r1.png) no-repeat;
  --hocvan: url(hocvan.png) no-repeat;
  --kinhnghiem: url(kinhnghiem.png) no-repeat;
  --hoatdong: url(hoatdong.png) no-repeat;
  --duan: url(duan.png) no-repeat;
  --TTthem: url(TTthem.png) no-repeat;
  --muctieu: url(muctieu_t1.png) no-repeat, url(muctieu_b1.png) no-repeat, url(muctieu_f1.png) no-repeat;
  --kinang: url(kinang.png) no-repeat;
  --skill: url(skill.png) no-repeat;
  --kn: url(kn1.png) no-repeat;
  --box-c: url(box-ct1.png) no-repeat, url(box-cb1.png) no-repeat, url(box-cf1.png) repeat-y;
  --time-c: url(time-c1.png) no-repeat;
  --color: #9fd3c7;
  --color-c: #58867c;
  --color-b: #9fd3c7;
  --color-t: #456079;
}