#cv-top {
    background: url(hd3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#cv-top h1 {
    color: #006600;
}
#cv-top h2 {
    color: #fff;
    background: #006600;
}
.sum {
    background: #006600;
}
#sortable .cvo-block {
    background: #006600;
}
.bar-exp div {
    background-color: #fff;
}
.bar-exp {
    background: #999999;
    border: 1px solid #999999;
}
#cvo-profile .box-dm {
    background: url(avata3.png)no-repeat;
    background-size: 100% 100%;
}
.mau_nen {
    background: url(main3.png)no-repeat;
    background-size: 100% 100%;
}