.ctbx{
	border-left: solid 3px #e65245;
}

#cvo-profile-avatar-wraper .wimg{ 
    border: solid 4px #e65245;
}

#form-cv{
	background:#e65245;
}

#cv-right{
	background:#e65245;
}

#cv-top{    
    background: #374858;
}
#cv-top h1{
    color: #ffffff;
}

#cv-top h2{
    color: #ffffff;
}