#cv-right .cvo-block{
	background:#3b3d3e;
}


#cv-top h1 span{
	color: #3b3d3e;
}

#cv-top h2{
	color: #3b3d3e;
}
#cv-content .head span{
	background:  #3b3d3e;
}
#cv-right .h3 span{
	color: #3b3d3e;
}
#cvo-profile-avatar-wraper #cvo-profile-avatar{
	border:solid 3px #3b3d3e; 
}