#cv-right .cvo-block{
	background:#4da1b5;
}


#cv-top h1 span{
	color: #4da1b5;
}

#cv-top h2{
	color: #4da1b5;
}
#cv-content .head span{
	background:  #4da1b5;
}
#cv-right .h3 span{
	color: #4da1b5;
}
#cvo-profile-avatar-wraper #cvo-profile-avatar{
	border:solid 3px #4da1b5; 
}