#form-cv {
	line-height: 21px;
}

#cv-right .ir {
	line-height: 21px;
}

#cv-top h1,
#cv-top h1 span {
	line-height: 43px;
}

#cv-content .cvo-block .head {
	line-height: 28px;
}

.exp-title {
	line-height: 23px;
}