#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #6c6563;
}
.watermark {
  float: left;
  width: 100%;
  height: 22px;
  color: #999;
  text-align: right;
  padding-right: 22px;
  font-size: 15px;
  font-family: Courier;
  background: #fff;
}
/*#sortable .cvo-block {
    margin-bottom: 15px;
    margin-top: 8px;
    border: 1px solid #24400e;
    padding: 0;
    padding-bottom: 15px;
}*/

#sortable .cvo-block .box-content {
    margin: 0;
    width: 100%;/*
    margin-top: 25px;*/
    border-radius: 10px;
    color: #6c6563;
    margin-left: 0px;
    padding-bottom: 20px;
}
.exp.content-edit.skill {
    float: left;
}


#cvo-profile {
  display: block;
}
#cv-content {
    width: 48%;
    text-align: justify;
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
}

#cv-profile-phone:before{
  color: #6c6563;
}
#cv-profile-email:before{
  color: #6c6563;
}
#cv-profile-address:before{
  color: #6c6563;
}
#cv-profile-sex:before{
  color: #6c6563;
}
#cv-profile-birthday:before{
  color: #6c6563;
}
#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    width: 40%;
    margin-left: 30px;
}
.chu{
  float: right;
  width: 32%;
  padding-top: 55px;
}
.anh {
    float: left;
    width: 35%;
    padding-left: 249px;
}
#cv-right .ir {
  padding: 0;
  margin: 0;
}
#cv-main #cv-right{
  padding: 0;
  margin: 0;

  margin-top: -235px;
}
#cv-main #cv-right .ir #sortable{
  padding: 0;
  margin: 0;
}
#cv-right .ir #sortable .block{
  padding: 0;
  margin: 0;
  float:left;/*
  width: 100%;*/
}
div#box02 {
    width: 57%;/*
    margin-top: -10px;*/
}
p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    padding-bottom: 10px;
    float:left;
}
#cv-content #box01{
  /*background:#6c6563;*/
  padding: 0;
  margin: 0;
}
#box03 .exp{
  float: left;/*
  padding-top: 20px;*/
  width: 100%;
  padding-bottom: 20px;
  margin-left: 0px;
}
#cv-top {
    width: 100%;
    height: 392px;
    background-image: url(hd1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all{
  float: left;
  clear: both;
  background: url(main1.png)no-repeat;
  background-size: 100% 100%;
  width: 100%;
}
#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-family: "Roboto";
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #6c6563;
    font-weight: bold;
    text-align: left;
    width: 100%;
    float: left;
  }
#cv-top h1 span {
    letter-spacing: 2px;
}
div#box01 {
    float: right;
    width: 100%;
    padding-top: 15px;/*
    border-top: 1px solid #fff;*/
}
#box-hvt {
    float: right;
    width: 30%;
    padding: 0;
    margin: 0;
    padding-left: 0px;
    padding-top: 3px;/*
    margin-right: 35px;*/
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}
#cv-profile-fullname::before{
  color: #6c6563;
}
#cv-top h2 {
    margin: 0;
    padding: 0;
    text-transform: unset;
    width: 100%;
    font-size: 20px;
    color: #6c6563;
    float: left;
    text-align: center;
}

.box-01 p {
  overflow: hidden;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-right h3, #cv-content .head {
  font-size: 20px;
  text-transform: uppercase;
  color: #6c6563;
  font-weight: bold;
  text-align: left;
  line-height: 20px;
  padding-top: 0px;
}
#cv-content h3 {
  font-weight: unset;
    font-size: 14px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    color: #6c6563;
}


#cv-content #block02 .exp-content{
  margin: 0;
  padding: 0;
}
#cv-content #block03 h3{
  font-weight: unset;
}
#cv-content .exp-date {
  float: none;
}

#cv-content #block01 .exp-date {
  display: none;
}

#cv-content #block03 .exp-date {
  display: none;
}

#cv-content #block04 .exp-date {
  display: none;
}

#cv-content #block05 .exp-date {
  display: none;
}

#cv-content p.h3 {
  margin: 0px;
  padding: 0px;
}

#cv-content .cvo-block {
    padding: 0 !important;
    float: left;
    width: 100%;
}
#cv-content .ir .cvo-block{
  padding: 0;
}
.ctbx {
  padding-left: 10px;
  padding-right: 10px
}


#cv-content span {
  display: inline-block;
  z-index: 9999;
}
#cv-content #block02 h3 {
  font-weight: bold;
  color: #6c6563;
  float: left;
  width: 100%;
  text-transform: unset;
  font-size: 15px;
}
#block02 #experience-table #exp2{
}
.ctbx {
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}


.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    padding-top: 80px;/*
    padding-left: 214px;*/
}

#cvo-profile-avatar-wraper .wimg {
    width: 250px;
    height: 250px;
    float: left;
    display: unset !important;/*
    border:1px solid #6c6563;*/
}
#cvo-profile-avatar-wraper img {
    width: 250px;
    height: 250px;
    float: none;
    border-radius: 50%;
}
#cvo-profile-avatar{
    width: 250px;
    height: 250px;
}
.box-01 {
    float: left;
    width: 100%;
    height: 287px;
}
#cvo-profile {
    display: block;
    float: left;
    width: 100%;
    height: 287px;
}
#line-seperate {
  height: 25px;
}

.bar-exp div {
    float: left;
    height: 11px;
    background: #6c6563;
    margin-top: 0px;/*
    border-radius:10px;*/
}
.ctbx .skill-name {
    margin: 0px;
    padding: 0px;
    color: #6c6563;
    float: left;
    width: 100%;
}

.bar-exp {
    background: #dcbeb6;
    height: 11px;
    float: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;/*
    border: 1px solid #0d3b4f;*/
    float: right;
    width: 100%;/*
    border-radius:10px;*/
}

.bar-value-exp {
  width: 100%
}

.bar-value-exp input[type="text"] {
  color: #6c6563;
  width: 95%
}

.icoweb label {
  display: block;
}

/*#sortable .icoweb {
  width: 87%;
  height: 30px;
  line-height: 30px;
  float: right;
  padding-left: 5px;
  margin-bottom: 0;
  color: #fff;
}*/
#cv-right .block {
    position: relative !important;
    padding: 0;
    margin: 0;
}

.ic .icoweb {
    width: 77%;
    text-align: left;
    padding-left: 0px;
    float: left;
    color: #6c6563;
}
.ic {
  width: 100%;
  float: left;
  color: #6c6563;
  padding-bottom: 5px;
}

#prof span {
}
#prof [contentEditable=true] {
    width: 100%;
    float: left;
}
#prof .icoweb, #prof .icoweb span {
    height: auto;
}
div#prof {
    float: right;
    width: 100%;/*
    padding: 58px 0px 15px 0px;*/
}

#form-cv .icf {
  float: left;
  line-height: 20px;
  margin-bottom: 0;
  width: 26px;
  height: 20px;
  text-align: left;
}
.ic02 .ic{
    width: 50%;
    line-height: 15px;
}
.ic03 .ic {
    width: 25%;
}
.ic02 {
    float: right;
    width: 100%;
}
.ic03 {
  float: left;
  width: 100%;
}
.icf .fa {
    font-size: 20px;
    color: #6c6563;
    margin-top: 0;
    float: left;
}

.container {
  width: 100%;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}
#cv-right .block {
    margin-bottom: 10px;
    position: relative;
    padding: 0;
    padding-bottom: 20px;
}
#cv-content .head {
    padding: 0;
    margin: 0;
    height: 44px;
    text-align: left;
    line-height: 44px;
    width: 100%;
    /*float: left;*//*
    background: #5a7e8e;
    background-size: 100% 100%;*/
}
#experience-table .ctbx {
}

.ifo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}


#cv-right h3 {
    width: 100%;
    height: 30px;
    margin: 0;
    color: #ffffff;
    padding: 0;
    float: left;
    line-height: 30px;
    text-align: center;
    background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #6c6563;
    text-align: left;
    float: left;/*
    padding-left: 10px;*/
}
#experience-table #exp2{
  margin-top: 10px;
}
#exp1 .exp-content{
}
/*#icon{
    width: 30px;
    height: 30px;
    background: url(icon1.png)no-repeat;
    float: left;
    border-bottom: 2px solid #fff;
}*/
#bg{
	background: #F58284;
	text-align: left;
}

/*#prof {
    padding: 5px 35px;
    width: 90%;
    background: url(bg-it.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position-y: center;
}*/
/*.cumicc1 {
    width: 41px;
    height: 41px;
    float: left;
    background: url(ic_07.png);
    background-position: center;
    background-repeat: no-repeat;
}*/
/* .cumicc2 {
    width: 46px;
   height: 44px;
    float: left;
}
.cumicc3 {
    width: 46px;
   height: 44px;
    float: left;
}
.cumicc4 {
    width: 46px;
   height: 44px;
    float: left;
}
.cumicc5 {
    width: 46px;
   height: 44px;
    float: left;
}
.cumicc6 {
    width: 46px;
   height: 44px;
    float: left;
}
.cumicc7 {
    width: 46px;
   height: 44px;
    float: left;
} */
div#experience-table {
    margin: 0px;
    width: 88%;/*
    padding-top: 20px;*/
    padding-bottom: 10px;
    float: left;
    color: #6c6563;/*
    padding-left: 45px;*/
}


/*.tt-box1 {
    padding: 0;
    margin: 0 auto;
    height: 35px;
    width: 100%;
    line-height: 35px;
    text-align: left;
    background: #fce4cf;
}*/
div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #6c6563;
    float: left;
    border-bottom: 2px solid #fff;
    height: 35px;
}

.ski {
    padding: 0;
    margin: 0;
    height: 44px;
    width: 88%;
    line-height: 44px;
    text-align: left;
}
.cum {
    padding: 0;
    margin: 0;
    height: 44px;
    width: 88%;
    line-height: 44px;
    text-align: left;
}
/*.icright {
    width: 40px;
    height: 40px;
    float: left;
    background: url(ic_03.png);
    background-position: center;
    background-repeat: no-repeat;
  }*/
/* .icright1 {
    width: 45px;
    height:44px;
    float: left;
    background: url(ic_01.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
    display: none;
  }
.icright2 {
    width: 45px;
    height:44px;
    float: left;
    background: url(ic_02.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;display: none;
}
.icright3 {
    width: 45px;
    height:44px;
    float: left;
    background: url(ic_03.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;display: none;
}
.icright4 {
    width: 45px;
    height:44px;
    float: left;
    background: url(ic_04.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;display: none;
}
.icright5 {
    width: 45px;
    height:44px;
    float: left;
    background: url(ic_05.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;display: none;
} */
div#sort_block {
    padding: 0;
    margin: 0;
}
.cvo-block .blockControls{
  margin: 0px;
  padding: 0px;
}
#cv-profile-job::before{
  color: #6c6563;
}
.box-dm{
  width: 265px;
    height: 265px;
    clear: both;
    z-index: 1;
    padding: 0;
    margin: 0;
    display: table;
    position: absolute;
    float: left;
    background: url(13.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -252px;
    margin-left: -2px;
    top: -900px;
}
.footer{
  /* background:url(footer_5a7e8e.png)no-repeat;
  background-size: 100% 100%;
  height: 300px;
  float: left;
  width: 100%; */
}

div#box03{
    width: 100%;
}
div#box04{
    width: 100%;
}
div#box05{
    width: 100%;
}
div#box06{
    width: 100%;
}
div#box07{
    width: 100%;
}
