#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #484848;
    background: url(main.png) no-repeat;
    background-size: 100% 100%;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    background: #fff;
}

#sortable .cvo-block {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-right: 0;
    clear: both;
}

#sortable .cvo-block .box-content {
    width: 95%;
    padding: 8px 0 10px 0px;
    margin: 0;
    text-align: justify;
}

#cvo-profile {
    display: block;
}

#cv-content {
    width: 50.7%;
    float: left;
    padding-right: 10px;
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 2px;
    color: #000;
    margin-top: 45px;
}

#cv-content .ir {
    padding: 0;
    color: #000;
    position: relative;
    transition: none 0s ease 0s;
    cursor: move;
}

#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    width: 45%;
    padding-top: 45px;
    color: #000;
    margin-left: 33px;
}

p.skill-name input {
    color: #fff !important;
}

#cv-right #box03 .ctbx {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    padding-top: 10px;
}

.exp {
    width: 95%;
    padding: 0px 10px 15px 0px;
}

#cv-top {
    width: 100%;
    height: 227px;
    background: url(hd1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
}

.all {
    float: left;
    clear: both;
    width: 100%;
    background: url(main1.png)no-repeat;
    background-size: 100% 100%;
}

#cv-top h1 {
    font-family: "Roboto";
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    margin-top: 0;
    text-align: center;
    font-size: 14pt;
    letter-spacing: 5px;
}

#cv-profile-job {
    color: #fff;
    font-size: 30px;
    width: 100%;
}

#box-hvt {
    width: 100%;
    float: left;
    height: 90px;
    padding-top: 15px;
    color: #ffffff;
    text-align: center;
}

#cv-right #box01 {
    margin-top: 0;
}

#sortable #box01 #prof {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-top: 40px;
}

#box01 ul {
    list-style: none;
    padding-left: 20px
}

#cv-right .cvo-block .head div {
    color: #000;
}

.innertext {
    margin: 0px;
    padding: 0px;
    width: 29%;
    float: left;
    color: black;
}

#cv-top h2 {
    /* vị trí pháp chế trong cv*/
    color: #000;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    font-family: "Roboto";
    /* font-weight: bold;*/
    /*padding-left: 82px;*/
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    width: 300px;
    margin: auto;
    font-size: 18px;
    text-transform: unset;
    color: #081b0d;
    font-weight: bold;
    text-align: left;
    margin-left: 0px;
    text-transform: uppercase;
}

#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: unset;
    padding: 0px;
    color: #081b0d;
}

#cv-content #block04 h3 {
    font-weight: bold;
}

#cv-content .exp-date {
    float: none;
}

#cv-content #block01 .exp-date {
    display: none;
}

#cv-content #block03 .exp-date {
    display: none;
}

#cv-content #block04 .exp-date {
    display: none;
}

#cv-content #block05 .exp-date {
    display: none;
}

#cv-content p.h3 {
    margin: 0px;
    padding: 0px;
}

#cv-content .cvo-block {
    /*padding-top: 20px;*/
    /*padding-left: 25px;*/
    margin: 0;
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

#cv-content #block02 h3 {
    font-weight: bold;
}

.ctbx {
    margin-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    width: 100%;
    /* height: 216px; */
    background-size: 100% 100%;
    padding-top: 1px;
}

#cvo-profile-avatar-wraper .wimg {
    width: 335px;
    height: 335px;
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
    margin-top: 105px;
    margin-left: 227px;
    border-radius: 50%;
}

#cvo-profile-avatar-wraper img {
    width: 335px;
    /* height: 335px; */
    border-radius: 50%;
}

#cvo-profile-avatar {
    width: 335px;
    height: 320px;
}

.box-dm {
    clear: both;
    z-index: 1;
    margin-top: -336px;
    margin-left: 215px;
    position: absolute;
    width: 365px;
    height: 323px;
    float: left;
    background: url(avata1.png)no-repeat;
    background-size: 100% 100%;
    top: -700px;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 10px;
    background: #ffcc99;
    margin-top: 0px;
}

.ctbx .skill-name {
    margin: 0px;
    padding: 0px;
}

.bar-exp {
    background: #fff;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border-radius: 5px;
    border: #666666 1px solid;
}

.bar-value-exp {
    width: 100%
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
}

.icoweb label {
    display: block;
}

#sortable .icoweb {
    width: 87%;
    height: 30px;
    line-height: 30px;
    float: right;
    padding-left: 5px;
    margin-bottom: 0
}

#sortable .ic {
    margin-bottom: 0px;
    padding: 3px 0px;
    height: auto
}

.ic {
    float: left;
    width: 100%
}

#form-cv .icf {
    float: left;
    border-radius: 5px;
    line-height: 30px;
    width: 80px;
}

.ic .icoweb {
    float: left
}

.icf .fa {
    font-size: 14px;
    color: #000;
    margin-top: 0;
    float: none
}

.footer {
    float: left;
    width: 100%;
    /* background: #52b3cc; */
    height: 30px;
}

.container {
    width: 100%;
}

#cv-content .head {
    width: 100%;
    line-height: 35px;
    margin: 0;
    padding: 0;
}

#experience-table .ctbx {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#box01 h3 {
    width: 100%;
    margin: 0;
    height: 36px;
    background: url(icon.png)no-repeat;
    background-size: 17% 100%;
    background-position: 80px -1px;
    padding: 0px;
    color: #000;
    line-height: 36px;
    padding-bottom: 10px;
    margin-top: 8px;
}

#box02 h3 {
    width: 100%;
    margin: 0;
    height: 36px;
    background: url(icon.png)no-repeat;
    background-size: 17% 100%;
    background-position: 80px -1px;
    padding: 0px;
    color: #000;
    line-height: 36px;
    padding-bottom: 10px;
    margin-top: 8px;
}

#box03 .ski {
    width: 100%;
    margin: 0;
    height: 36px;
    background: url(icon.png)no-repeat;
    background-size: 17% 100%;
    background-position: 60px -1px;
    padding: 0px;
    color: #000;
    line-height: 36px;
    padding-bottom: 10px;
    margin-top: 8px;
}

#box04 .cum {
    width: 100%;
    margin: 0;
    height: 36px;
    background: url(icon.png)no-repeat;
    background-size: 17% 100%;
    background-position: 60px -1px;
    padding: 0px;
    color: #000;
    line-height: 36px;
    padding-bottom: 10px;
    margin-top: 8px;
}

#box05 .cum {
    width: 100%;
    margin: 0;
    height: 36px;
    background: url(icon.png)no-repeat;
    background-size: 17% 100%;
    background-position: 60px -1px;
    padding: 0px;
    color: #000;
    line-height: 36px;
    padding-bottom: 10px;
    margin-top: 8px;
}

#box06 .cum {
    width: 100%;
    margin: 0;
    height: 36px;
    background: url(icon.png)no-repeat;
    background-size: 17% 100%;
    background-position: 60px -1px;
    padding: 0px;
    color: #000;
    line-height: 36px;
    padding-bottom: 10px;
    margin-top: 8px;
}

#box07 .cum {
    width: 100%;
    margin: 0;
    height: 36px;
    background: url(icon.png)no-repeat;
    background-size: 17% 100%;
    background-position: 60px -1px;
    padding: 0px;
    color: #000;
    line-height: 36px;
    padding-bottom: 10px;
    margin-top: 8px;
}

#block01 .head {
    width: 100%;
    line-height: 35px;
    margin: 0;
    background: url(icon.png)no-repeat;
    background-size: 17% 100%;
    background-position: 80px -1px;
    padding: 0;
}

#block02 .head {
    width: 100%;
    line-height: 35px;
    margin: 0;
    background: url(icon.png)no-repeat;
    background-size: 17% 100%;
    background-position: 80px -1px;
    padding: 0;
}

#block03 .head {
    width: 100%;
    line-height: 35px;
    margin: 0;
    background: url(icon.png)no-repeat;
    background-size: 17% 100%;
    background-position: 60px -1px;
    padding: 0;
}

#block04 .head {
    width: 100%;
    line-height: 35px;
    margin: 0;
    background: url(icon.png)no-repeat;
    background-size: 17% 100%;
    background-position: 80px -1px;
    padding: 0;
}

#block05 .head {
    width: 100%;
    line-height: 35px;
    margin: 0;
    background: url(icon.png)no-repeat;
    background-size: 17% 100%;
    background-position: 80px -1px;
    padding: 0;
}

#cv-right {
    color: #000;
}


/*   #sortable {
    padding-top: 40px;
}*/

#cv-content #block01 #experience-table {
    clear: both;
}

#cv-top h1 span {
    /* họ tên*/
    /*background: url("chan.png");*/
    font-size: 36px;
    /*padding-top: 15px;*/
    /*background-repeat: no-repeat;
background-size: 100% auto;
background-position: center bottom;*/
    /*padding-bottom: 10px;*/
    font-weight: bold;
    /*border-bottom: 3px solid #03c79b;*/
}


/* Fix width */

#prof .icoweb,
#prof .icoweb span {
    width: 240px;
    float: left;
    color: #000;
}


/*    #cv-top h1,
#cv-top h2 {
    margin-left: 43px
}*/

.exp-title {
    color: #000;
}

#experience-table {
    color: black;
    /*border-left: 1px solid #03c79b;*/
}

#cvo-experience-blocktitle {
    /* background: url(nan.png); */
    /* background-repeat: no-repeat;
background-size: 100% 100%; */
    height: 35px;
    color: #000;
    width: 68%;
    text-transform: uppercase;
}

#cv-content #block01 {
    /*  background: url(bd.png)no-repeat;
   background-size: 3% 100%; */
    padding-left: 25px;
    margin-left: -7px;
    /* background-position: left; */
    /* background conten right */
}

#cv-content #block02,
#cv-content #block03,
#cv-content #block04 {
    padding-left: 25px;
}

#cv-content #block05 {
    padding-left: 25px;
    margin-left: -7px;
}

#sortable #box01 h3 {
    background: url(icon.png)no-repeat;
    color: #03c79b;
    padding-top: 3px;
    line-height: 30px;
}

#cv-content #block01 .head {
    /* content 1*/
    color: #03c79b;
}

#cv-content #block01 .exp-title,
#cv-content #block01 .exp-content,
#cv-content #block01 .exp-subtitle {
    /*color: #000;*/
}

#cv-right .block {
    position: relative;
}

#box-hvt>#cv-top h2 {
    float: left;
}

#header {
    display: none;
    /* 
background: url(cat3.png);
background-attachment: inherit;
background-position: bottom!important;
background-repeat: no-repeat!important; */
    max-width: inherit;
    height: 19px;
    width: 104%;
}

#cv-content #box01 {
    margin-left: 33px;
    margin-bottom: -14px;
}

.head .id-1 {
    width: 12%;
    height: 35px;
    float: right;
}

.head .id-2 {
    width: 10%;
    height: 35px;
    float: right;
}

.head .id-3 {
    width: 7%;
    height: 35px;
    float: right;
}

.head .id-4 {
    width: 7%;
    height: 35px;
    float: right;
}

.head .id-5 {
    width: 10%;
    height: 35px;
    float: right;
}

#box01 .bt-1 {
    width: 20%;
    height: 42px;
    float: left;
}

.cum h3 .bt-2 {
    width: 20%;
    height: 42px;
    float: left;
    /* background: url(icon6.png)no-repeat; */
}

.ski h3 .bt-3 {
    width: 20%;
    height: 48px;
    float: left;
    /* background: url(icon12.png)no-repeat; */
}

.cum h3 .bt-4 {
    width: 20%;
    height: 42px;
    float: left;
    /* background: url(icon8.png)no-repeat; */
}

.cum h3 .bt-5 {
    width: 20%;
    height: 38px;
    float: left;
    /* background: url(icon9.png)no-repeat; */
}

.cum h3 .bt-6 {
    width: 20%;
    height: 35px;
    float: left;
    /* background: url(icon10.png)no-repeat; */
}

.cum h3 .bt-7 {
    width: 20%;
    height: 50px;
    float: left;
    /* background: url(icon11.png)no-repeat; */
}

#box03 .ski .cv-boxtitle {
    padding-top: 10px;
}

#box01 #prof {
    /*border-left: 1px solid #03c79b;*/
}

.ir #block05 {
    /* 
background: url(bd.png)no-repeat;
background-position: left; */
    background-size: 3% 100%;
}