#cv-top {
    width: 100%;
    background: url(hd1.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}
#box02 .cum {
    padding: 0;
    margin: 0 auto;
    height: 52px;
    width: 100%;
    float: right;
    line-height: 35px;
    background: url(nen1.png)no-repeat;
    background-size: 100% 100%;
    background-position: 0px 5px;
    margin-right: -10px;
}
#cv-top h2 {
    margin: 0;
    padding: 8px 0;
    text-transform: uppercase;
    width: 90%;
    font-weight: unset;
    font-size: 18px;
    color: #fff;
    text-align: center;
    float: left;
    background: #df3f4b;
    border-radius: 15px;
    margin-top: 25px;
}
#box05, #box06, #box07 {
    background: #df3f4b;
}
#block01 .head{
    background: url(ic_03.jpg)no-repeat;
   background-position: left;

}
#block02 .head{
 background: url(ic_06.jpg)no-repeat;
 background-position: left;
}
#block03 .head{
 background: url(ic_08.jpg)no-repeat;
 background-position: left;
 margin-left: 0px;
}
#block04 .head{
 background: url(ic_10.jpg)no-repeat;
 background-position: left;
 margin-left: 0px;
}
#block05 .head{
 background: url(ic_12.jpg)no-repeat;
 background-position: left;
}
.bar-exp div {
    float: left;
    height: 16px;
    background: url(skill_2.png) no-repeat;
}
#box03 #cv-boxtitle {
    padding: 0;
    margin: 0 auto;
    width: 30%;
    line-height: 35px;
    text-align: center;
    border-bottom: solid 3px #df3f4b;
}
#box04 #cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    width: 43%;
    border-bottom: solid 3px #df3f4b;
    margin-top: 13px;
}