/* 2 */

:root {
    --sex: url(sex2.png) no-repeat;
    --phone: url(phone2.png) no-repeat;
    --date: url(date2.png) no-repeat;
    --email: url(mail2.png) no-repeat;
    --add: url(add2.png) no-repeat;
    --page: url(page-2.png) no-repeat;
    --skill: url(skill2.png) no-repeat;
    --kn: url(kn2.png) no-repeat;
    --main: url(main2.png) no-repeat;
    --top: url(top-2.png) no-repeat;
    --tt-main: url(tt-main2.png) no-repeat;
    --ngang: url(ngang2.png) no-repeat;
    --color: #c8e4b2;
    --color-b: #7eaa92;
    --color-tx: #7eaa92;
    --color-tt: #c8e4b2;
    --color-m: #eef7e8;
  }