#form-cv{
	width: 100%;
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#070000;	
	background-color: #fafafa;
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 10px;
	margin-top: 15px;	
}

#sortable .icoweb i.fa{
	float: left;
}
#cv-main{
	display: table;
	width: 100%;
	margin-top: 25px;
	background-color: #faf7f7;
}
#cv-top{		
    text-align: center;    
    background-color: #c6c5b3;

}
#cvo-profile{	
	display: block;
}
#cv-content{
	width: 55.99%;
	float: right;
	position: relative;	
	background: #fafafa;
}
#cv-right{
	width: 44%;
	padding-top: 35px;
	float: left;	
	position: relative;	
	background:#f5f0c4;
	padding-bottom: 40px;
}
#cv-right .ir{
	padding: 30px 10px 0px 10px;
}
p.skill-name input{
	color: #070000!important;
}

#cv-right .cvo-block span{
	color: #070000;
}

#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}

#cv-top h1{
	font-size: 32px;
    padding: 0 10px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;    
    margin-left: 0px;
    color: #424242;
    font-weight: bold;
    margin-top: 0;
    letter-spacing: 4px;
}

#cv-top h1 span{
	width: 495px;
}

#box-hvt{
	display: inline-block;	
}

#cv-top h1 span{	
}

#box-hvt2 h2{
	font-size: 18px;
    text-align:right;
    margin-bottom: 0; 
    color: #442c2c;
    font-weight: bold;
    border-bottom: solid 4px #0a0f3b;
    letter-spacing: 3px;
    padding-bottom: 8px;
}
.box-01 p{		
    overflow: hidden;
}

#cv-content .ir{
	margin:0 15px;
	float: left;
	width: 90%;
}
#cv-content p{
	margin-bottom: 5px;
	color: #5c715e;
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 18px;    
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

#cv-content .head{
	height: 30px;
	line-height: 30px;
	color: #424242;
	padding-left: 10px;
	text-align: right;
	background-image: url(line.png);
	background-position: bottom center;
	background-repeat: repeat-x;
	padding-bottom: 8px;
}


#cv-right .h3{
	height: 45px;
	text-align: center;
	width: 100%;
}

#cv-right .h3 span{
	margin: 3px 0px;
	color: #000000;
	line-height: 43px;
}
#cv-content h3{	
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
}
.ctbx{
	padding-left: 10px;
	padding-right: 10px
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}

#cv-right .h3:first-child{
	margin-top: 0
}
.ctbx{
	margin-bottom: 10px;
	position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#box-hvt{
	float: right;
	width:65%;
	padding-top: 60px;
}
#box-hvt2{
    margin: 0 15px;
    float: left;
    width: 90%;
    padding-bottom: 30px;
}
.clr{
	padding: 0px;
	margin: 0px;
}
#cvo-profile-avatar-wraper{
    float: left;   
    width: 34% 
}
#cvo-profile-avatar-wraper .wimg{
	width:210px;    	
	margin:auto;
    padding:4px;
    position: relative;
    margin-bottom: -70px;
    z-index: 1;
    padding-top: 20px;
    float: right;
}
#cvo-profile-avatar-wraper img{
	width: 210px;  	
  	height: 210px;
  	float:none;  
  	display: inline-block;
}
#line-seperate {
    height: 25px;    
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #39a289;
    
}
.bar-exp {
  	width: 100%;
  	background: #5e5d5a;
  	height: 8px;
  	float: right;
  	margin-bottom: 12px;
}      
.icoweb label{
	display: block;
	color:#627e88;
}
.box-info{
	margin:0 15px;
	float: left;
	width: 90%;
}
.box-info .icoweb span{
	color: #faf7f7;
	border-left: solid 7px #0a0f3b;
	border-right: solid 18px #0a0f3b;
	background-color: #0a0f3b;
	width: 310px;
}
.icoweb{	
	float: left;
	padding-left: 2px;
	margin-bottom: 0
}
.ic{
	float: right;
	width: 100%;
	margin-bottom: 8px;
	line-height: 22px;
}
#form-cv .icf{
	float: right;		
	line-height: 22px;
	margin-bottom: 0;
	font-size:12px;
	background: #0a0f3b;
	width: 22px;	
	text-align: center;
	margin-left: 10px;
}
#form-cv .ic .icoweb{
	float: right;
	margin-bottom: 0;
	padding-left: 5px;
	width: 340px;
}
.icf .fa{
	font-size: 12px;	
	color:#fff;	
	margin-top: 0;	
	float: none
}

.bar-value-exp input[type="text"]{
	color: #000;
}
.watermark {
    float: left;
    width: 100%;
    /* height: 22px; */
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}