#form-cv{	
	font-size: 16px
}

#cv-right .h3{
	font-size: 20px
}
#cv-content h3{
	font-size: 16px
}
#cv-top h2{
	font-size: 18px
}
#cv-top h1{
	font-size:34px;
}
#cv-right .h3, #cv-content .head{
	font-size: 20px;}