#form-cv{	
	font-size: 12px
}


#cv-right .h3{
	font-size: 16px
}
#cv-content h3{
	font-size: 12px
}
#cv-top h2{
	font-size: 14px
}
#cv-top h1{
	font-size:30px;
}
#cv-right .h3, #cv-content .head{
	font-size: 16px;}