#prof .ic1 .icf {
    width: 30px;
    height: 30px;
    background: url(date1.png)no-repeat;
    background-position: left center;
    float: left;
}
#prof .ic2 .icf {
    width: 30px;
    height: 30px;
    background: url(sex1.png)no-repeat;
    background-position: left center;
    float: left;
}
#prof .ic3 .icf {
    width: 30px;
    height: 30px;
    background: url(phone1.png)no-repeat;
    background-position: left center;
    float: left;
}
#prof .ic4 .icf {
    width: 30px;
    height: 30px;
    background: url(email1.png)no-repeat;
    background-position: left center;
    float: left;
}
#prof .ic5 .icf {
    width: 30px;
    height: 30px;
    background: url(add1.png)no-repeat;
    background-position: left center;
    float: left;
}