#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.ic13 {
    float: left;
    width: 100%;
}

.cv_page {
  float: left;
  width: 100%;
  padding-top: 0px;
  background: var(--page);
  background-position: left bottom, left top;
  background-size: 100% 80px, 100% 100%;
}

#sortable .cvo-block .box-content {
  float: left;
  margin: 0;
  width: 100%;
  color: #000;
  padding: 0;
  text-align: justify;
  margin-top: 0 !important;
}

#sortable #box02 .box-content {
}

.exp.content-edit.skill {
  float: left;
}


#cvo-profile {
  display: block;
}

#cv-content {
  width: 53%;
  text-align: justify;
  float: left;
  position: relative;
  z-index: 2;
  margin: 0;
  padding-left: 25px;
  padding-right: 20px;
}

#blocktitle {
  width: 100%;
  float: left;
  color: var(--color);
}

#cv-profile-sex:before {
  color: #fff;
}

#cv-profile-birthday:before {
  color: #fff;
}

#cv-main {
  text-align: justify;
  padding: 0;
  float: left;
  width: 47%;
  margin-top: 0px !important;
  padding-left: 20px;
}

.chu {
  float: left;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 40px;
  background: var(--chu);
  background-position: left top;
  background-size: 100% 100%;
}

.anh {
  float: left;
  width: 37%;
  position: relative;
  padding-left: 39px;
  padding-top: 35px;
}

#cv-right .ir {
  padding: 0;
  margin: 0;
  width: 100%;
}

#cv-main #cv-right {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

#cv-main #cv-right .ir #sortable {
  padding: 0;
  margin: 0;
  width: 100%;
}

#cv-right .ir #sortable .block {
  margin-top: 0px !important;
  padding: 0;
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0;
}

#cv-right .ir #sortable #box02 {
}

.ct_bo {
  float: left;
  width: 100%;
  padding-top: 5px;
  padding-right: 20px;
}

#box02 .ct_bo {
}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
}

#cv-content #box01 {
  padding: 0;
  margin: 0;
}

#box03 .exp {
  float: left;
  width: 100%;
  margin-top: 5px;
  padding-right: 20px;
}

#cv-top {
  width: 100%;
  float: left;
  padding-bottom: 10px;
  background: var(--top);
  background-position: left top;
}

.all {
  padding-top: 0 !important;
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  display: flex;
  background: var(--doc);
  background-position: 370px 10px;
  background-size: 5px 100%;
}

#cv-top h1 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  font-family: "Roboto";
  text-transform: uppercase;
  margin-bottom: 0;
  color: #000;
  font-weight: bold;
  width: 100%;
  float: left;
  position: relative;
  line-height: 45px;
}

#cv-top h1 div {
  width: 100%;
  line-height: 45px;
  text-align: left;
  padding-bottom: 3px;
  background: var(--name);
  background-position: left bottom;
}

div#box01 {
  float: left;
  width: 100%;
  padding-bottom: 8px;
}

#box-hvt {
  float: right;
  width: 63%;
  padding: 0;
  margin: 0;
  margin-bottom: 0px;
  padding-right: 30px;
  padding-left: 15px;
  background: var(--ngang);
  background-position: 30px top;
  background-size: 100% 1px;
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-profile-fullname::before {
  color: #000;
}

#cv-top h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  font-size: 20px;
  float: left;
  padding-top: 3px;
  font-weight: bold;
  color: var(--color);
}

.fake-j {
  float: left;
  width: 34px;
  height: 33px;
  position: absolute;
  top: -15px;
  left: -15px;
  display: none;
}

#cv-profile-job {
  float: left;
  width: 100%;
  min-width: 100px;
  text-align: left;
  padding-right: 20px;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: bold;
}

.box-01 p {
  overflow: hidden;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-content h3 {
  float: left;
  width: 100%;
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  color: #000;
  display: flex;
  flex-direction: column;
}

.bg-date {
    float: left;
    width: 100%;
}

#cv-content #block02 h3 {
  display: flex;
  flex-direction: column;
}

#cv-content #block03 h3 {
  font-weight: unset;
  float: left;
}

#cv-content p.h3 {
  float: left;
  width: 100%;
  margin: 0px;
}

#cv-content #block02 p.h3 {
    /* font-weight: bold; */
}

#cv-content .cvo-block {
  float: left;
  width: 100%;
}

#cv-content .ir .cvo-block {
  margin-top: 0px !important;
  padding: 0;
  padding-left: 10px;
  padding-top: 10px;
  background: var(--ngang);
  background-position: left top;
  background-size: 95%;
}

#cv-content .ir .cvo-block:first-child {
    background: unset;
}

#cv-content .ir #block01 {
    padding-top: 0px;
}

#cv-content .ir #block05 {
  margin-top: 0px !important;
}

.ctbx {
  padding-left: 10px;
  padding-right: 10px
}

#experience-table .ctbx {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}


.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
  width: 100%;
  padding: 0;
  margin: 0;
}

#cvo-profile-avatar-wraper .wimg {
  width: 248px;
  height: 251px;
  padding-left: 16px;
  padding-top: 22px;
  background: var(--wing);
  background-position: left top;
  background-size: 100% 100%;
}

#cvo-profile-avatar-wraper img {
  width: 206px;
  height: 206px;
  float: left;
  border-radius: 99em;
  border: solid 5px #fff;
}

.box-01 {
  float: left;
  width: 100%;
}

#cvo-profile {
  float: left;
  display: block;
}

#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: right;
  height: 15px;
  border-top-left-radius: 30px;
  background: var(--color-b);
}

.ctbx .skill-name {
  margin: 0px;
  padding: 0px;
  color: #000;
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 3px;
}

.bar-exp {
  padding: 0px;
  float: left;
  height: 15px;
  width: 330px;
  margin-top: 0px;
  background: var(--skill);
  background-position: left bottom;
}

.bar-value-exp {
  width: 100%
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 95%
}

.icoweb label {
  display: block;
}

.ic .icoweb {
  width: calc(100% - 30px);
  text-align: left;
  padding-left: 5px;
  float: left;
  color: #000;
}

.ic {
  width: 100%;
  float: left;
  color: #000;
  padding-bottom: 10px;
}

#prof [contentEditable=true] {
  width: 100%;
  float: left;
}

#prof .icoweb,
#prof .icoweb span {
  height: auto;
  text-align: left;
  width: 100%;
  float: left;
  color: #000;
}

div#prof {
  float: left;
  width: 100%;
}

#form-cv .icf {
  float: left;
  line-height: 20px;
  margin-bottom: 0;
  width: 26px;
  height: 20px;
  text-align: left;
  display: none;
}

.ic02 {
  float: right;
  width: 64%;
}

.ic03 {
  float: left;
  width: 35%;
}

.icf .fa {
  font-size: 20px;
  color: #000;
  margin-top: 0;
  float: left;
}

.container {
  width: 100%;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

#cv-right .block {
  position: relative;
  padding: 0;
}

#experience-table .ctbx {
  float: left;
  width: 100%;
  margin-top: 8px !important;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

#cv-right h3 {
  width: 100%;
  height: 30px;
  margin: 0;
  color: #ffffff;
  padding: 0;
  float: left;
  line-height: 30px;
  text-align: center;
  background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
  width: 100%;
  text-align: left;
  padding-top: 2px;
}

#bg {
  background: #F58284;
  text-align: left;
}

div#experience-table {
  float: left;
  width: 100%;
  padding-right: 10px;
}

#cv-boxtitle {
  /* float: left; */
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}


.ski {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  line-height: 30px;
  text-align: left;
}

.cum {
  margin: 0;
  width: 100%;
  line-height: 30px;
}

div#sort_block {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  padding-top: 10px;
}

.cvo-block .blockControls {
  margin: 0px;
  padding: 0px;
}

.footer {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.watermark {
  float: left;
  width: 100%;
  color: #000;
  text-align: right;
  padding-right: 22px;
  padding-top: 2px;
  font-size: 15px;
  font-family: Courier;
}

#prof .ic:nth-child(1),
#prof .ic:nth-child(3) {
  width: 35%;
  float: left;
}

#prof .ic:nth-child(2) {
  width: 30%;
}

#cv-content .cvo-block .head {
  margin: 0;
  width: 100%;
  float: left;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 3px;
  padding-bottom: 2px;
  line-height: 30px;
  position: relative;
  margin-bottom: 5px;
  background: var(--ngang);
  background-position: left bottom;
  background-size: 50px 3px;
}

.ic1,
.ic2,
.ic3,
.ic4,
.ic5 {
  width: 100%;
  float: left;
  line-height: 30px;
  padding-left: 20px;
  padding-top: 6px;
}

.ic1 {
  width: 29%;
  padding-top: 10px;
  margin-right: 40px;
  background: var(--date), var(--doc);
  background-position: 0px 9px, 15px 0px;
  background-size: 31px 31px, 1px 10px;
}

.ic2 {
  float: left;
  width: 18%;
  color: #fff;
  padding-top: 10px;
  margin-right: 15px;
  background: var(--sex), var(--doc);
  background-position: 0px 9px, 15px 0px;
  background-size: 31px 31px, 1px 100%;
}

.ic3 {
  width: 40%;
  padding-top: 10px;
  background: var(--phone), var(--doc);
  background-position: 0px 9px, 15px 0px;
  background-size: 31px 31px, 1px 10px;
}

.ic4 {
  width: 100%;
  background: var(--email), var(--doc);
  background-position: 0px 5px, 15px 0px;
  background-size: 31px 31px, 1px 100%;
}

.ic5 {
  width: 100%;
  background: var(--add), var(--doc);
  background-position: 0px 5px, 15px 0px;
  background-size: 31px 31px, 1px 10px;
}

.icoweb {
  float: right;
}

.fake_img {
  float: left;
  width: 291px;
  height: 291px;
  position: absolute;
  top: 51px;
  left: 58px;
  background: var(--fake);
}

.cum,
.ski {
  float: left;
  width: 100%;
  padding-bottom: 5px;
  font-size: 20px;
  background: var(--ngang);
  background-position: left bottom;
  background-size: 45px 3px;
}

#block05 .head #cvo-experience-blocktitle {
  text-align: left;
}

.cumicc2,
.cumicc3,
.cumicc4,
.cumicc5,
.cumicc6,
.cumicc7 {
  float: left;
  width: 34px;
  height: 33px;
  background: var(--sao-tt);
  background-size: 34px 33px;
  position: absolute;
  top: -15px;
  left: -15px;
  display: none;
}

#boxtitle {
  width: 100%;
  padding-top: 0px;
  float: left;
  text-align: left;
  color: var(--color);
}

#box02 #boxtitle {
    padding-right: 83px;
    background: var(--ngang);
    background-size: 80px 4px;
    background-position: right center;
}

#box03 #boxtitle {
    padding-right: 250px;
    background: var(--ngang);
    background-size: 247px 4px;
    background-position: right center;
}

#box04 #boxtitle {
    padding-right: 190px;
    background: var(--ngang);
    background-size: 190px 4px;
    background-position: right center;
}

#box05 #boxtitle {
    padding-right: 220px;
    background: var(--ngang);
    background-size: 210px 4px;
    background-position: right center;
}

#box06 #boxtitle {
    padding-right: 235px;
    background: var(--ngang);
    background-size: 235px 4px;
    background-position: right center;
}

#box07 #boxtitle {
    padding-right: 125px;
    background: var(--ngang);
    background-size: 125px 4px;
    background-position: right center;
}

#cv-content .exp-date {
  float: left;
  width: 100%;
  margin: 0;
  display: inline;
  color: #000;
  text-align: left;
}

.exp-title {
  float: left;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}

#block04 .exp-title {
    text-transform: uppercase;
}

#block02 .exp-title {
    font-weight: bold;
}

.bar-exp div p {
  color: #F44336;
  display: block;
  position: absolute;
  font-size: 20px;
  z-index: 99999;
}

#block03 h3 {
  display: none;
}

span.exp-subtitle {
  width: 100%;
}

.ifo {
  float: right;
  width: 63%;
  position: relative;
  padding-top: 65px;
}

#prof .icoweb {
  float: left;
  width: 100%;
  padding-right: 8px;
  padding-left: 15px;
  text-align: left;
}

#box01 #prof .ic1 .icoweb span, #prof .ic2 .icoweb span, #prof .ic3 .icoweb span {
}

#prof .ic2 .icoweb {
  width: 100%;
}

#prof .ic1 .icoweb {
  width: 100%;
}

.icright1 {
  float: left;
  width: 23px;
  height: 21px;
  position: absolute;
  bottom: -9px;
  right: 50px;
  z-index: 2;
}

#block05 h3,
#block05 .exp-content {
  display: none;
}

.exp-content {
  float: left;
  width: 100%;
}

#experience-table #exp1 {
  margin: 0;
  margin-top: 0 !important;
  padding-top: 0px;
}

#block04 #exp1 {
  margin-top: 0 !important;
}

#cv-content #block05 p.h3 {
  padding: 0;
}

#cv-right .ir #sortable #box01 {
  display: none;
}

:root {
  --sex: url(sex1.png) no-repeat;
  --phone: url(phone1.png) no-repeat;
  --date: url(date1.png) no-repeat;
  --email: url(mail1.png) no-repeat;
  --add: url(add1.png) no-repeat;
  --ngang: url(ngang1.png) no-repeat; 
  --skill: url(skill1.png) no-repeat;
  --fake: url(fake1.png) no-repeat;
  --page: url(foot1.png) no-repeat, url(page1.png) no-repeat;
  --doc: url(all1.png) no-repeat;
  --top: url(top1.png) no-repeat;
  --wing: url(wing1.png) no-repeat;--chu: url(chu.png) no-repeat;
  --color: #683c11;
  --color-b: #ff8700;
}