#form-cv {
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 22px;
    color: #565656;
    padding: 0px;
    margin: 0px;
}

.cv_tt {
    float: left;
    width: 100%;
    background: #3a93a5;
}

#cv-main {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#cv-content {
    width: 51%;
    float: left;
    padding: 0px;
    margin: 0px;
    padding-left: 2%;
    padding-right: 1%;
    background: #fff;
}

#cv-right {
    width: 43.999%;
    float: left;
    padding: 0px;
    margin: 0px;
    background: #fff;
    padding-left: 2%;
    padding-top: 10px;
}

#cv-top {
    float: left;
    width: 100%;
    padding-bottom: 20px;
    background-color: #b9bf37;
    padding-top: 25px;
}

.box-01 {
    padding-top: 10px;
    border-top: solid 1px #fff;
}

#sort_block,
.cv-right .ir,
#sortable {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content .cvo-block,
#cv-right .block {
    float: left;
    padding: 0px!important;
    margin: 0px;
    width: 100%;
    margin-bottom: 10px;
}

#cv-content .head,
#cv-right h3,
#cv-right .cvo-block p {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content #experience-table {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content #experience-table .ctbx {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content h3 {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-weight: bold;
}

#cv-content .h3 {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content .exp-content {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

div {
    margin: 0px;
    padding: 0px;
}

.ctbx {
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

.bar-exp {
    height: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.bar-exp {
    height: 8px;
    float: left;
    margin: 8px 0px;
}

.bar-exp div {
    float: left;
    height: 8px;
    background: #286e86;
}

#cv-title {
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    font-size: 20px
}

.exp .ctbx {
    display: table;
    width: 100%;
}

.edit-content .bar-value-exp {
    display: block;
}

.bar-value-exp {
    display: none;
}

.bar-exp {
    width: 100%;
    background: #b9bf37;
    height: 8px;
    float: left;
    margin-bottom: 12px
}

.bar-value-exp {
    width: 100%;
    float: right;
}

p.skill-name input {
    border-bottom: 0;
    font-size: 14px;
    border: 0
}

.bar-value-exp input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    color: #000;
}

#cv-right .h3,
#cv-content .head {
    background: none;
    text-align: left;
    color: #286e86;
    border-radius: 5px;
}

#cv-content .head {
    border: 5px;
    line-height: 24px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
}

#cv-content h3 {
    font-size: 14px;
}

#page-cv {
    max-width: 790px
}

.ava {
    float: left;
    width: 20%;
    padding: 30px 40% 0px;
    display: none;
}

#cvo-profile-avatar-wraper {
    float: left;
    width: 100%;
    border: solid 4px #ff824c;
    border-radius: 5px;
    display: none;
}

#box-hvt {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#box-hvt h1 {
    color: #fff;
    font-size: 30px;
    padding: 0px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    float: left;
    width: 100%;
}

#box-hvt h2 {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.box-contact p .fa {
    color: #277275;
}

#cv-right .block {
    margin-top: 0px;
    margin-bottom: 20px;
}

#cv-right .box-contact {
    display: none;
}

#cv-right .block h3 {
    font-size: 20px;
    line-height: 24px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

#cv-right .cvo-block p {
    border-top: 0px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

#cv-right .cvo-block p.skill-name {
    border: none;
}

#cv-right {
    color: #374d59;
}

#cv-right h3 {
    color: #286e86;
}

#cv-right p {
    text-align: justify;
}

#cv-right .icoweb i.fa {
    margin-top: 6px;
    font-size: 15px;
    width: 25px;
    color: #fff;
}

#form-cv #box01 p span {
    margin: 0px;
    padding: 0px;
}

#form-cv #box01 p i.fa {
    float: left;
    margin-top: 10px;
}

.box-contact p {
    line-height: 35px;
    padding: 1px;
    margin: 0px;
    text-indent: 5px!important;
    float: left;
}

#form-cv .icoweb {
    width: 48%;
    padding-left: 10px;
}


/*.box-contact p.cvi-date{
    background: #919191;
}*/

#sortable .box-contact p.icoweb {
    margin-bottom: 7px;
}

.box-info .box-contact {
    float: left;
    width: 90%;
    margin-left: 5%;
    box-sizing: border-box;
    margin-top: 10px;
    background: #fff;
}

.box-info {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    border-bottom: solid 1px #fff;
}

.cv_body {
    float: left;
    width: 90%;
    background-color: #286e86;
    padding: 5%;
}

.cv_bg {
    float: left;
    width: 100%;
    background-color: #fff;
}

#form-cv .clr,
#form-cv .cl {
    display: none;
}

div#box01 span {
    width: 150px;
    float: left;
}

span.box-content {
    width: 260px;
}

.exp-content,
.exp-subtitle,
span.exp-title {
    width: 340px;
}

#cv-profile-fullname::before {
    color: #fff;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}