#form-cv{
	width: 100%;
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#4d4b48;	
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 10px;
	margin-top: 5px;	
}
.box-contact .h3{
	font-size: 18px;
	line-height: 23px;
	text-align: right;
	color: #fff;
	padding-right: 5px;
	padding-top: 5px;
	height: 30px;
}
#sortable .icoweb i.fa{
	float: left;
}
#form-cv .ic .icoweb span{
	width: 310px;
}
#cv-main{
	display: table;
	width: 100%;
	float: left;
}
.cv_tt{
	float: left;
	width: 100%;
	background-size: 100% 100%;
	background-color: #ffffff;
	padding-bottom: 25px;
}
#cv-top{		
    text-align: center;    
}
#cvo-profile{	
	display: block;
}
#cv-content{
	width: 49.99%;
	float: right;
	padding-top: 15px;	
	background: #fff;
}
#cv-right{
	width: 50%;
	float: left;	
	background:#fff;
}
#cv-right .ir{
	padding: 10px 10px 0px 10px;
}
p.skill-name input{
	color: #070000!important;
}

#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}
.box-info{
    float: left;
    width: 46%;
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
    font-size: 14px;
    padding-left: 2%
}

#box-hvt h1{
	font-size: 32px;
    padding: 0 10px;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0px;    
    margin-left: 0px;
    color: #424242;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0px;
}

#box-hvt h1 span{	
	color: #424242;
}

#box-hvt h2{
	font-size: 16px;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 0px;    
    color: #424242;
    font-weight: bold;
    padding-left: 10px;
}

#box-hvt h2{
	color: #424242;
}

.box-01 p{		
    overflow: hidden;
}
.box-01{
	padding: 15px;
	background-image: url(bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top center;
	height: auto;
}
#prof [contentEditable=true] {
    width: 310px;
    display: inline-block;
}

#cv-content .ir{
	margin:0 15px;
}
#cv-content p{
	margin-bottom: 5px;
	color: #5c715e;
	font-weight: bold;
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 18px;    
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    color: #8dc6c7;
}

#cv-content .head{
	height: 30px;
	line-height: 30px;
	color: #8dc6c7;
	padding-left: 45px;
	background-image: url('icon.png');
	background-repeat: no-repeat;
	background-position: center left;
}
#cv-right h3{
	background-image: url('icon2.png');
	background-repeat: no-repeat;
	background-position: center right;
}


#cv-right .h3{
	height: 45px;
	text-align: center;
	width: 100%;
}

#cv-right .h3 span{
	margin: 3px 0px;
	color: #000000;
	line-height: 43px;
}
#cv-content h3{	
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
}

#cv-content .cvo-block {    
	padding-left: 8px;
}
.ctbx{
	padding-left: 10px;
	padding-right: 10px
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}

#cv-right .h3:first-child{
	margin-top: 0
}
.ctbx{
	margin-bottom: 10px;
	position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#box-hvt{
	width:94%;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-left: 6%;

}
#cvo-profile-avatar-wraper{
    float: right;   
    width: 48%;
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
}
#cvo-profile-avatar-wraper .wimg{
	width:248px;    	
	margin:auto;
    padding:4px;
    padding-top: 30px;
    background-image: url(bg2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}

#cvo-profile-avatar-wraper .wimg .bg2{
	width:230px;    	
	margin:0px;
}


#cvo-profile-avatar-wraper img{
	width: 220px;  	
  	height: 220px;
  	float:none;  
  	border: solid 5px #969696;
}


#line-seperate {
    height: 25px;    
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #8dc6c7;
    
}
.bar-exp {
  	width: 100%;
  	background: #5e5d5a;
  	height: 8px;
  	float: right;
  	margin-bottom: 12px;
}      
.icoweb label{
	display: block;
	color:#627e88;
}
#cv-right .icoweb span{
	color: #070000;
}
.icoweb{	
	float: left;
	padding-left: 2px;
	margin-bottom: 0
}
.ic{
	float: left;width: 100%;
	margin-bottom: 4px;
	line-height: 22px;
}

.iw2{
	width: 50%;
}

#form-cv .icf{
	float: left;		
	line-height: 22px;
	margin-bottom: 0;
	font-size:12px;
	border-radius: 5px;
	background: #fff;
	width: 22px;	
	text-align: center;
}
#form-cv .ic .icoweb{
	float: left;
	margin-bottom: 0;
	padding-left: 7px;
	font-weight: bold;
	text-align: right;
	color: #fff;
	padding-right: 7px;
	line-height: 28px;
}
.icf .fa{
	font-size: 12px;	
	color:#8dc6c7;	
	margin-top: 0;	
	float: none
}

.bar-value-exp input[type="text"]{
	color: #000;
}
#cv-profile-birthday::before{
    color: #fff;
}
#cv-profile-sex::before{
    color: #fff;
}
#cv-profile-phone::before{
    color: #fff;
}
#cv-profile-email::before{
    color: #fff;
}
#cv-profile-address::before{
    color: #fff;
}
.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}