i {
  color: #603814!important;
}

#box01, #box05,#box06, #box04, #box07 {
  background: #EDE6DC!important;
}

#cv-top .box-01{
  background: #D7C4B3 !important;
}

#box-hvt h1 span, #cvo-experience-blocktitle{
color: #603814 !important;
}