#cv-top .box-01 {
  background: #D7C4B3 !important;
}

#block01 {
  background: #D7C4B3 !important;
}

i {
  color: #603814!important;
}

h3 {
  color: #603814!important;
}

#box04{
  background: #EDE6DC!important;
}

#box05 {
  background: #EDE6DC!important;
}

#box03 {
  background: #EDE6DC!important;
}