.all {
    float: left;
    clear: both;
    width: 100%;
    background-image: url(main3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    /* padding-bottom: 20px; */
}

.exp-fake {
    float: left;
    width: 239px;
    height: 33px;
    background: url(kynang3.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -31.5px;
    z-index: 1;
    margin-left: -1px;
}

.bar-exp div {
    float: left;
    height: 28px;
    margin-top: 0px;
    border-radius: 5px;
    background: #0f7ac0;
}