#box01 #prof i {
  color: #603814!important;
}

#box01, #box05::before,#box06::before, #box04::before, #box07::before, .box-01::before {
  background: #F2EFDE!important;
}

#box-hvt h1 span, #cvo-experience-blocktitle, #cv-profile-fullname {
color: #603814 !important;
}