i {
    color: #603814!important;
  }
  
#box05, #box06, #box04, #box07, #cv-top .box-01, #block01{
  background:#fde2d1 !important;
}

#box-hvt h1 span, #cvo-experience-blocktitle{
  color: #603814 !important;
}