#form-cv{
	width: 100%;	
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#070000;	
	background:#f2f2f2;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 45px;
	margin-top: 0px;	
}

#cv-top{		
    text-align: center;   
	padding: 20px 0;    
}
#cvo-profile{	
	display: block;
}
#cv-content{
	width: 55%;
	float: right;
	position: relative;	
	padding-top: 10px;		
	/* min-height: 800px; */
}

#block05 .exp-content{
	display: none;
}
#cv-main{
	width: 44%;
	/* min-height: 1100px; */
	float: left;	
	position: relative;	
	background:#4f84a6;
	color:#fff;
}
#cv-right .ir{
	padding: 30px 10px 0px 10px;
}
p.skill-name input{
	color: #fff!important;
}

#cv-right .cvo-block span{
	color: #fff;
}
#cv-right .cvo-block h3 span{
	color:#4f84a6;
}
#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}
.skill{
	margin-top: 15px
}


#cv-top h1{
	font-size: 28px;
    padding: 15px 30px 5px 30px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;    
    margin-left: 0px;
    color: #fff;
    font-weight: bold;
	
}


#cv-top h1 span{
	padding: 0px 10px;
}

#cv-top h2{
	font-size: 16px;
    text-align: center;        
    color: #fff;
    font-style: italic;
    margin-bottom: 10px
}
.box-01 p{		
    overflow: hidden;
}

#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 18px;    
    color: #4f84a6;        
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;        
    margin: 0 auto 15px;    
    line-height: 24px
}
#cv-right h3{
	background: url('lineffffff.png') center center repeat-x;
}
#cv-right h3 div{
	background: #ffffff;
	padding: 3px 10px;
	width: 225px;
	margin:auto;
	border-radius: 10px;
}
#cv-content .head{	
	background: url('line4f84a6.png') center center repeat-x;	
}
#cv-content .head div{	
	background: #4f84a6;
	color: #fff;
	padding: 3px 10px;
	width: 225px;
	margin:auto;
	border-radius: 10px
}

#cv-right .h3{
	height: 45px;
	text-align: center;
	width: 100%;
}

#cv-content h3{	
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color:#000;
}
p.h3{
	font-weight: bold;
}
#cv-content .cvo-block {    
}
.ctbx{
	padding-left: 10px;
	padding-right: 10px
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}

#cv-right .h3:first-child{
	margin-top: 0
}
.ctbx{
	margin-bottom: 20px;
	position: relative;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper{	    
    display: table;
    width:180px;
    margin: auto;
}
#cvo-profile-avatar-wraper img{
	width: 180px;  	
  	height: 180px;
  	float:none;  
  	display: inline-block;
}
#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #fff;
    
}
.bar-exp {
  	width: 100%;
  	background: #959595;
  	height: 10px;
  	float: right;
  	margin-bottom: 12px;
}      
.icoweb label{
	display: block;
	color:#fff;
}
#cv-right .icoweb span{
	color: #fff;
}

.box-contact{
	font-size: 15px;
}
#sortable .icoweb{
	padding-left: 24px;
	line-height: 32px;	
	margin-bottom: 0
}
#sortable .cvi-date{
	background: url('fa-1.png') left center no-repeat;	
}
#sortable .cvi-user{
	background: url('fa-2.png') left center no-repeat;	
}
#sortable .cvi-phone{
	background: url('fa-3.png') left center no-repeat;	
}
#sortable .cvi-envelope-square{
	background: url('fa-4.png') left center no-repeat;	
}
#sortable .cvi-map-marker{
	background: url('fa-5.png') left center no-repeat;	
}
#sortable .cvi-info{
	background: url('fa-6.png') left center no-repeat;	
}
div#box01 span {
    width: 280px;
}
#box02 span, #box032 span, #box04 span, #box05 span, #box06 span, #box07 span {
    width: 310px;
}
.exp-content {
    width: 400px;
}
#cv-profile-birthday::before{
    color: #fff;
}
#cv-profile-sex::before{
    color: #fff;
}
#cv-profile-phone::before{
    color: #fff;
}
#cv-profile-email::before{
    color: #fff;
}
#cv-profile-address::before{
    color: #fff;
}
#cv-profile-face::before{
    color: #fff;
}
#cv-profile-fullname::before{
  color: #fff;
}
#cv-profile-job::before{
  color: #fff;
}