#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 15px;
  line-height: 26px;
  color: #000;
}
.watermark {
  float: left;
  width: 100%;
  height: 22px;
  color: #999;
  text-align: right;
  font-size: 15px;
  /* padding-top: 85px; */
  font-family: Courier;
}

#sortable .cvo-block {
    margin-bottom: 10px;
    padding-right: 0;
}

#sortable .cvo-block .box-content {
    padding: 0;
    margin: 9px 10px 8px 10px;
    width: 90%;
}

#cvo-profile {
  display: block;
}

#cv-content {
  width: 47%;
  text-align: justify;
  float: left;
  position: relative;
  padding: 0;
  margin: 0;
}

#cv-content .ir {
    padding: 0;
}
#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    position: relative;
    float: right;
    margin-left: 20px;
    width: 44%;
}

#cv-right .ir {
}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
    width: 90%;
    padding: 0;
    margin: 0;
    border: 0;
    padding-top: 10px;
    padding-left: 10px;
}

#cv-top {
    width: 100%;
    height: 403px;
    background-image: url(top1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#cv-top h1 {
  padding: 0;
  margin: 0;
  font-size: 33px;
  font-family: "Roboto";
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: 3px;
  font-weight: bold;
  text-align: left;
  color: #6b95d2;
}
#cv-top h1 span {
    letter-spacing: 3px;
}
#box-hvt {
    float: right;
    width: 44%;
    padding: 0;
    margin: 0;
    padding-right: 15px;
    /* padding-top: 47px; */
    padding-left: 10px;
}
#sortable #box01 {
  margin-top: 0;
  padding-top: 0px;
  margin-bottom: 0px;
}

#sortable #box01 #prof {
  padding: 0;
  margin: 0;
}

#box01 ul {
  list-style: none;
  padding-left: 20px
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-top h2 {
    text-transform: uppercase;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto";
    text-align: left;
    margin: 0;
    padding: 0;
    /* margin-top: 5px; */
    margin-bottom: 0;
    margin-left: 5px;
    color: #6b95d2;
}

.box-01 {
  float: left;
  width: 48%;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-right h3, #cv-content .head {
  margin: 0px;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}

#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #000;
}
#cv-content #block02 .exp-content {
    margin: 0;
    padding: 0;
    padding-left: 10px;
}
#cv-content #block03 h3{
  font-weight: bold;
}
#cv-content #block04 h3 {
  font-weight: bold;
}

#cv-content .exp-date {
  float: none;
}

#cv-content #block01 .exp-date {
  display: none;
}

#cv-content #block03 .exp-date {
  display: none;
}

#cv-content #block04 .exp-date {
  display: none;
}

#cv-content #block05 .exp-date {
  display: none;
}

#cv-content p.h3 {
  margin: 0px;
  padding: 0px;
}

#cv-content .cvo-block {
  padding: 0px;
}

.ctbx {
  padding-left: 10px;
  padding-right: 10px
}

#cv-content span {
  display: inline-block;
  z-index: 9999;
}

#cv-content #block02 h3 {
  font-weight: bold;
}

.ctbx {
  margin: 15px 10px 15px 0px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
    padding: 0;
    margin: 0;
    float: left;
    padding-top: 39px;
    padding-left: 64px;
}

#cvo-profile-avatar-wraper .wimg {
 width: 270px;
 height: 276px;
 padding: 0px;
 margin: 0px;
 margin-top: 0px;
}
#cvo-profile-avatar-wraper img {
   width: 270px;
   height: 270px;
   float: none;
   border-radius: 50%;
   /* clip-path: polygon(4% 5%, 100% 0%, 100% 100%, 0% 100%); */
}
#cvo-profile-avatar{
  width: 271px;
  height: 270px;
}
#line-seperate {
  height: 25px;
}

.bar-exp div {
    float: left;
    height: 11px;
    background: #6b95d2;
    border-radius: 14px;
    margin-top: 0px;
}

.ctbx .skill-name {
    margin: 1px;
    padding: 4px;
    line-height: 19px;
}

.bar-exp {
    width: 100%;
    background: none;
    /* border: 1px solid black; */
    height: 11px;
    float: left;
    border-radius: 14px;
    margin-top: 0;
    border: 2px solid #6b95d2;
    margin-bottom: 0px;
    padding: 0px;
}

.bar-value-exp {
  width: 100%;
  margin-bottom: 26px;
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 95%
}

.icoweb label {
  display: block;
}

#page-cv #cv-content span {
    z-index: 998;
    width: 100%;
}

#sortable .ic {
  margin-bottom: 0px;
  padding-top: 10px;
	padding-left: 30px;
}

.ic {
  float: left;
  height: 29px;
  width: 100%;
}

#form-cv .icf {
  float: left;
  border-radius: 5px;
  line-height: 30px;
  margin-bottom: 0;
  width: 32px;
  text-align: center;
}

.ic .icoweb {
    float: left;
    width: 75%;
    text-align: left;
}
[contentEditable=true] {
    display: inherit;
}

.icf .fa {
    font-size: 20px;
    /* color: blue; */
    margin-top: 0;
    float: none;
}

.container {
  width: 100%;
}
#page-cv #cv-content span {
    z-index: 998;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

.ifo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}
.ski {
    margin: 0;
    width: 100%;
    height: 30px;
    padding-bottom: 5px;
}
#box02 .cum {
    margin: 0;
    width: 100%;
    padding-top: 13px;
}
#cv-right h3 {
    width: 100%;
    height: 30px;
    margin: 0;
    color: #c15d27;
    padding: 0;
    float: left;
    line-height: 30px;
    text-align: left;
}

#cv-content .head #cvo-experience-blocktitle{width: 86%;height: 47px;line-height: 47px;background: #9dbdeb;border-radius: 14px;padding-left: 10px;text-align: center;/* background: url(head1.png)no-repeat; *//* background-size: 100% 100%; */}
#bg{
	background: #F58284;
	text-align: left;
}

#prof {
    float: left;
    padding: 10px 10px 10px 0px;
    width: 83%;
}
div#cv-boxtitle {
    width: 100%;
    font-size: 20px;
    height: 47px;
    text-transform: uppercase;
    line-height: 45px;
    font-weight: bold;
    /* color: red; */
    text-align: center;
    /* padding-left: 51px; */
    /* background: url(head1.png)no-repeat; */
    background: #9DBDEB;
    border-radius: 20px;
    /* background-size: 100% 100%; */
}
div#box01 {
    padding-top: 64px;
}
.footer {
    /* width: 100%; */
    /* height: 113px; */
    /* background: url(ft.png); */
    /* background-size: 100% 100%; */
}

.all {
    background: url(main1.png);
    background-size: 100% 100%;
}
.exp-fake{
  
/* float: left; */
  
/* width: 100%; */
  
/* height: 26px; */
  
/* background: url(skill.png); */
  
/* background-size: 100% 100%; */
  
/* background-position: left; */
  
/* margin-top: -24px; */
  
/* z-index: 10; */
}
.fake-img{
  padding: 0;
  margin: 0;
  float: left;
  display: table;
  background: url(fake1.png)no-repeat;
  background-size: 100% 100%;
  clear: both;
  z-index: 1;
  top: -900px;
  position: absolute;
  width: 353px;
  height: 330px;
  margin-top: -316px;
  margin-left: 0px;
}
div#box02 div#cv-boxtitle {
  background: none;
}