/* 2 */

:root {
  --page: url(page2.png) no-repeat;
  --fake: url(fake2.png) no-repeat;
  --cum: url(cum2.png) no-repeat;
  --skill: url(skill-2.png) no-repeat;
  --kn: url(kn2.png) no-repeat;
  --top: url(top2.png) no-repeat;
  --name: url(name2.png) no-repeat;
  --ngang: url(ngang2.png) no-repeat;
  --ngang-c: url(ngang-c2.png) no-repeat;
  --color: #2c3e50;
  --color-t: #000000;
}