/* 3 */
:root {
  --page: url(page3.png) no-repeat;
  --fake: url(fake3.png) no-repeat;
  --cum: url(cum3.png) no-repeat;
  --skill: url(skill-3.png) no-repeat;
  --kn: url(kn3.png) no-repeat;
  --top: url(top3.png) no-repeat;
  --name: url(name3.png) no-repeat;
  --ngang: url(ngang3.png) no-repeat;
  --ngang-c: url(ngang-c3.png) no-repeat;
  --color: #3e5151;
  --color-t: #000000;
}