#form-cv{
    background-image: url(../bg3.png);
    background-position: top center;
}

#box-hvt h2{
    color: #aa9d55;    
}

.bar-exp div {
    background: #aa9d55;
}
.bar-exp{
    background: #a8a8a8;
}