#form-cv{
    background-image: url(../bg2.png);
    background-position: top center;
}

#box-hvt h2{
    color: #ce654b;    
}

.bar-exp div {
    background: #ce654b;
}
.bar-exp{
    background: #999982;
}