#cv-top {
    width: 100%;
    height: 392px;
    background-image: url(hd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all{
  float: left;
  clear: both;
  background: url(main2.png)no-repeat;
  background-size: 100% 100%;
  width: 100%;
}
.box-dm{
  width: 265px;
    height: 265px;
    clear: both;
    z-index: 1;
    padding: 0;
    margin: 0;
    display: table;
    position: absolute;
    float: left;
    background: url(12.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -252px;
    margin-left: -2px;
    top: -900px;
}
.bar-exp {
    background: #26deff;
    height: 11px;
    float: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;/*
    border: 1px solid #0d3b4f;*/
    float: right;
    width: 100%;/*
    border-radius:10px;*/
}