#form-cv{
	/* background-image: url('bg.png'); */
	/* background-position: left top; */
	/* background-repeat:repeat-x;
	background-color:#fff; */
	width: 100%;
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 21px;
	color:#070000;
	/* background: none; */
}
#form-cv p{
	margin-top: 0;
	/* margin-bottom: 6px; */
}
#sortable .cvo-block{
	margin-bottom: 20px;
	margin-top: 8px;	
}
#cv-content .head {
    border-bottom: solid 1px #c1c1c1;
}
#cv-main{
	/* display: table; */
	width: 100%;
}
#cv-top{		
	text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(bg.png);
    background-position: left top;
    /* height: 153px; */
}

#cv-content{
	width: 60%;
	float: right;
	position: relative;	
	padding-top: 10px;	
	background: #f9f0e0;
	/* min-height: 800px; */
	/* padding-bottom: 30px; */
}
#cv-right{
	width: 39%;
	/* min-height: 800px; */
	float: left;	
	position: relative;	
	background:#fff;
	padding-top: 50px;
}
#cv-right h3{
	color:#fcb617;
	border-left: 4px solid #898989;
	padding-left: 12px;
	line-height: normal;
	margin-bottom: 10px
}
#cv-right .ir{
	padding: 10px 10px 0px 15px;
}
p.skill-name input{
	color: #070000!important;
}

#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}
.skill{
	margin-top: 15px
}
#cv-top h1{	
	font-size: 32px;        
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0px 0;       
    color:#000;    
}

#box-hvt{
	display: inline-block;	
}
#cv-top h2{
font-size: 18px;
    text-align: center;
    margin-bottom: 1px;
    display: inline-block;
    color: #000000;
    font-weight: normal;
}
.box-01 p{		
    overflow: hidden;
}

#cv-content .ir{
	margin:0 15px;
}
#cv-content p{
	/* margin-bottom: 5px; */
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-weight: bold;
}
.bar-value-exp input[type="text"]{
	color:#000;
}
#cv-content .head{
	height: 30px;
	line-height: 30px;
	margin-bottom: 0px !important;
}
#cv-content .head span{	
	color: #fcb617	
}

#cv-content h3{
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

#cv-content .cvo-block {    
}
.ctbx{
	padding-left: 0;
	padding-right: 0
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
	padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
}
.ctbx{
	/* margin-bottom: 8px; */
	position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#box-hvt{
	float: right;
	width:75%
}
#cvo-profile{
	/* padding-top: 30px;	 */

}
#cvo-profile-avatar-wraper{	    
    float: right;
    width:140px;        
    border: solid 4px #fcb617; 
    margin-bottom: -80px;    
    margin-top: 25px;
    position: relative;
    z-index: 100;   
}
#cvo-profile-avatar-wraper .wimg{
	display: table;
	padding:4px;
	margin:auto;	
}
#cvo-profile-avatar-wraper img{
  	width:132px;
  	height: 140px;
  	display: inline-block;  	
  	float: none
    
}
#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #000000;
    
}
.bar-exp {
  	width: 100%;
  	background: #e1e1e1;
  	height: 8px;
  	float: right;
  	margin-bottom: 12px;
}      
.icoweb label{
	display: block;
	color:#627e88;
}
#cv-right .icoweb span{
	color: #070000;
	width: 100%;
}

#sortable .icoweb{
	float: left;
	padding-left: 10px;
	margin-bottom: 0;
	width: 225px;
}
.ic{
	float: left;
	width: 100%;
	margin-bottom: 8px !important;
}
#form-cv .icf{
	float: left;		
	line-height: 22px;
	font-size: 12px;
	margin-bottom: 0;
	width: 22px;	
	border-radius: 20px;
	background: #000;
	text-align: center;	
}
.ic .icoweb{
	float: left	
}
.icf .fa{
	font-size: 12px;	
	color:#fff;	
	font-weight: normal;
	margin-top: 0;	
	float: none
}
#box02 span, #box032 span, #box04 span, #box05 span, #box06 span, #box07 span {
    width: 260px;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}

#block05 .exp-content{
	display: none;
}
.exp-content {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
}
p.skill-name {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
}
