/* 4 */

:root {
    --sex: url(sex4.png) no-repeat;
    --phone: url(phone4.png) no-repeat;
    --date: url(date4.png) no-repeat;
    --email: url(email4.png) no-repeat;
    --add: url(add4.png) no-repeat;
    --page: url(page3.png) no-repeat;
    --top: url(top3.png) no-repeat;
    --fake: url(fake3.png) no-repeat;
    --job: url(job3.png) no-repeat;
    --cl-title: #335c67;
    --box-02: url(box02-4.1.png) no-repeat, url(box02-4.2.png) no-repeat, url(box02.png) no-repeat;
    --kn: url(kn4.png) no-repeat;
    --kynang: url(kynang4.png) no-repeat;
    --chungchi: url(chungchi4.png) no-repeat;
    --giaithuong: url(giaithuong4.png) no-repeat;
    --sothich: url(sothich4.png) no-repeat;
    --thamchieu: url(thamchieu4.png) no-repeat;
    --right: url(right4.png) no-repeat;
    --title: url(title4.png) no-repeat;
    --foot: url(foot4-1.png) no-repeat;
    --bg: #335c67;
}