:root {
    --sex: url(sex3.png) no-repeat;
    --phone: url(phone3.png) no-repeat;
    --date: url(date3.png) no-repeat;
    --email: url(email3.png) no-repeat;
    --add: url(add3.png) no-repeat;
    --page: url(page4.png) no-repeat;
    --top: url(top4.png) no-repeat;
    --fake: url(fake4.png) no-repeat;
    --job: url(job3.png) no-repeat;
    --cl-title: #b0413e;
    --box-02: url(box02-3.1.png) no-repeat, url(box02-3.2.png) no-repeat, url(box02.png) no-repeat;
    --kn: url(kn3.png) no-repeat;
    --kynang: url(kynang3.png) no-repeat;
    --chungchi: url(chungchi3.png) no-repeat;
    --giaithuong: url(giaithuong3.png) no-repeat;
    --sothich: url(sothich3.png) no-repeat;
    --thamchieu: url(thamchieu3.png) no-repeat;
    --right: url(right3.png) no-repeat;
    --title: url(title3.png) no-repeat;
    --foot: url(foot3-1.png) no-repeat;
    --bg: #b0413e;
}