#form-cv {
	line-height: 28px;
}

#cv-right .ir {
	line-height: 28px;
}

#cv-top h1,
#cv-top h1 span {
	line-height: 47px;
}

#cv-content .cvo-block .head {
	line-height: 32px;
}

.exp-title {
	line-height: 27px;
}