#form-cv{
	width: 100%;	
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#494949;	
	background:#fff;
	outline: 1px solid #e1e1e1
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 20px;
	margin-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px
}
#cvo-profile{	
	display: block;	
	background: #556e8e
}
#cv-content{
	width: 100%;
	float: right;
	position: relative;	
	padding-top: 10px;			
}
#cv-main{
	position: relative;			
}
#cv-right .ir{
	padding: 0
}
p.skill-name input{
	color: #fff!important;
}

#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}
.skill{
	margin-top: 15px
}
#cv-top h1{
	font-size: 32px;
	padding-top: 20px;
    line-height: normal;
    text-transform: capitalize;    
    margin-bottom: 10px;    
    margin-left: 0px;
    color: #fff;    
    font-weight: bold;
	margin-top: 0
}
#box-hvt{
	float: right;
	width: 70%;	
	padding-top: 20px
}
#cv-top{

}
.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}
#cv-right #prof{
	width: 100%;
	float: left;
	background: #556e8e;
	color:#fff;
}
#sortable #box01{	
	background: url('556e8e.png') left bottom no-repeat;
	padding-bottom: 35px;
	margin:0;
	padding-left: 0;
	padding-right: 0
}
#box01  ul{
	list-style: none;
	padding-left: 15px;
	padding-top: 15px
}
#cv-right .cvo-block .head div{
	color:#fff;
}
#box01  ul li{
	width: 33.33333%;
	float: left
}
#cv-top h2{
	font-size: 16px;    
    color: #fff;
    font-weight: normal;    
    margin-bottom: 10px
}
.box-01 p{		
    overflow: hidden;
}

#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 18px;    
    color: #556e8e;        
    text-transform: uppercase;
    font-weight: bold;    
    margin: 0 auto 10px;    
    line-height: 24px;    
}

#cv-right h3 div, #cv-content .head div{	
}

#cv-content h3{	
    font-size: 15px;    
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0
}
#cv-content p.h3{	
	
}

#cv-content .cvo-block {    
	margin:0 10px;
}
.ctbx{
	padding-left: 10px;
	padding-right: 10px
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}

#cv-right .h3:first-child{
	margin-top: 0
}
.ctbx{
	margin-bottom: 20px;
	position: relative;
	padding:0;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#cvo-profile-avatar-wraper{
	float: left;
	width: 19%;
	padding-top: 10px
}

#cvo-profile-avatar-wraper .wimg{	    
    float: none;
    width:120px;    
    margin: auto;    
    padding:4px;
    border: 1px solid #fff;
}
#cvo-profile-avatar-wraper img{
	width: 120px;  	
  	height: 120px;
  	float:none;  
  	display: inline-block;
}
#line-seperate {
    height: 25px;    
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #556e8e;    
}
.ctbx .skill-name{
	width: 50%;
	float: left;	
}
.bar-exp {
  	width: 50%;
  	background: #cecece;
  	height: 10px;
  	float: right;
  	margin-top: 8px;
  	margin-bottom: 0px;
}      
.bar-value-exp{
	width: 50%
}
.bar-value-exp input[type="text"]{
	color:#000;
	width: 95%
}
.icoweb label{
	display: block;
}
.box-contact{
	font-size: 15px;
}
#sortable .icoweb{
	padding-left: 24px;
	margin-bottom: 0
}
#sortable .cvi-date{
	background: url('fa-1.png') left center no-repeat;	
}
#sortable .cvi-user{
	background: url('fa-2.png') left center no-repeat;	
}
#sortable .cvi-phone{
	background: url('fa-3.png') left center no-repeat;	
}
#sortable .cvi-envelope-square{
	background: url('fa-4.png') left center no-repeat;	
}
#sortable .cvi-map-marker{
	background: url('fa-5.png') left center no-repeat;	
}
#sortable .cvi-info{
	background: url('fa-6.png') left center no-repeat;	
}
#cv-content h3 .exp-title{
	width:70%;
	float: left;
}
#cv-content .exp-date {
    float: right;
    text-align: right;
    width: 160px;
    font-size: 14px;
    font-weight: bold
}
div#box01 span {
    width:85%;
}
div#box01 .box-content, div#box02 .box-content, div#box03 .box-content, div#box04 .box-content, div#box05 .box-content, div#box06 .box-content, div#box07 .box-content {
    width: 750px;
}
#cv-profile-birthday::before{
    color: #fff;
}
#cv-profile-sex::before{
    color: #fff;
}
#cv-profile-phone::before{
    color: #fff;
}
#cv-profile-email::before{
    color: #fff;
}
#cv-profile-address::before{
    color: #fff;
}
#cv-profile-face::before{
    color: #fff;
}
#cv-profile-fullname::before{
  color: #fff;
}
#cv-profile-job::before{
  color: #fff;
}