/* 2 */

:root {
  --page: url(page2.png) no-repeat;
  --fake: url(fake2.png) no-repeat;
  --tt: url(tt-t2.png) no-repeat, url(tt-b2.png) no-repeat;
  --cum: url(cum2.png) no-repeat;
  --head: url(border-h2.png) no-repeat, url(head-f2.png) no-repeat;
  --block: url(head_l2.png) no-repeat, url(head-r2.png) no-repeat;
  --muctieu: url(muctieu_t2.png) no-repeat, url(muctieu_b2.png) no-repeat, url(muctieu_f2.png) no-repeat;
  --kn: url(kn2.png) no-repeat;
  --box-c: url(box-ct2.png) no-repeat, url(box-cb2.png) no-repeat, url(box-cf2.png) repeat-y;
  --time-c: url(time-c2.png) no-repeat;
  --color: #c4d7e0;
  --color-c: #2b3f6a;
  --color-b: #c4d7e0;
  --color-t: #697995;
}