#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 23px;
    color: #242a42;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    background: #fff;
}

#sortable .cvo-block .box-content {
    padding: 0;
    margin: 0;
    width: 100%;
    color: #242a42;
}

#cvo-profile {
    display: block;
}

#cv-content {
    width: 45%;
    text-align: justify;
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    margin-right: 15px;
}

div#sort_block {
    margin-left: 10px;
}

#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    width: 45%;
    margin-left: 35px;
}

#cv-right .ir {}

p.skill-name input {
    color: #fff !important;
}

#cv-right #box03 .ctbx {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    padding-bottom: 6px;
}

#cv-top {
    width: 100%;
    height: 389px;
    background-image: url(hd1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.all {
    background: url(bd1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#cv-top h1 {
    font-size: 40px;
    font-family: "Roboto";
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #242a42;
    font-weight: bold;
    text-align: left;
    padding-top: 40px;
    padding-left: 10px;
}

#cv-top h1 span {
    letter-spacing: 3px;
}

#box-hvt {
    float: right;
    width: 36%;
    padding: 0;
    margin: 0;
    margin-right: 55px;
    /* padding-top: 44px; */
}

#sortable #box01 {
    margin-top: 0;
    padding-top: 0px;
    margin-bottom: 0px;
}

#sortable #box01 #prof {
    padding: 0;
    margin: 0;
}

#box01 ul {
    list-style: none;
    padding-left: 20px
}

#cv-right .cvo-block .head div {
    color: #fff;
}

.innertext {
    margin: 0px;
    padding: 0px;
    width: 29%;
    float: left;
    color: white;
}

#cv-top h2 {
    text-transform: uppercase;
    width: 100%;
    font-size: 17px;
    font-family: "Roboto";
    color: #242a42;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 20px;
    text-transform: uppercase;
    color: #242a42;
    font-weight: bold;
    text-align: left;
    margin: 0px auto 10px;
    line-height: 20px;
    padding-top: 0px;
}

#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #242a42;
}

#cv-content #block02 .exp-content {
    margin: 0;
    padding: 0;
}

#cv-content #block03 h3 {
    font-weight: bold;
}

#cv-content #block04 h3 {
    font-weight: bold;
    padding-top: 5px;
}

#cv-content .exp-date {
    float: left;
}

#cv-content #block01 .exp-date {}

#cv-content #block02 .exp-date {}

#cv-content #block03 .exp-date {
    display: none;
}

#cv-content #block04 .exp-date {
    display: none;
}

#cv-content #block05 .exp-date {
    display: none;
}

#cv-content p.h3 {
    margin: 0px;
    padding: 0px;
}

#cv-content .cvo-block {
    padding: 0px;
    padding-top: 20px;
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

#cv-content #block02 h3 {
    font-weight: bold;
}

.ctbx {
    margin-bottom: 15px;
    padding-left: 0;
    /* margin-top: -15px; */
    padding-right: 0;
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    width: 37%;
    padding: 0;
    margin: 0;
    float: left;
    padding-top: 70px;
    padding-left: 145px;
}

#cvo-profile-avatar-wraper .wimg {
    width: 260px;
    height: 260px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
}

#cvo-profile-avatar-wraper img {
    width: 250px;
    height: 250px;
    float: none;
    display: inline-block;
    border-radius: 400px;
}

#cvo-profile-avatar {
    width: 250px;
    height: 250px;
}

.box-dm {
    width: 324px;
    height: 324px;
    clear: both;
    z-index: 1;
    padding: 0;
    margin: 0;
    display: table;
    position: absolute;
    float: left;
    background: url(ava1.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -294px;
    margin-left: -36px;
    top: -900px;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 10px;
    background: #242a42;
    margin-top: 0px;
}

.ctbx .skill-name {
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}

.bar-exp {
    background: #fff;
    height: 12px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #242a42;
}

.bar-value-exp {
    width: 100%
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
}

.icoweb {
    width: 91%;
    float: left;
    /* margin-left:     10px; */
}

div#box01 {
    width: 100%;
    float: left;
}

.icoweb label {
    display: block;
}

#sortable .icoweb {
    width: 87%;
    height: 30px;
    line-height: 30px;
    float: right;
    padding-left: 5px;
    margin-bottom: 0
}

#sortable .ic {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 30px;
}

.ic {
    height: 30px;
    float: left;
    width: 100%
}

#form-cv .icf {
    float: left;
    line-height: 26px;
    margin-bottom: 0;
    width: 20px;
    text-align: left;
    height: 20px;
}

.ic .icoweb {}

.icf .fa {
    font-size: 16px;
    color: #242a42;
    margin-top: 0;
    float: none;
}

div#prof {
    margin-top: 20px;
    width: 100%;
}

.container {
    width: 100%;
}

.sum {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-content .head {
    width: 100%;
    height: 50px;
    line-height: 35px;
}

div#cvo-experience-blocktitle {
    width: 100%;
    border-bottom: 2px solid #242a42;
}

#experience-table .ctbx {}

.ifo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

.ski {
    margin: 0;
    padding: 0;
    width: 95%;
    height: 40px;
}

.cum {
    margin: 0;
    padding: 0;
    width: 95%;
    height: 45px;
}

.exp.content-edit.skill {
    width: 100%;
}

#cv-right h3 {
    width: 100%;
    height: 35px;
    margin: 0;
    color: #242a42;
    padding: 0;
    float: right;
    line-height: 40px;
    text-align: left;
}

#cv-right .block {
    margin-bottom: 20px;
    position: relative;
    padding: 0 10px;
}

#experience-table #exp2 {
    margin-top: 10px;
}


/* #block01 #experience-table .ctbx {
    padding-left: 20px;
    width: 90%;
    margin-left: 10px;
}
#block02 #experience-table .ctbx {
    padding-left: 20px;
    width: 90%;
    margin-left: 10px;
}
#block03 #experience-table .ctbx {
    padding-left: 20px;
    width: 90%;
    margin-left: 10px;
}
#block04 #experience-table .ctbx {
    padding-left: 20px;
    width: 90%;
    margin-left: 10px;
}
#block05 #experience-table .ctbx {
    padding-left: 20px;
    width: 90%;
    margin-left: 10px;
} */


/*#prof {
    padding: 5px 35px;
    width: 90%;
    background: url(bg-it.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position-y: center;
}*/


/* .cumic1 {
    width: 55px;
    height: 55px;
    float: left;
    background: url(ic-1.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: -5px;
    dis
} */

.cumic2 {
    width: 65px;
    height: 65px;
    float: left;
    display: none;
}

.cumic3 {
    width: 65px;
    height: 65px;
    float: left;
    display: none;
}

.cumic4 {
    width: 65px;
    height: 65px;
    float: left;
    display: none;
}

.cumic5 {
    width: 65px;
    height: 65px;
    float: left;
    display: none;
}

.cumic6 {
    width: 65px;
    height: 65px;
    float: left;
    display: none;
}

.cumic7 {
    width: 65px;
    height: 65px;
    float: left;
    display: none;
}

.skiic {
    width: 65px;
    height: 65px;
    float: left;
    display: none;
}


/* .footer {
    width: 100%;
    height: 76px;
    background: url(ft1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
} */

.ic-01 {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.ic-03 {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.ic-05 {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.ic-02 {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.ic-04 {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

span#cv-profile-email {
    width: 85%;
}

span#cv-profile-address {
    width: 85%;
}

div#experience-table {
    margin-top: 10px;
    text-align: justify;
    color: #242a42;
}

#block01 div#experience-table {
    width: 89%;
    margin-left: 35px;
    border-left: 2px solid #242a42;
}

#block01 h3 {
    background: url(ic1.png)no-repeat;
    background-position: left top;
    background-size: 8%;
    padding-left: 25px;
}

#block01 p.h3 {
    background: url(ic1.png)no-repeat;
    background-position: left;
    background-size: 8%;
    padding-left: 25px;
}

#block01 .exp-content {
    background: url(ic1.png)no-repeat;
    background-position: left bottom;
    background-size: 8%;
    padding-left: 25px;
}

.exp-title {
    width: 100%;
}

span.exp-date {
    width: 100%;
}