
#cv-top {
    background: url(../bg_top3.png) no-repeat;
    background-position: left top;
}
div#cvo-profile {
    background: url(../bg-avt3.png) no-repeat;
    background-size: 239px 222px;
    background-position: 90.5% 15px;
}
.bar-exp {
    background: url(../bar_exp3.png) no-repeat;
    background-size: 100%;
}
.bar-exp div {
    background: url(../skill3.png) no-repeat;
}

.exp-date {
    /* background: url(../bg_date3.png) no-repeat;
    background-position: 100% 50%;
    border-right: solid 3px #7bdfcb; */
}
.chu h2 {
    color: #7bdfcb;
}
.fake_img {
    background: url(../fake-img3.png) no-repeat;
}

.footer {
    background: url(../foot3.png) no-repeat;
    background-position: right;
}