
#cv-top {
    background: url(../bg_top2.png) no-repeat;
    background-position: left top;
}
div#cvo-profile {
    background: url(../bg-avt2.png) no-repeat;
    background-size: 239px 222px;
    background-position: 90.5% 15px;
}
.bar-exp {
    background: url(../bar_exp2.png) no-repeat;
    background-size: 100%;
}
.bar-exp div {
    background: url(../skill2.png) no-repeat;
}

.exp-date {
    /* background: url(../bg_date2.png) no-repeat;
    background-position: 100% 50%; */
    /* border-right: solid 3px #f3b8b3; */
}
.chu h2 {
    color: #f3b8b3;
}
.fake_img {
    background: url(../fake-img2.png) no-repeat;
}

.footer {
    background: url(../foot2.png) no-repeat;
    background-position: right;
}