#form-cv{
	width: 100%;
	float: left;
	font-size: 14px;
	line-height: 24px;
	color:#565656;	
	padding: 0px;
	margin: 0px;

}
.cv_tt{
    float: left;
    width: 100%;
    background-color: #faf7f7;
}
#cv-main{
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
    background-image: url('bg2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ft{
    float: left;
    width: 100%;
    height: 60px;
    background-image: url('ft.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#cv-content{
    width: 49%;
    float: right;
    padding: 0px;
    margin: 0px;
    padding-left: 2%;
    padding-right: 3%;
    padding-top: 25px;

}
#cv-right{
	width: 42.999%;
	float: left;	
	padding: 0px;
    margin: 0px;
    padding-left: 2%;
    padding-top: 25px;
}
#cv-top{
    float: left;
    width: 100%;
    height: 370px;
    background-image: url(bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #fff;
}

#sort_block,
.cv-right .ir,
#sortable{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;
}
#cv-content .cvo-block,
#cv-right .block{
	float: left;	
	padding: 0px!important;
    margin: 0px;
    width: 100%;
}
#cv-content .head,
#cv-right h3,
#cv-right .cvo-block p{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content #experience-table{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;
}
#cv-content #experience-table .ctbx{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
	box-sizing: border-box;
	border-top: 0px;
	border-bottom: 0px;
	padding: 0px 8px;
	padding-top: 3px;
}
#cv-content h3{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;	
    color: #282f27;
    text-align: left;
    line-height: 40px;
    height: 40px;
}
#cv-content .h3{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;	
}
#cv-content .exp-content{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;	
}
div{
	margin: 0px;
	padding: 0px;
}
.ctbx{
    position: relative;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
.bar-exp {
    height: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.bar-exp{
    height: 8px;
    float: left;
    margin: 8px 0px;
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #018989;
}
#cv-title {
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    font-size: 20px
}
.exp .ctbx{
    display: table;
    width:95%;
    padding-left: 2%;
}
.edit-content .bar-value-exp {
    display: block;
}
.bar-value-exp {
    display: none;
}
.bar-exp{
    width: 100%;
    background: #959595;
    height: 8px;    
    float: left;
    margin-bottom: 12px;
}
.bar-value-exp{
    width:100%;
    float: right;
}
p.skill-name input{
    border-bottom: 0;
    font-size: 14px;
    border:0
}
.bar-value-exp input[type="text"]{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    color: #000;
}
#cv-right .h3, #cv-content .head{
    background: none;
    text-align: left;
    color: #343434;
    width: 85%;
}

#cv-content .head{
    line-height: 31px;
    font-size: 20px;
    font-weight: bold;
    width: 97%;
    padding: 8px 2px 0px 8px;

}
#cv-content h3{
    font-size: 16px;
}
#page-cv{
    max-width: 790px
}
.ava{
    float: left;
    width: 20%;
    padding:30px 40% 0px;
    display: none;
}
#cvo-profile-avatar-wraper{
    float: left;
    width: 100%;
    border: solid 4px #ff824c; 
    border-radius: 5px;
    display: none;
}
#box-hvt{
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding-top: 65px;
}

#box-hvt h1{
    color: #faf7f7;
    font-size: 34px;
    padding: 20px 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    float: left;
    width: 75%;
    letter-spacing: 4px;
    line-height: 38px;
    font-weight:bold;
    border: solid 2px #fff;
    background-color: #5c9294;
    margin-left: 9%;
}

#box-hvt h2{
    font-weight: bold;
    color: #424242;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    letter-spacing: 4px;
    padding-top: 30px;
}
#cv-right .block{
    margin-top: 0px;
    margin-bottom: 0px;
}
#cv-right .block h3{
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
    font-weight: bold;
    padding: 10px 11px 10px 8px;
    box-sizing: border-box;
    color: #343434;
}

#cv-right .cvo-block p{
    padding: 0px 3% 8px;
    width: 94%;
    margin: 0px;
}
#cv-right .cvo-block p.skill-name{
    border: none;
    padding: 0px;
}
.skill{
}
#cv-right {
    color: #374d59;
}
#cv-right #box02{
    color: #565656;
}

#cv-right p {
    text-align: justify;
}
.icoweb i.fa{
    font-size: 15px;
    width: 25px;
    color: #818282;
    border-right: solid 7px #fad0a1;
}

.box-contact p{
    font-size: 14px;
    line-height: 18px;
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 7px;
}



#sortable .box-contact p.icoweb{
    margin-bottom: 7px;
}

.box-info .box-contact{
    float: left;
    width: 100%;
    padding: 10px 0 0px;
    margin: 0px;
    margin-bottom: 10px;

}
.box-info{
    float: left;
    width: 100%;
    margin: 0px;
}
#box-hvt p{
    display: none;
}
#form-cv .cvo-block .icf {
    float: left;
    width: 28px;
    padding: 0px;
    line-height: 28px;
    margin-bottom: 0;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #018989;
    color: #018989;
    text-align: center;
}
.ic {
    float: left;
    width: 100%;
    margin-bottom: 8px;
    line-height: 22px;
}
.watermark {
    float: left;
    width: 100%;
    /* height: 22px; */
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    padding-top: 35px;
    font-family: Courier;
  }