#form-cv {
	font-size: 13px
}

#cv-content .cvo-block .head {
	font-size: 16px
}

.cum,
.ski {
	font-size: 16px;
}

#cv-content h3 {
	font-size: 13px
}

#cv-top h2 {
	font-size: 16px
}

#cv-top h1 {
	font-size: 34px;
}