.fake_img {
  background: url(../fake3.png) no-repeat;
  background-size: 100% 100%;
}

#box-hvt {
  background: url(../info3.png) no-repeat;
  background-size: 100%;
  background-position: left bottom;
}

.ic1 {
  background: url(../date3.png) no-repeat;
  background-position: 1px center;
}

.ic2 {
  background: url(../sex3.png) no-repeat;
  background-position: 1px center;
}

.ic3 {
  background: url(../phone3.png) no-repeat;
  background-position: 1px center;
}

.ic4 {
  background: url(../email3.png) no-repeat;
  background-position: 1px center;
}

.ic5 {
  background: url(../add3.png) no-repeat;
  background-position: 1px center;
}

#box02 div#cv-boxtitle {
  background: url(../muctieu3.png) no-repeat;
  background-position: left center;
}

#box03 div#cv-boxtitle {
  background: url(../kynang3.png) no-repeat;
  background-position: left center;
}

#box04 div#cv-boxtitle {
  background: url(../giaithuong3.png) no-repeat;
  background-position: left center;
}

#box05 div#cv-boxtitle {
  background: url(../chungchi3.png) no-repeat;
  background-position: left center;
}

#box06 div#cv-boxtitle {
  background: url(../sothich3.png) no-repeat;
  background-position: left center;
}

#box07 div#cv-boxtitle {
  background: url(../thamchieu3.png) no-repeat;
  background-position: left center;
}

.bar-exp div {
  background: #0ec0b4;
}

#cv-content #block01 .head #cvo-experience-blocktitle {
  background: url(../hocvan3.png) no-repeat;
  background-position: left center;
}

#cv-content #block02 .head #cvo-experience-blocktitle {
  background: url(../kinhnghiem3.png) no-repeat;
  background-position: left center;
}

#cv-content #block03 .head #cvo-experience-blocktitle {
  background: url(../hoatdong3.png) no-repeat;
  background-position: left center;
}

#cv-content #block04 .head #cvo-experience-blocktitle {
  background: url(../duan3.png) no-repeat;
  background-position: left center;
}

#cv-content #block05 .head #cvo-experience-blocktitle {
  background: url(../duan3.png) no-repeat;
  background-position: left center;
}

.exp-title {
  color: #0ec0b4;
}

.footer {
  background: url(../foot3.png) no-repeat;
}