#box-hvt{
	background: #74ad00;
}
#cvo-profile-avatar-wraper{	    
    background: #74ad00;
}
#form-cv{
	border: solid 1px #74ad00;
}
#cv-right{
    background-color: #74ad00;
}

#cv-right h3 span{
	color: #ffeee6;
}

#cv-top h2{
	color: #e0ebeb;
}
#cv-content .head {
	background-color: #9fdfbf;
}

#cv-content .head span{
	color: #e76838;
}
.ctbx .exp-title{
	color: #74ad00!important;
}