/* 3 */

:root {
  --sex: url(sex3.png) no-repeat;
  --phone: url(phone3.png) no-repeat;
  --date: url(date3.png) no-repeat;
  --email: url(mail3.png) no-repeat;
  --add: url(add3.png) no-repeat;
  --ngang: url(ngang3.png) no-repeat; 
  --skill: url(skill3.png) no-repeat;
  --fake: url(fake3.png) no-repeat;
  --page: url(foot3.png) no-repeat, url(page3.png) no-repeat;
  --doc: url(all3.png) no-repeat;
  --top: url(top3.png) no-repeat;
  --wing: url(wing3.png) no-repeat;
  --color: #5784b9;
  --color-b: #9ac8eb;
}