#cv-top {
    background: url(bg_top2.png) no-repeat;
}

#prof .ic1 .icf {
    background: url(date2.png) no-repeat;
    background-position: left center;
}

#prof .ic2 .icf {
    background: url(sex2.png) no-repeat;
    background-position: left center;
}

#prof .ic3 .icf {
    background: url(phone2.png) no-repeat;
    background-position: left center;
}

#prof .ic4 .icf {
    background: url(mail2.png) no-repeat;
    background-position: left center;
}

#prof .ic5 .icf {
    background: url(add2.png) no-repeat;
    background-position: left center;
}

#cv-content #block02 h3 {
    background: url(dot2.png) no-repeat;
}

.fake_img {
    background: url(fake_avt2.png) no-repeat;
}

.head {
    background: linear-gradient(to right, #fc4b1a, #fc8b1a) !important;
}

#box03 .ski {
    background: url(bg_skill2.png)no-repeat;
}

#box05 .cum {
    background: url(cer2.png)no-repeat;
}

#box04 .cum {
    background: url(prize2.png)no-repeat;
}

#box06 .cum {
    background: url(hob2.png)no-repeat;
}

#box07 .cum {
    background: url(rp2.png)no-repeat;
}

.bar-exp div {
    background: url(skill2.png) no-repeat;
}
.footer {
    background: url(footer2.png) no-repeat;
}
#cvo-profile-avatar-wraper .wimg {
    margin-left: 4px;
    left: -4px;
}

div#box02 .box-content {
    background: url(../bg2.png) no-repeat;
    background-size: 100% 100%;
}

div#prof {
    background: url(../ifo2.png) no-repeat;
    background-size: 100% 100%;
}