#cv-top h1 {
    background-color: #ff5757;
}

.ic {
    color: #ff5757;
}

.head::after,
.cum::after,
.ski::after {
    background-color: #ff5757;
}

.right_bar,
.footer {
    position: absolute;
    background-image: url(background_rightside_mau3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 47px;
    height: 100%;
    top: 0;
    right: 0;
}