#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.cv_page {
  float: left;
  width: 100%;
  background: var(--page), var(--main);
  background-position: left bottom, right top;
  background-size: 100% 888px, 390px 100%;
  padding-top: 0px;
}

#sortable .cvo-block .box-content {
  float: left;
  margin: 0;
  width: 100%;
  color: #000;
  padding: 0;
  text-align: justify;
  padding: 5px;
}

.exp.content-edit.skill {
  float: left;
}


#cvo-profile {
  display: block;
}

#cv-content {
  width: 51%;
  text-align: justify;
  float: left;
  position: relative;
  z-index: 2;
  padding: 0 30px 0 20px;
  margin: 0;
}

#cv-profile-sex:before {
  color: #fff;
}

#cv-profile-birthday:before {
  color: #fff;
}

#cv-main {
  text-align: justify;
  margin: 0;
  padding: 0;
  float: left;
  width: 49%;
  padding: 0px 20px 0 15px;
}

.chu {
  float: left;
  width: 91%;
  padding-bottom: 15px;
}

.anh {
  float: right;
  width: 28%;
  padding-top: 80px;
  position: relative;
}

#cv-right .ir {
  padding: 0;
  margin: 0;
}

#cv-main #cv-right {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

#cv-main #cv-right .ir #sortable {
  padding: 0;
  margin: 0;
}

#cv-right .ir #sortable .block {
  margin-top: 0 !important;
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#cv-right .ir #sortable #box02 {
  padding-top: 0;
}

.ct_bo {
  float: left;
  width: 100%;
  padding-left: 15px;
}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
}

#cv-content #box01 {
  padding: 0;
  margin: 0;
}

#box03 .exp {
  float: left;
  width: 100%;
  padding-left: 20px;
}

#cv-top {
  width: 100%;
  float: left;
  background: var(--top);
  background-position: left top;
}

.all {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 0px !important;
  flex-direction: row-reverse;
}

#cv-top h1 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  font-family: "Roboto";
  text-transform: uppercase;
  margin-bottom: 0;
  color: #000000;
  font-weight: bold;
  width: 100%;
  float: left;
  padding-bottom: 3px;
  position: relative;
  line-height: 45px;
  padding-left: 25px;
}

#cv-top h1 div {
  ;
  width: 100%;
  line-height: 45px;
}

div#box01 {
  float: left;
  width: 100%;
  padding: 15px 20px 10px 40px;
  background-color: var(--color-tt);
  border-radius: 80px;
  border: solid 3px var(--color-tx);
}

#box-hvt {
  float: left;
  width: 69%;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 20px;
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-profile-fullname::before {
  color: #000;
}

#cv-top h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  font-size: 17px;
  float: left;
  font-weight: bold;
  position: relative;
  color: var(--color-tx);
  padding-left: 25px;
}

.box-01 p {
  overflow: hidden;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-content h3 {
  float: left;
  width: 100%;
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  color: #000;
  display: flex;
  flex-direction: column;
}

#cv-content #block04 h3 {
  font-weight: bold;
}

#cv-content #block02 h3 {
  display: flex;
  flex-direction: column;
}

#cv-content #block03 h3 {
  font-weight: unset;
  float: left;
}

#cv-content p.h3 {
  float: left;
  width: 100%;
  margin: 0px;
}

#cv-content .cvo-block {
  float: left;
  width: 100%;
}

#cv-content .ir .cvo-block {
  margin-top: 0px !important;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#cv-content .ir #block01 {
  padding-top: 0;
}

.ctbx {
  padding-left: 10px;
  padding-right: 10px
}

#experience-table .ctbx {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}


.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
  width: 100%;
  padding: 0;
  margin: 0;
}

#cvo-profile-avatar-wraper .wimg {
  width: 191px;
  height: 192px;
  padding-top: 6px;
  padding-left: 6px;
  background: var(--color);
  border-radius: 99em;
}

#cvo-profile-avatar-wraper img {
  width: 179px;
  height: 179px;
  float: left;
  border-radius: 99em;
}

.box-01 {
  float: left;
  width: 100%;
}

#cvo-profile {
  float: left;
  display: block;
}

#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: left;
  height: 17px;
  background: var(--kn);
  background-position: left;
}

.ctbx .skill-name {
  margin: 0px;
  padding: 0px;
  color: #000;
  float: left;
  width: 100%;
  text-align: left;
}

.bar-exp {
  padding: 0px;
  float: left;
  width: 301px;
  height: 17px;
  margin-top: 4px;
  background: var(--skill);
}

.bar-value-exp {
  width: 100%
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 95%
}

.icoweb label {
  display: block;
}

#cv-right .block {
  position: relative;
  padding: 0;
  margin: 0;
}

.ic .icoweb {
  width: calc(100% - 30px);
  text-align: left;
  padding-left: 5px;
  float: left;
  color: #000;
}

.ic {
  width: 100%;
  float: left;
  color: #000;
  padding-bottom: 10px;
}

#prof [contentEditable=true] {
  width: 100%;
  float: left;
}

#prof .icoweb,
#prof .icoweb span {
  height: auto;
  text-align: left;
  width: 90%;
  float: left;
}

div#prof {
  float: left;
  width: 100%;
}

#form-cv .icf {
  float: left;
  line-height: 20px;
  margin-bottom: 0;
  width: 26px;
  height: 20px;
  text-align: left;
  display: none;
}

.ic02 {
  float: right;
  width: 64%;
}

.ic03 {
  float: left;
  width: 35%;
}

.icf .fa {
  font-size: 20px;
  color: #000;
  margin-top: 0;
  float: left;
}

.container {
  width: 100%;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

#cv-right .block {
  margin-bottom: 10px;
  position: relative;
  padding: 0;
  padding-bottom: 20px;
}

#experience-table .ctbx {
  float: left;
  width: 100%;
  margin-top: 15px !important;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

#cv-right h3 {
  width: 100%;
  height: 30px;
  margin: 0;
  color: #ffffff;
  padding: 0;
  float: left;
  line-height: 30px;
  text-align: center;
  background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
  float: left;
  color: #fff;
  position: relative;
  z-index: 990;
  width: 100%;
  padding: 3px 0;
}

#bg {
  background: #F58284;
  text-align: left;
}

div#experience-table {
  float: left;
  width: 100%;
  padding-left: 15px;
}

#cv-boxtitle {
  float: left;
  width: max-content;
  max-width: 320px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 15px;
  padding-left: 20px;
  color: var(--color-tx);
  text-align: left;
  background: var(--tt-main), var(--color-m);
  background-position: left center;
}

.ski {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  line-height: 30px;
  text-align: left;
}

.cum {
  margin: 0;
  width: 100%;
  line-height: 30px;
}

div#sort_block {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

.cvo-block .blockControls {
  margin: 0px;
  padding: 0px;
}

#cv-profile-job::before {
  color: #000;
}

.footer {
  float: left;
  width: 100%;
  height: 32px;
  margin: 0;
  padding: 0;
}

.watermark {
  float: left;
  width: 100%;
  color: #000;
  text-align: right;
  padding-right: 22px;
  padding-top: 2px;
  font-size: 15px;
  font-family: Courier;
}

#prof .ic:nth-child(1),
#prof .ic:nth-child(3) {
  width: 35%;
  float: left;
}

#prof .ic:nth-child(2) {
  width: 30%;
}

#cv-content .cvo-block .head {
  float: left;
  margin: 0;
  width: 90%;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  border-radius: 30px;
  padding-left: 50px;
  padding-right: 20px;
}

#cv-content #block01 .head {
  background: var(--hocvan), var(--color-b);
  background-position: 10px center;
}

#cv-content #block02 .head {
  background: var(--kinhnghiem), var(--color-b);
  background-position: 10px center;
}

#cv-content #block03 .head {
  background: var(--hoatdong), var(--color-b);
  background-position: 10px center;
}

#cv-content #block04 .head {
  background: var(--duan), var(--color-b);
  background-position: 10px center;
}

#cv-content #block05 .head {
  background: var(--TTthem), var(--color-b);
  background-position: 10px center;
}

.ic1,
.ic2,
.ic3,
.ic4,
.ic5 {
  width: 100%;
  float: left;
  line-height: 30px;
  margin-bottom: 8px;
  padding-left: 40px;
}

.ic1 {
  width: 32%;
  background: var(--date);
  background-size: 30px;
  background-position: 0px 0px;
}

.ic2 {
  float: left;
  width: 23%;
  margin-right: 0px;
  background: var(--sex);
  background-size: 30px;
  background-position: 0px 0px;
}

.ic3 {
  width: 38%;
  background: var(--phone);
  background-size: 30px;
  background-position: 0px 0px;
}

.ic4 {
  width: 100%;
  background: var(--email);
  background-size: 30px;
  background-position: 0px 0px;
}

.ic5 {
  width: 100%;
  background: var(--add);
  background-size: 30px;
  background-position: 0px 0px;
}

.icoweb {
  float: right;
}

.fake_img {
  float: left;
  width: 348px;
  height: 345px;
  position: absolute;
  top: 0px;
  display: none;
}

#box02 .box-content {
  color: #000;
  padding: 10px;
}

.cum,
.ski {
  float: left;
  width: 100%;
  text-align: left;
  font-size: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: var(--ngang);
  background-position: 5px center;
  background-size: 100% 3px;
}

#cv-content .exp-date {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline;
  color: #000;
  text-align: left;
}

#cv-content #block04 .exp-date {
  display: none;
}

.exp-title {
  float: left;
  width: 100%;
}

#block01 .exp-title,
#block02 .exp-title,
#block04 .exp-title {
  font-weight: bold;
}

.bar-exp div p {
  color: #F44336;
  display: block;
  position: absolute;
  font-size: 20px;
  z-index: 99999;
}

#block03 h3 {
  display: none;
}

span.exp-subtitle {
  width: 100%;
}

.ifo {
  float: right;
  width: 72%;
  position: relative;
  padding-top: 73px;
}

#prof .icoweb {
  width: 100%;
}

#prof .ic2 .icoweb {
  width: 100%;
}

#prof .ic1 .icoweb {
  width: 100%;
}

.icright1,
.icright2,
.icright3,
.icright4,
.icright5 {
  display: none;
}

#block05 h3,
#block05 .exp-content {
  display: none;
}

.exp-content {
  float: left;
  width: 100%;
}


#experience-table #exp1 {
  margin: 0;
  margin-top: 0 !important;
  padding-top: 10px;
}

#block04 #exp1 {
  margin-top: 0 !important;
}

#cv-right .ir #sortable #box03 {
  margin: 0;
}

#cv-content #block05 p.h3 {
  padding: 0;
}

#cv-right .ir #sortable #box01 {
  display: none;
}

:root {
  --sex: url(sex1.png) no-repeat;
  --phone: url(phone1.png) no-repeat;
  --date: url(date1.png) no-repeat;
  --email: url(mail1.png) no-repeat;
  --add: url(add1.png) no-repeat;
  --page: url(page-1.png) no-repeat;
  --skill: url(skill1.png) no-repeat;
  --kn: url(kn1.png) no-repeat;
  --main: url(main1.png) no-repeat;
  --top: url(top-1.png) no-repeat;
  --hocvan: url(hocvan.png) no-repeat;
  --kinhnghiem: url(kinhnghiem.png) no-repeat;
  --hoatdong: url(hoatdong.png) no-repeat;
  --duan: url(duan.png) no-repeat;
  --TTthem: url(TTthem.png) no-repeat;
  --tt-main: url(tt-main1.png) no-repeat;
  --ngang: url(ngang1.png) no-repeat;
  --color: #acb1d6;
  --color-b: #8294c4;
  --color-tx: #8193c4;
  --color-tt: #e9ecf2;
  --color-m: #f4f5f9;
}