#cv-main {
  background-color: rgb(249,235,215);
}

.watermark_js {
  background-color: rgb(203,153,135);
  right: 0px;
}
#cvo-experience-blocktitle {
  color: rgb(189, 148, 122);
}

#cvo-profile-avatar-wraper {
  background: url('./bg_img1.svg') no-repeat top  ,url('./bg_img2.2.svg') no-repeat top right;
}