:root {
  --color: #9cd7f5;
  --color2: #1a184e;
}
#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  /* color: #000; */
}

#sortable .cvo-block .box-content {
  margin-top: 10px;
  width: 100%;
  padding-bottom: 5px;
}

.exp.content-edit.skill {
  float: left;
}

#cvo-profile {
  display: block;
}

#cv-content {
  width: 46%;
  text-align: justify;
  float: left;
  position: relative;
  padding: 0;
  margin: 0;
}

#cv-profile-phone:before {
  color: #fff;
}

#cv-profile-email:before {
  color: #fff;
}

#cv-profile-address:before {
  color: #fff;
}

#cv-profile-sex:before {
  color: #fff;
}

#cv-profile-birthday:before {
  color: #fff;
}

#cv-main {
  padding-top: 10px;
  /* background: beige; */
  text-align: justify;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  float: right;
  width: 50%;
  padding-top: 10px;
}

.chu {
  float: left;
  width: 61%;
  margin: 0 30px;
  /* border: 1px solid #c18d50; */
  border-radius: 50px;
  /* position: relative; */
}
.chu h1 {
  background: url(Line.png) no-repeat;
  background-position: bottom center;
}
.anh {
}

#cv-right .ir {
  padding: 0;
  margin: 0;
}

#cv-main #cv-right {
  width: 93%;
  padding: 0;
  margin: 0;
  float: left;
  margin-left: 20px;
  /* position: absolute; */
  top: 166px;
}

#cv-main #cv-right .ir #sortable {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

#cv-right .ir #sortable .block {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  /* padding: 10px 20px; */
  margin-top: -10px;
  padding-top: 10px;
}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
  width: 100%;
  border: 0;
  padding-bottom: 10px;
  float: left;
}

#cv-content #box01 {
  padding: 0;
  margin: 0;
}

#box03 .exp {
  float: left;
  /* padding-top: 20px; */
  width: 100%;
}

#cv-top {
  float: left;
  width: 100%;
  position: relative;
  padding-top: 0px;
}

.all {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

#cv-top h1 {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 42px;
  text-align: center;
  padding: 2% 1%;
  color: #1a194e;
  /* width: 55%; */
}

#cv-top h1 span {
}

#cv-top h2 span {
  padding: 5px 10px;
  width: unset !important;
}
div#box01 {
  border-left: 10px solid #9cd7f5;
  margin-left: 22px;
  padding-left: 22px;
  float: left;
  /* margin: 0 30px; */
  width: 46%;
  /* margin-top: -31px; */
}

#box-hvt {
  width: 50%;
  /* display: none; */
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-profile-fullname::before {
  color: #000;
}

#cv-top h2 {
  font-weight: 600;
  text-align: center;
  font-style: italic;
  top: 80%;
  right: 46%;
  padding: 5px 10px;
  border-radius: 30px;
  /* color: #ffffff; */
}

.box-01 p {
  overflow: hidden;
}

#cv-content p {
  margin-bottom: 5px;
}

#cv-content .ir a {
  color: #2ebb2f;
}

#cv-right h3,
#cv-content .head {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  text-transform: uppercase;
  /* color: #ffffff; */
  font-weight: bold;
  text-align: left;
  line-height: 20px;
  padding-top: 0px;
}

#cv-content h3 {
  font-weight: unset;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  /* color: #ffffff; */
}

#cv-content #block02 .exp-content {
  margin: 0;
  padding: 0;
}

#cv-content #block03 h3 {
  font-weight: unset;
}

#cv-content .exp-date {
  float: none;
  width: 100%;
}

#cv-content p.h3 {
  margin: 0px;
  padding: 0px;
}

#cv-content .cvo-block {
  float: left;
  width: 100%;
  /* color: #ffffff; */
}

#cv-content .ir .cvo-block {
  padding: 0;
}

.ctbx {
  padding-left: 10px;
  padding-right: 10px;
}

#cv-content span {
  display: inline-block;
  z-index: 9999;
}

#cv-content #block02 h3 {
  font-weight: bold;
  float: left;
  width: 100%;
  text-transform: unset;
  font-size: 15px;
}

#block02 #experience-table #exp2 {
}

.ctbx {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
  top: 4%;
  right: 11%;
  /* position: absolute; */
  background: #ffffff;
  border: 10px solid #9cd7f5;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
}

#cvo-profile-avatar-wraper .wimg {
  height: 138px;
  width: 138px;
  border-radius: 10px;
  overflow: hidden;
}

#cvo-profile-avatar-wraper img {
  width: 100%;
  height: 100%;
  float: none;
}

.box-01 {
  margin-top: 20px;
  float: left;
  width: 100%;
}

#cvo-profile {
  display: block;
  float: left;
  width: 100%;
}

#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: left;
  height: 11px;
}

.ctbx .skill-name {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 100%;
}

.bar-exp {
  display: none;
}

.bar-value-exp {
  width: 100%;
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 95%;
}

.icoweb label {
  display: block;
}

#sortable .icoweb {
}
#cv-right .block {
  /* position: relative; */
  padding: 0;
  margin: 0;
}

.ic .icoweb {
  width: calc(100% - 30px);
  text-align: left;
  padding-left: 5px;
  float: left;
  color: #000;
}

.ic {
  width: 100%;
  float: left;
  color: #000;
  padding-bottom: 10px;
}

#prof span {
}

#prof [contentEditable="true"] {
  width: 100%;
  float: left;
}

#prof .icoweb,
#prof .icoweb span {
  height: auto;
}

div#prof {
  margin-top: 22px;
  font-weight: 500;
  width: 100%;
  /* margin-left: 25px; */
}

#form-cv .icf {
  background-position: center center;
  float: left;
  margin-bottom: 0;
  text-align: left;
}

.ic02 {
  float: right;
  width: 64%;
}

.ic03 {
  float: left;
  width: 35%;
}

.icf .fa {
  font-size: 20px;
  color: #000;
  margin-top: 0;
  float: left;
}

.container {
  width: 100%;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

#cv-right .block {
  margin-bottom: 10px;
  padding: 0;
  padding-bottom: 20px;
}

#cv-content .head {
  border-bottom: 5px solid #7173b6;
  padding-left: 13px;
  margin: 0;
  height: 40px;
  text-align: left;
  line-height: 40px;
  width: 100%;
}
.icright1,
.icright2,
.icright3,
.icright4,
.icright5 {
  width: 22px;
  height: 22px;
  float: left;
}
.icright1 {
  background: url(tdhv.png) no-repeat;
}
.icright2 {
  background: url(knlv.svg) no-repeat;
}
.icright3 {
  background: url(hd.svg) no-repeat;
}
.icright4 {
  background: url(datg.png) no-repeat;
}
.icright5 {
  background: url(ttt.png) no-repeat;
}
#experience-table .ctbx {
  margin-bottom: 10px;
  background-position: 0 8px;
}

.ifo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

#cv-right h3 {
  width: 100%;
  height: 30px;
  margin: 0;
  color: #ffffff;
  padding: 0;
  float: left;
  line-height: 30px;
  text-align: center;
}

#cv-content .head #cvo-experience-blocktitle {
  text-align: left;
  float: left;
}

#experience-table #exp2 {
  margin-top: 10px;
}

#bg {
  text-align: left;
}

div#experience-table {
  margin: 0px;
  width: 100%;
  padding: 10px 0px 10px 0px;
  float: left;
}

div#cv-boxtitle {
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
}

.ski {
  padding: 0;
  margin: 0 auto;
  height: 40px;
  width: 100%;
  line-height: 40px;
  text-align: left;
}

.cum {
  padding: 0;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  /* background-position-y: -5px; */
  border-bottom: 5px solid #7173b6;
  /* padding: 23px; */
  /* padding-bottom: 39px; */
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}

div#sort_block {
  width: 100%;
  padding: 0;
  margin: 0;
  float: left;
  padding-left: 25px;
}

.cvo-block .blockControls {
  margin: 0px;
  padding: 0px;
}

#cv-profile-job::before {
  color: #000;
}

.footer {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.watermark {
  float: left;
  width: 100%;
  color: #999;
  text-align: right;
  padding-right: 22px;
  padding-top: 20px;
  font-size: 15px;
  font-family: Courier;
}

#prof .ic:nth-child(1),
#prof .ic:nth-child(3) {
  width: 35%;
  float: left;
}

#prof .ic:nth-child(2) {
  width: 30%;
}

.ic1,
.ic2,
.ic3,
.ic4,
.ic5 {
  width: 100%;
  float: left;
  padding-bottom: 2px;
}

.ic1,
.ic2,
.ic3 {
}

.ic4,
.ic5 {
  width: 100%;
}

.icoweb {
  padding-left: 5px;
  float: left;
}

.fake_img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -9999px;
  margin-top: -169px;
  margin-left: 15px;
  z-index: 999;
}

#block01 .head {
}

#block02 .head {
}

#block03 .head {
}

#block04 .head {
}

.ic2 {
  width: 40%;
}

#block05 .head {
}

.exp-title {
  font-weight: bold;
  text-transform: uppercase;
}
.cumicc1,
.cumicc2,
.cumicc3,
.cumicc4,
.cumicc5,
.cumicc6,
.cumicc7 {
  float: left;
  height: 22px;
  width: 22px;
  background-position: top left;
}
#box02 .cum {
  padding: 20px;
  background-position-y: -4px;
  padding-bottom: 37px;
}
#box02 .cum .cumicc3 {
  background: url(kn.svg);
}

#box03 .ski {
  border-bottom: 5px solid #7173b6;
  display: flex;
  align-items: center;
  gap: 10px;
  /* padding: 20px; */
  /* padding-bottom: 31px; */
  padding-left: 9px;
  background-position-y: -4px;
  height: 40px;
}
#box03 .ski .cumicc3 {
}

.cumicc4 {
  background: url(gt.svg) no-repeat;
}

.cumicc5 {
  background: url(cc.svg) no-repeat;
}

.cumicc6 {
  background: url(st.svg) no-repeat;
}

.cumicc7 {
  background: url(ntc.svg) no-repeat;
}
.box-content,
.ctbx {
  width: 100%;
}

div#exp1 {
}
.cumiic2 {
  background: url(mtnn.png);
}
.ic1 .icf {
  background-position: center;
  background: url(date.png) no-repeat;
  width: 23px;
  height: 23px;
}

.ic2 .icf {
  background: url(sex.png) no-repeat;
  width: 23px;
  height: 23px;
}

.ic3 .icf {
  background: url(phone.png) no-repeat;
  width: 23px;
  height: 23px;
}

.ic4 .icf {
  background: url(mail.svg) no-repeat;
  width: 23px;
  height: 28px;
}

.ic5 .icf {
  background: url(add.png) no-repeat;
  width: 23px;
  height: 23px;
}

.ic2 span#cv-profile-sex {
}

.ic4 .icoweb,
.ic5 .icoweb {
  width: 85%;
}

#block05 .exp-title {
  font-weight: unset;
  text-transform: none;
  font-size: 14px;
}
.ic1 {
  width: 46%;
}

#cv-main #box01 {
  display: none;
}
.infor_title {
  font-size: 20px;
  text-align: center;
}
.ic3 {
  width: 40%;
}
.exp-subtitle,
.exp-content {
  width: 100%;
}
#box02 {
  padding-top: 22px;
  padding-left: 25px;
  width: 50%;
  float: left;
}
#box02 .cum .cv-boxtitle {
  display: none;
}
#box03 .edit {
  display: none;
}
#block03 .exp-date {
  display: none;
}

#block04 .exp-date {
  display: none;
}
/* #cv-right #sortable :nth-child(3) {
  background: #9cd7f5;
} */
#box05,
#box03,
#box04,
#box06,
#box03,
#box07 {
  background: #9cd7f5;
}
#block05 .exp-subtitle {
  display: none;
}
