
#box-hvt h1 {
background-color: #da1a1a;
color: #fff;
}
.ic-tt {
background-color: #da1a1a;
}
#cv-right h3 {
color:#da1a1a;
}
.ic-head {
background-color: #da1a1a;
}
#page-cv #cv-content .block-title {
color:#da1a1a;
}
#cv-content h3 {
color:#da1a1a;
}
#cv-right h3 span {
	color: unset;
}
.bar-exp div {
	background-color: #da1a1a;
}
.ft {
	background-color: #da1a1a;
}