#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.cv_page {
  float: left;
  width: 100%;
  padding: 0;
  background: var(--page);
  background-position: left top;
  background-size: 100% 100%;
}

#sortable .cvo-block .box-content {
  margin-top: 15px !important;
  margin: 0;
  width: 100%;
  color: #000;
  padding: 0;
  text-align: justify;
}

.exp.content-edit.skill {
  float: left;
}


#cvo-profile {
  display: block;
}

#cv-content {
  width: 51%;
  text-align: justify;
  float: left;
  position: relative;
  z-index: 2;
  padding: 0 30px 0 15px;
  margin-left: 10px;
  /* margin: 0; */
  background-color: #fff;
  border-radius: 5px;
}

#cv-profile-sex:before {
  color: #fff;
}

#cv-profile-birthday:before {
  color: #fff;
}

#cv-main {
  text-align: justify;
  margin: 0;
  padding: 0;
  float: left;
  width: 47%;
  padding: 0 40px 0 10px;
  background: #fff;
  border-radius: 5px;
}

.chu {
  float: left;
  width: 100%;
}

.anh {
  float: left;
  width: 28%;
  padding-top: 30px;
  position: relative;
}

.r-if {
  float: left;
  width: 72%;
  padding: 67px 20px 20px 10px;
}

#cv-right .ir {
  padding: 0;
  margin: 0;
}

#cv-main #cv-right {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

#cv-main #cv-right .ir #sortable {
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

#cv-right .ir #sortable .block {
  margin-top: 0 !important;
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

#cv-right .ir #sortable #box02 {
  padding-top: 0px;
}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  padding-bottom: 20px;
  float: left;
}

#cv-content #box01 {
  padding: 0;
  margin: 0;
}

#box03 .exp {
  float: left;
  padding: 10px 0px;
  width: 100%;
}

#cv-top {
  width: 100%;
  float: left;
  background: var(--top);
  background-position: left 123px, 580px top;
}

.all {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 10px !important;
  padding-left: 20px;
  padding-right: 20px;
}

#cv-top h1 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  font-family: "Roboto";
  text-transform: uppercase;
  margin-bottom: 0;
  color: #000;
  font-weight: bold;
  width: 100%;
  float: left;
  padding-bottom: 10px;
  position: relative;
  line-height: 45px;
  background: var(--chuot);
  background-position: right bottom;
  padding-right: 15px;
}

#cv-top h1 span {
  ;
  width: 100%;
  line-height: 45px;
}

div#box01 {
  float: left;
  width: 100%;
}

#box-hvt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  margin-left: -1.5%;
  padding-left: 20px;
  border-left: solid 3px #a7dbda;
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-profile-fullname::before {
  color: #000;
}

#cv-top h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding-right: 15px;
  width: 100%;
  font-size: 17px;
  float: left;
  font-weight: bold;
  position: relative;
  color: #000;
  padding-bottom: 10px;
  background: var(--job);
  background-position: right center;
}

.box-01 p {
  overflow: hidden;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-content h3 {
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  color: #000;
  display: flex;
  flex-direction: column-reverse;
  font-weight: bold;
}

#cv-content #block03 h3 {
  font-weight: unset;
  float: left;
}

#cv-content p.h3 {
  float: left;
  width: 100%;
  margin: 0px;
}

#cv-content #block02 p.h3 {
  font-weight: bold;
}

#cv-content .cvo-block {
  float: left;
  width: 100%;
}

#cv-content .ir .cvo-block {
  margin-top: 0 !important;
  padding: 0;
  background-position: top;
  padding-bottom: 20px;
}

#cv-content .ir #block01 {
  padding-top: 0px;
}

.ctbx {
  padding-left: 10px;
  padding-right: 10px
}

#experience-table .ctbx {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}


.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
  width: 100%;
  padding: 0;
  margin: 0;
}

#cvo-profile-avatar-wraper .wimg {
  width: 200px;
  height: 200px;
  margin-left: 24px;
  padding-top: 10px;
  padding-left: 7px;
  background: var(--fake);
  background-position: left;
  background-size: 194px 194px;
}

#cvo-profile-avatar-wraper img {
  width: 180px;
  height: 180px;
  border-radius: 99em;
  float: left;
}

.box-01 {
  float: left;
  width: 100%;
}

#cvo-profile {
  float: left;
  display: block;
}

#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: left;
  height: 17px;
  background: var(--kn);
  background-position: right center, left center;
}

.ctbx .skill-name {
  margin: 0px;
  padding: 0px;
  color: #000;
  float: left;
  width: 100%;
  text-align: left;
}

.bar-exp {
  background: var(--skill);
  background-position: left center;
  height: 17px;
  margin-bottom: 0px;
  padding: 0px;
  float: left;
  width: 293px;
  /* margin-top: 10px; */
}

.bar-value-exp {
  width: 100%
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 95%
}

.icoweb label {
  display: block;
}

#cv-right .block {
  position: relative;
  padding: 0;
  margin: 0;
}

.ic .icoweb {
  width: calc(100% - 30px);
  text-align: left;
  padding-left: 5px;
  float: left;
  color: #000;
}

.ic {
  width: 100%;
  float: left;
  color: #000;
  padding-bottom: 10px;
}

#prof [contentEditable=true] {
  width: 100%;
  float: left;
}

#prof .icoweb,
#prof .icoweb span {
  height: auto;
  text-align: left;
  width: 100%;
  float: left;
}

div#prof {
  float: left;
  width: 100%;
}

#form-cv .icf {
  float: left;
  line-height: 20px;
  margin-bottom: 0;
  width: 26px;
  height: 20px;
  text-align: left;
  display: none;
}

.ic02 {
  float: right;
  width: 64%;
}

.ic03 {
  float: left;
  width: 35%;
}

.icf .fa {
  font-size: 20px;
  color: #000;
  margin-top: 0;
  float: left;
}

.container {
  width: 100%;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

#cv-right .block {
  margin-bottom: 10px;
  position: relative;
  padding: 0;
  padding-bottom: 20px;
}

#experience-table .ctbx {
  float: left;
  width: 100%;
  margin-top: 15px !important;
}

#cv-right h3 {
  width: 100%;
  height: 30px;
  margin: 0;
  color: #ffffff;
  padding: 0;
  float: left;
  line-height: 30px;
  text-align: center;
  background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
  color: #000;
  position: relative;
  z-index: 990;
  width: 100%;
  padding-right: 20px;
}

#block01 #cvo-experience-blocktitle {
  background: var(--kinhnghiem);
  background-position: right center;
}

#block02 #cvo-experience-blocktitle {
  background: var(--hocvan);
  background-position: right center;
}

#block03 #cvo-experience-blocktitle {
  background: var(--hoatdong);
  background-position: right center;
}

#block04 #cvo-experience-blocktitle {
  background: var(--duan);
  background-position: right center;
}

#block05 #cvo-experience-blocktitle {
  background: var(--them);
  background-position: right center;
}

#bg {
  background: #F58284;
  text-align: left;
}

div#experience-table {
  float: left;
  border-radius: 10px;
}

#cv-boxtitle {
  float: left;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  text-align: left;
  padding-right: 20px;
  border-bottom: solid 1px var(--color);
}

.ski {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  line-height: 30px;
  text-align: left;
}

.cum {
  margin: 0;
  width: 100%;
  line-height: 30px;
}

div#sort_block {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  padding-top: 20px;
}

.cvo-block .blockControls {
  margin: 0px;
  padding: 0px;
}

#cv-profile-job::before {
  color: #000;
}

.footer {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.watermark {
  float: left;
  width: 100%;
  color: #000;
  text-align: right;
  padding-right: 22px;
  padding-top: 2px;
  font-size: 15px;
  font-family: Courier;
}

#prof .ic:nth-child(1),
#prof .ic:nth-child(3) {
  width: 35%;
  float: left;
}

#prof .ic:nth-child(2) {
  width: 30%;
}

#cv-content .cvo-block .head {
  float: left;
  width: 100%;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  border-bottom: solid 1px var(--color);
}

.ic1,
.ic2,
.ic3,
.ic4,
.ic5 {
  width: 100%;
  float: left;
  line-height: 30px;
  margin-bottom: 5px;
}

.ic1 {
  width: 52%;
  background: var(--date);
  background-position: 0px 2px;
}

.ic2 {
  width: 38%;
  background: var(--sex);
  background-position: 0px 2px;
}

.ic3 {
  background: var(--phone);
  background-position: 0px 2px;
}

.ic4 {
  width: 100%;
  background: var(--email);
  background-position: 0px 3px;
}

.ic5 {
  width: 100%;
  background: var(--add);
  background-position: 0px 3px;
}

.icoweb {
  float: right;
}

.fake_img {
  width: 338px;
  height: 316px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}

#box02 .box-content {
  color: #000;
  padding: 10px;
}

.cum,
.ski {
  float: left;
  width: 100%;
  text-align: left;
  font-size: 20px;
}

#cv-content .exp-date {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline;
  color: #000;
  text-align: left;
}

.exp-title {
  float: left;
  width: 100%;
}

.bar-exp div p {
  color: #F44336;
  display: block;
  position: absolute;
  font-size: 20px;
  z-index: 99999;
}

#block03 h3 {
  display: none;
}

span.exp-subtitle {
  width: 100%;
}

.ifo {
  float: left;
  width: 50%;
  height: max-content;
  position: relative;
  background: var(--doc);
  background-size: 2px 100%;
  background-position: 261px 0;
}

#prof .icoweb {
  width: 100%;
  padding-left: 30px;
}

.icright1,
.icright2,
.icright3,
.icright4,
.icright5 {
  display: none;
}

#block05 h3,
#block05 .exp-content {
  display: none;
}

.exp-content {
  float: left;
  width: 100%;
}

#experience-table #exp1 {
  margin: 0;
}

#cv-right .ir #sortable #box03 {
  margin: 0;
}

#cv-content #block05 p.h3 {
  padding: 0;
}

#cv-right .ir #sortable #box01 {
  display: none;
}

#block01 .exp-date,
#block01 .exp-title {
  font-weight: bold;
}

:root {
  --sex: url(sex-1.png) no-repeat;
  --phone: url(phone-1.png) no-repeat;
  --date: url(date-1.png) no-repeat;
  --email: url(mail-1.png) no-repeat;
  --add: url(add-1.png) no-repeat;
  --top: url(top-1.png) no-repeat, url(top-2.png) no-repeat;
  --job: url(job1.png) no-repeat;
  --skill: url(skill.png) no-repeat;
  --kn: url(kn1-1.png) no-repeat, url(kn2-1.png) no-repeat;
  --page: url(page1.png) no-repeat;
  --fake: url(fake1.png) no-repeat;
  --doc: url(doc.png) no-repeat;
  --color: #f5a1ba;
}