

#cv-content {
  background-color: rgb(194, 180, 216);
}

#cv-content .ir .cvo-block {
 border-bottom: 1px solid rgb(200, 168, 171);
}

.all {
  border-top: 2px solid rgb(194, 180, 216);
}

#box02 .box-content {
  color: #000;
  padding: 10px;
}

#box02 .box-content::before {
  content: "";
  display: block;
  flex: 1;
  height: 30px;
  background: url('../6.2.svg') no-repeat;

}

#box02 .box-content::after {
  content: "";
  display: block;
  flex: 1;
  height: 30px;
  background: url('../6.2.svg') no-repeat;
  margin-right: 8px;
  transform: rotate(180deg);
 
}

.ifo::after {
  background-color: rgb(194, 180, 216)
}


.anh {
  background: url('../bg_img2.svg') no-repeat;
  background-position: bottom;
}

.ic1 {
  background: url('../birthday2.svg') no-repeat;
}

.ic2 {
  background: url('../user2.svg') no-repeat;
}

.ic3 {
  background: url('../phone2.svg') no-repeat;
}

.ic4 {
  background: url('../mail2.svg') no-repeat ;
}

.ic5 {
  background: url('../address2.svg') no-repeat;
}
