#form-cv {
	font-family: "Roboto", sans-serif;
	width: 100%;
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color: #000;
}

.watermark {
	float: left;
	width: 100%;
	height: 22px;
	color: #999;
	text-align: right;
	padding-right: 22px;
	font-size: 15px;
	font-family: Courier;
	background: #fff;
}

#sortable .cvo-block .box-content {
	margin: 0;
	width: 87%;
	margin-top: 15px;
	color: #000;
	margin-bottom: 20px;
	margin-left: 40px;
}

#box03 .exp {
	border-right: 2px solid #2d2d2d;
	float: left;
	margin: 0;
	width: 70%;
	padding-bottom: 30px;
	z-index: 1;
	/* margin-top: -100px; */
}

#cvo-profile {
	display: block;
}

.chu {
	float: right;
	width: 68.5%;
	margin-right: 10px;
}

#cv-content {
	width: 49.9%;
	text-align: justify;
	float: right;
	position: relative;
	margin-right: 0;
}

#cv-main {
	text-align: justify;
	margin-top: -60px;
	position: relative;
	float: left;
	width: 40.5%;
	margin-left: 30px;
}

#cv-right .ir {
	padding: 0;
	margin: 0;
}

#cv-main #cv-right {
	float: left;
	width: 100%;
}

#cv-main #cv-right .ir #sortable {
	padding: 0;
	margin: 0;
}

#cv-right .ir #sortable .block {
	float: left;
	width: 100%;
}

p.skill-name input {
	color: #fff !important;
}

#cv-right #box03 .ctbx {
	width: 90%;
	padding: 0;
	margin: 0;
	margin-left: 20px;
	padding-bottom: 5px;
	float: left;
}

#cv-top {
	width: 100%;
	height: 517px;
	background-image: url(hd1.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.all {
	float: left;
	clear: both;
	width: 100%;
	margin-top: -1px;
	background: url(main1.png)no-repeat;
	background-size: 100% 100%;
}

#cv-top h1 {
	padding: 0;
	margin: 0;
	font-size: 44px;
	font-family: "Roboto";
	line-height: 35px;
	text-transform: uppercase;
	margin-bottom: 0;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	width: 100%;
	float: left;
	padding-bottom: 5px;
}

#cv-top h1 span {
	;
}

#box-hvt {
	float: right;
	width: 55%;
	padding: 0;
	margin: 0;
	padding-top: 125px;
}

#cv-right .cvo-block .head div {
	color: #fff;
}

.innertext {
	margin: 0px;
	padding: 0px;
	width: 29%;
	float: left;
	color: white;
}

#cv-top h2 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
	font-weight: unset;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	padding-top: 5px;
	float: left;
}

.box-01 p {
	overflow: hidden;
}

#cv-content p {
	margin-bottom: 5px
}

#cv-content .ir a {
	color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
	font-size: 20px;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	padding-top: 0px;
}

#cv-content h3 {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: unset;
	margin: 0px;
	padding: 0px;
	color: #000000;
	padding-top: 10px;
	padding-right: 18px;
	margin-bottom: 10px;
}

#cv-content #block01 h3 {
	margin-left: 75px;
	color: #000000;
	text-transform: uppercase;
	width: 84%;
}

#cv-content #block02 h3 {
	float: left;
	margin-top: 50px;
	width: 15%;
	text-transform: uppercase;
}

#cv-content #block04 h3 {
	margin-left: 75px;
	color: #000000;
	text-transform: uppercase;
}

#cv-content #block05 h3 {
	color: #000000;
	text-transform: uppercase;
}

#cv-content #block02 .exp-content {
	width: 75%;
	/* padding-left: 18px; */
}

#cv-content #block03 h3 {
	margin-left: 75px;
	font-weight: unset;
	text-transform: unset;
}

#cv-content .exp-date {
	float: none;
}

#cv-content #block01 .exp-date {
	display: none;
}

#cv-content #block03 .exp-date {
	display: none;
}

#cv-content #block04 .exp-date {
	display: none;
}

#cv-content #block05 .exp-date {
	display: none;
}

#box02 .cum #cv-boxtitle {
	padding: 0;
	margin: 0 auto;
	height: 35px;
	width: 100%;
	float: left;
	line-height: 35px;
	color: #1cb6b4;
}

#cv-content p.h3 {
	margin: 0px;
	padding: 0px;
	margin-left: 76px;
}

#cv-content .cvo-block {
	padding: 0 !important;
	float: left;
	width: 100%;
}

#cv-content .ir .cvo-block {
	padding: 0;
}

#cv-content span {
	display: inline-block;
	z-index: 9999;
}

.ctbx {
	margin-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	padding-right: 20px;
	float: left;
}

.ctbx:hover {
	box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
	display: block;
}

[cvo-form-field] {
	cursor: text;
}

#cvo-profile-avatar-wraper {
	width: 35%;
	height: 210px;
	float: left;
	display: table;
	padding-top: 54px;
	padding-left: 54px;
}

#cv-profile-sex::before {
	color: #000;
}

#cv-profile-birthday::before {
	color: #000;
}

#cv-profile-address::before {
	color: #000;
}

#cv-profile-email::before {
	color: #000;
}

#cv-profile-phone::before {
	color: #000;
}

#cvo-profile-avatar-wraper .wimg {
	width: 270px;
	/* 
    height: 211px; */
	float: left;
	display: unset;
	border-radius: 50%;
	margin-top: 9px;
}

#cvo-profile-avatar-wraper img {
	border: solid 5px #fff;
	width: 289px;
	margin-left: 8px;
	height: 250px;
	float: left;
	border-radius: 50%;
}

#cvo-profile .box-dm {
	width: 290px;
	height: 282px;
	padding: 0;
	margin: 0;
	float: left;
	display: table;
	margin-left: 46px;
	background: url(anhh1.png)no-repeat;
	background-size: 100% 100%;
	clear: both;
	z-index: 1;
	margin-top: -282px;
	top: -800px;
	position: absolute;
}

.box-01 {
	float: left;
	width: 100%;
	height: 380px;
}

#cvo-profile {
	display: block;
	float: left;
	width: 100%;
}

#line-seperate {
	height: 25px;
}

.bar-exp div {
	border-radius: 20px;
	float: left;
	height: 5px;
	background: #1cb6b4;
	margin-top: 0px;
}

.ctbx .skill-name {
	margin: 0px;
	padding: 0px;
	color: #000;
	float: left;
	width: 100%;
}

.bar-exp {
	background: #959595;
	border: 1px solid #1cb6b4;
	border-radius: 5px;
	height: 25px;
	background-size: 100% 100%;
	height: 5px;
	float: left;
	margin-bottom: 0px;
	padding: 0px;
	float: left;
	width: 80%;
	margin-left: 25px;
}

.bar-value-exp {
	width: 100%
}

.bar-value-exp input[type="text"] {
	color: #000;
	width: 95%;
	height: 70px;
}

.icoweb label {
	display: block;
}

.ic .icoweb {
	width: 83%;
	font-size: 16px;
	text-align: left;
	float: left;
	color: #000000;
}

#sortable .ic {
	margin: 0;
}

.ic {
	width: 100%;
	float: left;
	color: #000;
	margin: 0;
	padding-bottom: 10px;
}

#prof [contentEditable=true] {
	width: 100%;
	float: left;
}

#prof .icoweb,
#prof .icoweb span {
	height: auto;
}

div#prof {
	float: left;
	width: 95%;
	margin-left: 20px;
	padding: 15px 0px;
}

#form-cv .icf1 {
	float: left;
	margin-bottom: 0;
	width: 25px;
	line-height: 25px;
	height: 25px;
	text-align: left;
	/* 
    	background: url(ic_03.png)no-repeat;
    	background-position: left;
    	background-size: 100% 100%; */
}

#form-cv .icf2 {
	float: left;
	margin-bottom: 0;
	width: 25px;
	line-height: 25px;
	height: 25px;
	text-align: left;
	/* 
    	background: url(ic_06.png)no-repeat;
    	background-position: left;
    	background-size: 100% 100%; */
}

#form-cv .icf3 {
	float: left;
	margin-bottom: 0;
	width: 25px;
	line-height: 25px;
	height: 25px;
	text-align: left;
	/* 
    	background: url(ic_08.png)no-repeat;
    	background-position: left;
    	background-size: 100% 100%; */
}

#form-cv .icf4 {
	float: left;
	margin-bottom: 0;
	width: 25px;
	line-height: 16px;
	height: 16px;
	text-align: left;
	/* 
    	background: url(ic_10.png)no-repeat;
    	background-position: left;
    	background-size: 100% 100%; */
	margin-top: 5px;
}

#form-cv .icf5 {
	float: left;
	margin-bottom: 0;
	width: 25px;
	line-height: 25px;
	height: 25px;
	text-align: left;
	/* 
    	background: url(ic_12.png)no-repeat;
    	background-position: left;
    	background-size: 100% 100%; */
}

.icf .fa {
	font-size: 20px;
	color: #000;
	margin: 0;
}

#form-cv .fa {
	font-size: 14px;
}

.container {
	width: 100%;
}

#box03 {
	/* margin-top: 100px!important; */
}

.sum {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
}

#cv-right .block {
	margin-bottom: 10px;
	position: relative;
	padding: 0;
	padding-bottom: 20px;
}

#cv-content .head {
	padding: 0;
	margin: 0 auto;
	background: url(cham.png)no-repeat;
	background-position: bottom;
	height: 35px;
	float: left;
	width: 100%;
	z-index: 1;
}

div#experience-table {
	float: left;
	width: 90%;
	margin-left: 30px;
	margin-top: 10px;
}

#experience-table .ctbx {}

.ifo {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
}

#cv-right h3 {
	width: 100%;
	height: 30px;
	margin: 0;
	color: #ffffff;
	padding: 0;
	float: left;
	line-height: 30px;
	text-align: center;
	background: #b82731;
}

#cvo-experience-blocktitle {
	color: #1cb6b4;
	text-align: left;
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	width: 48.6%;
	border-bottom: 4px solid #2d3235;
	font-size: 18px;
	padding-bottom: 5px;
}

#bg {
	background: #1cb6b4;
	text-align: left;
}

div#experience-table {
	margin: 0px;
	width: 100%;
	float: left;
	color: #000;
}

.tt-box1 {
	padding: 0;
	margin: 0 auto;
	height: 35px;
	width: 100%;
	float: left;
	line-height: 35px;
	color: #1cb6b4;
}

div#cv-boxtitle {
	color: #1cb6b4;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.ski {
	background: url(gach.png)no-repeat left;
	background-size: 38% 6%;
	float: right;
	width: 29%;
	text-align: right;
	color: #1cb6b4;
}

div#box01 {
	float: left;
	width: 100%;
	padding-top: 50px;
}

.footer {
	background: url(footer.png)no-repeat;
	background-size: 100% 100%;
	height: 70px;
	float: left;
	width: 100%;
}

div#sort_block {
	padding: 0;
	margin: 0;
}

.cvo-block .blockControls {
	margin: 0px;
	padding: 0px 5px;
}

/*   #block01{
  	background: url(bg_03.png)no-repeat;
  	background-position: right top;
  }
  #block02{
  	background: url(bg_06.png)no-repeat;
  	background-position: right top;
  }
  #box01{
    background: url(bg_02.png)no-repeat left;
    background-size: 100%;
  }
    #box02{
    background: url(bg_08.png)no-repeat left;
  }
    #box04{
    background: url(bg_10.png)no-repeat left;
  }
    #box07{
    background: url(bg_12.png)no-repeat left;
    background-size: 100% 100%;
  }
   #box03 .ctbx{
   		border-bottom:2px solid #2d2d2d;	s
   } */

#box04 .cum {
	text-align: left;
	width: 30px;
}

#box05.cv-boxtitle {
	text-align: left;
	width: 30px;
}

#box05 #cv-boxtitle {
	text-align: left;
	width: 30px;
}

#box06 #cv-boxtitle {
	text-align: left;
	width: 30px;
}

#box07 #cv-boxtitle {
	text-align: left;
}

#box04.cum {
	padding: 0;
	margin: 0 auto;
	height: 35px;
	width: 10%;
	float: left;
	line-height: 35px;
}

#box05.cum {
	padding: 0;
	margin: 0 auto;
	height: 35px;
	width: 10%;
	float: left;
	line-height: 35px;
	color: #1cb6b4;
}

#box06.cum {
	padding: 0;
	margin: 0 auto;
	height: 35px;
	width: 10%;
	float: left;
	line-height: 35px;
	color: #1cb6b4;
}

#box07.cum {
	padding: 0;
	margin: 0 auto;
	height: 35px;
	width: 100%;
	float: left;
	line-height: 35px;
	color: #1cb6b4;
}

#block04 .exp-content {
	margin-left: 75px;
}

#block01 .exp-content {
	margin-left: 75px;
}

#block03 .exp-content {
	margin-left: 75px;
}