#cv-content .head span{
    color: #182641;
}
#cv-right h3{
    color: #182641;
}
#cvo-profile-avatar-wraper{
    border: solid 4px #182641;
}
#form-cv{
    /* background:#cfd6e6; */
}
#cv-content{
    background:#cfd6e6;
}
#cv-top{
	/* text-align: center; */
	/* padding-top: 30px; */
	/* padding-bottom: 30px; */
	background-image: url(bg3.png);
	background-position: left top;
	/* height: 153px; */
}