#cv-content .head span{
    color: #be1e2d;
}
#cv-right h3{
    color: #be1e2d;
}
#cvo-profile-avatar-wraper{
    border: solid 4px #be1e2d;
}
#form-cv{
    /* background:#f9f0e0; */
}
#cv-content{
    background:#f9f0e0;
}
#cv-top{
	background-image: url(bg4.png);
	background-position: left top;
	/* height: 153px; */
}