#form-cv {
    font-family: "Roboto", sans-serif;
    background: url(bg3.png)repeat-y;
}

#cv-top {
    width: 100%;

    background-image: url(hd3.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#sortable .cvo-block .box-content {
    color: #52091a;
}

#cv-content h3 {

    color: #52091a;
}

#cvo-profile-avatar-wraper .wimg {

    border: 2px solid #52091a;
}

.ctbx .skill-name {

    color: #52091a;
}

.bar-exp {
    background: #fff;

    border: 1px solid #52091a;

}

#sortable .icoweb {

    color: #52091a;
}

.icf .fa {

    color: #52091a;

}

#cv-content .head {

    border-bottom: 2px solid #52091a;

}

#cv-content .head #cvo-experience-blocktitle {
    color: #52091a;
}

.tt-box1 {

    border-bottom: 2px solid #52091a;
}

div#cv-boxtitle {

    color: #52091a;
}

.ski {

    border-bottom: 2px solid #52091a;

}

.cum {

    line-height: 45px;
    border-bottom: 2px solid #52091a;

}

.bar-exp div {

    background: #52091a;

}

.cumicc1 {

    background: url(icon6b.png);
    background-position: center right;
    background-repeat: no-repeat;
}

.cumic2 {

    background: url(icon7b.png);
    background-position: center right;
    background-repeat: no-repeat;

}

.cumicc3 {

    background: url(icon8b.png);
    background-position: center right;
    background-repeat: no-repeat;

}

.cumic4 {

    background: url(icon9b.png);
    background-position: center right;
    background-repeat: no-repeat;

}

.cumic5 {

    background: url(icon10b.png);
    background-position: center right;
    background-repeat: no-repeat;
}

.cumic6 {
    background: url(icon11b.png);
    background-position: center right;
    background-repeat: no-repeat;
}

.cumic7 {

    background: url(icon12b.png);
    background-position: center right;
    background-repeat: no-repeat;

}

.icright1 {

    background: url(icon1b.png);
    background-position: center right;
    background-repeat: no-repeat;

}

.icright2 {

    background: url(icon2b.png);
    background-position: center right;
    background-repeat: no-repeat;
}

.icright3 {

    background: url(icon3b.png);
    background-position: center right;
    background-repeat: no-repeat;

}

.icright4 {

    background: url(icon4b.png);
    background-position: center right;
    background-repeat: no-repeat;

}

.icright5 {

    background: url(icon5b.png);
    background-position: center right;
    background-repeat: no-repeat;

}


.footer {
    float: left;
    width: 100%;
    /* height: 184px; */
    background: url(ft3.png)no-repeat;
    background-size: 100% 100%;
    /* margin-top: -20px; */
}